@model Teeyoot.FeaturedCampaigns.ViewModels.AdminFeaturedCampaignsViewModel
@{
    Layout.Title = T("Campaigns").ToString();
    string colorAdmin = "#FFEBCD";
    string colorTOP = "#00FFFF";
    string colorOther = "#FFFFFF";
    Style.Include("jquery.dataTables.css");
    Script.Require("jQuery");
    Script.Include("jquery.dataTables.min.js");
}

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }
    <fieldset>
        <table class="items" id="campaign-table">
            <thead>
                <tr>
                    <th>@T("Campaign Id")</th>
                    <th>@T("Campaign name")</th>
                    <th>@T("Create date")</th>
                    <th>@T("Active")</th>
                    <th>@T("Sold last 24 hours")</th>
                    <th>@T("Sold / Minimum / Goal")</th>
                    <th>@T("Approved")</th>
                    <th>@T("Featured")</th>
                    <th>@T("Action")</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Campaigns.Length > 0)
                {
                    int colorIndex = Model.StartedIndex == null ? 0 : Model.StartedIndex;
                    foreach (var camp in Model.Campaigns)
                    {
                        var isFeatured = camp.Campaign.IsFeatured ? T("Yes").ToString() : T("No").ToString();
                        var isActive = camp.Campaign.IsActive ? T("Yes").ToString() : T("No").ToString();
                        var value = camp.Last24HoursSold > 0 ? camp.Last24HoursSold.ToString() : "-";

                        var color = camp.Campaign.IsFeatured ? colorTOP : (camp.Last24HoursSold > 0 ? colorAdmin : colorOther);

                        <tr style="background-color: @color">
                            <td>@camp.Campaign.Id</td>
                            <td><a href="~/@camp.Campaign.Alias">@camp.Campaign.Title</a></td>
                            <td>@camp.Campaign.CreatedDate.ToString("dd/MM/yyyy")</td>
                            <td>@T(isActive)</td>
                            <td>@value</td>
                            <td>@camp.Campaign.Sold / @camp.Campaign.Minimum / @camp.Campaign.Goal</td>
                            <td>
                                @if (camp.Campaign.IsApproved)
                                {
                                    <span style="font-weight:600">@T("Yes")</span>
                                }
                                else
                                {
                                    <a style="text-decoration:underline" href="@Url.Action("Approve", new {  id = camp.Campaign.Id })" title="@T("Approve")">@T("Yes")</a>
                                }
                                <span> / </span>
                                @if (camp.Campaign.Rejected)
                                {
                                    <span style="font-weight:600">@T("No")</span>
                                }
                                else
                                {
                                    <a style="text-decoration:underline" href="@Url.Action("Reject", new {  id = camp.Campaign.Id })" title="@T("Reject")">@T("No")</a>
                                }

                            </td>
                            <td>
                                @if (camp.Campaign.IsActive)
                                {
                                    if (camp.Campaign.IsFeatured)
                                    {
                                        <span style="font-weight:600">@T("Yes")</span>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ChangeVisible", new { id = camp.Campaign.Id, visible = true })" title="@T("Mark as featured")">@T("Yes")</a>
                                    }
                                    <span> / </span>
                                    if (!camp.Campaign.IsFeatured)
                                    {
                                        <span style="font-weight:600">@T("No")</span>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("ChangeVisible", new {  id = camp.Campaign.Id, visible = false })" title="@T("Unmark as featured")">@T("No")</a>
                                    }
                                }

                            </td>
                            <td>                              
                                @if (!camp.Campaign.IsActive)
                                {
                                    @*@T(" | ")*@
                                    <a href="@Url.Action("DeleteCampaign", new { id = camp.Campaign.Id })" title="@T("Delete")">@T("Delete")</a>
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </fieldset>
</div>

@using (Script.Foot())
{
    <script>
        var campaignTable = $('#campaign-table').dataTable();
    </script>
    
    <script>
        $(document).ready(function () {
            var textnode = document.createTextNode(" @Model.NotApprovedTotal");     
            var node = document.createElement("text");                 
                  
            node.appendChild(textnode);
            document.getElementsByClassName("local-section-status")[0].appendChild(node);
        });
    </script>
}