@{
    @model Teeyoot.FeaturedCampaigns.ViewModels.ExportPrintsViewModel
    Style.Include("jquery.dataTables.css");
    Script.Require("jQuery");
    Script.Include("jquery.dataTables.min.js");
    Layout.Title = T("Export");
}

<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }

    <table class="items" id="campaign-table">
        <thead>
            <tr> 
                <th>@T("Campaign Id")</th>             
                <th>@T("Campaign name")</th>
                <th>@T("Create date")</th> 
                <th>@T("Active")</th>
                <th>@T("Sold last 24 hours")</th>
                <th>@T("Sold / Minimum / Goal")</th>
                <th>@T("Approved")</th>
                <th>@T("Actions")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Campaigns.Length > 0)
            {
                foreach (var c in Model.Campaigns)
                {
                    var isActive = c.IsActive ? T("Yes").ToString() : T("No").ToString();
                    var value = c.Last24HoursSold > 0 ? c.Last24HoursSold.ToString() : "-";

                    <tr data-record-text="@c.Id" class="contentItems">  
                        <td>@c.Id</td>                                           
                        <td><a target="_blank" href="/@c.Alias">@c.Title</a></td>
                        <td>@c.CreatedDate</td>
                        <td>@T(isActive)</td>
                        <td>@value</td>
                        <td>@c.Sold / @c.Minimum / @c.Goal</td>
                        <td>@c.IsApproved</td>
                        <td>
                            <a href="@Url.Action("ExportPrints", new { id = c.Id })" title="@T("Export prints")">@T("Export prints")</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@using (Script.Foot())
{
    <script>
        var applyAction = function () {
            return false;
        }
    </script>

    <script>     
        $(document).ready(function () {
            var campaignTable = $('#campaign-table').dataTable({
                "aLengthMenu": [[5, 10, 25, 50, 100, 500, 1000, -1], [5, 10, 25, 50, 100, 500, 1000, "All"]],
                iDisplayLength: 10,
                bSortable: true,
                aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [1], "bSortable": true },
                { "aTargets": [2], "bSortable": true, "sType": "date-eu" },
                { "aTargets": [3], "bSortable": true },
                { "aTargets": [4], "bSortable": true },
                { "aTargets": [5], "bSortable": true },
                { "aTargets": [6], "bSortable": true }
                ]
            });
        });

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-eu-pre": function (date) {
                date = date.replace(" ", "");

                if (!date) {
                    return 0;
                }

                var year;
                var eu_date = date.split(/[\.\-\/]/);

                /*year (optional)*/
                if (eu_date[2]) {
                    year = eu_date[2];
                }
                else {
                    year = 0;
                }

                /*month*/
                var month = eu_date[1];
                if (month.length == 1) {
                    month = 0 + month;
                }

                /*day*/
                var day = eu_date[0];
                if (day.length == 1) {
                    day = 0 + day;
                }

                return (year + month + day) * 1;
            },

            "date-eu-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-eu-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>
    
    <script>
    $(document).ready(function () {
        var textnode = document.createTextNode(" (@Model.NotApprovedTotal)");
        var node = document.createElement("text");

        node.appendChild(textnode);
        document.getElementsByClassName("local-section-status")[0].appendChild(node);
    });
    </script>
}
