@model Teeyoot.Messaging.ViewModels.MailChimpListViewModel
@{
    Layout.Title = T("Mandrill Settings").ToString();
    Style.Include("AdminContentMessage.css");
}
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }

    @if (Model != null)
    {

        using (Html.BeginForm("Index", "AdminMessage", FormMethod.Get))
        {
            <fieldset class="bulk-actions">

                @Html.DropDownListFor(m => m.Culture, Model.AvailableLanguages.Select(l => new SelectListItem
                                            {
                                                Selected = l.Code == Model.Culture,
                                                Text = l.Name,
                                                Value = l.Code
                                            }))

                <button type="submit">@T("Apply")</button>
            </fieldset>
        }
        if (Model.ApiKey != null)
        {
            <div style="width:100%; margin-top:20px;">
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; ">
                    <div style="width:25%;  text-align:center;padding-top:10px ">Api Key</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.ApiKey</div>
                    <div class="delete-button">
                        <a class="button primaryAction" style="margin-right:5px" href="@Url.Action("EditMailChimpSetting", new { id = Model.Id, returnUrl = Request.Url.PathAndQuery })" title="@T("Edit")">@T("Edit")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top: 10px; ">
                    <div style=" width:25%;text-align:center;padding-top:10px">Seller Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.SellerTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "seller-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button" href="@Url.Action("Delete", "AdminMessage", new { templateName = "seller-template" ,  returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style=" width:25%;  text-align:center;padding-top:10px">Welcome Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.WelcomeTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "welcome-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "welcome-template" ,  returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex;  margin-top: 10px;">
                    <div style=" width:25%; text-align:center;padding-top:10px">Relaunch Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea; text-align:center;padding-top:10px ">@Model.RelaunchTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "relaunch-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "relaunch-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex;  margin-top: 10px;">
                    <div style=" width:25%; text-align:center;padding-top:10px">Launch Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea; text-align:center;padding-top:10px ">@Model.LaunchTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "launch-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "launch-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Withdraw Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.WithdrawTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "withdraw-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button  primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "withdraw-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Place Order Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.PlaceOrderTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "place-order-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "place-order-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Campaign Promo Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.CampaignPromoTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "campaign-promo-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "campaign-promo-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Unpaid Campaign Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.UnpaidCampaignTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "unpaid-campaign-template-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "unpaid-campaign-template-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Partially Paid Campaign Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.PartiallyPaidCampaignTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "partially-paid-campaign-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "partially-paid-campaign-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Paid Campaign Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.PaidCampaignTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "paid-campaign-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "paid-campaign-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Campaign Not Reach Goal Buyer Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.CampaignNotReachGoalBuyerTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "not-reach-goal-buyer-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "not-reach-goal-buyer-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Campaign Not Reach Goal Seller Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.CampaignNotReachGoalSellerTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "not-reach-goal-seller-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "not-reach-goal-seller-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Delivered Order Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.DeliveredOrderTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "delivered-order-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "delivered-order-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Shipped Order Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.ShippedOrderTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "shipped-order-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "shipped-order-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Cancelled Order Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.CancelledOrderTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "cancelled-order-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "cancelled-order-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Order Is Printing Buyer Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.OrderIsPrintingBuyerTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "order-is-printing-buyer-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "order-is-printing-buyer-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>
                <div style="width:100%; height:40px; font-size:15px; font-weight:500; display:flex; margin-top:10px">
                    <div style="width:25%;  text-align:center;padding-top:10px">Campaign Is Printing Seller Template</div>
                    <div style="width:25%; border: 1px solid #eaeaea;text-align:center;padding-top:10px ">@Model.CampaignIsPrintingSellerTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "campaign-is-printing-seller-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="Upload File">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "campaign-is-printing-seller-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                </div>

            </div>
        }
        else
        {
            <div><h3>There are no setting to this language</h3></div>
            <a class="button primaryAction" style="margin-right:5px" href="@Url.Action("AddSetting", new { returnUrl = Request.Url.ToString(), language = Model.Culture })" title="@T("Add")">@T("Add")</a>
        }
    }

</div>

