@model Teeyoot.Messaging.ViewModels.MailChimpListViewModel
@{
    Layout.Title = T("Mandrill Settings").ToString();
    Style.Include("AdminContentMessage.css");
}
<div>
    @using (Script.Foot())
    {
        <script>
            function downloadTemplate(fileName) {
                $.ajax({
                    async: false,
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("Download", "AdminMessage"))",
                    data: { "fileName": fileName },
                    success: function (data) {
                    }, error: function (data, status, resp) {
                        alert('Status: ' + data.status + '. Error message: ' + data.statusText);
                    }
                });
            };
        </script>
    }


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }

    @if (Model != null)
    {

        using (Html.BeginForm("Index", "AdminMessage", FormMethod.Get))
        {
            <fieldset class="bulk-actions">

                @Html.DropDownListFor(m => m.Culture, Model.AvailableLanguages.Select(l => new SelectListItem
                                            {
                                                Selected = l.Code == Model.Culture,
                                                Text = l.Name,
                                                Value = l.Code
                                            }))

                <button type="submit">@T("Apply")</button>
            </fieldset>
        }
        if (Model.ApiKey != null)
        {
            <div class="mandrillForm">
                <div class="apiKeyRow">
                    <div class="alias">@T("Api Key")</div>
                    <div class="fileNameInput">@Model.ApiKey</div>
                    <div class="delete-button">
                        <a class="button primaryAction" style="margin-right:5px" href="@Url.Action("EditMailChimpSetting", new { id = Model.Id, returnUrl = Request.Url.PathAndQuery })" title="@T("Edit")">@T("Edit")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Seller Template")</div>
                    <div class="fileNameInput">@Model.SellerTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "seller-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button" href="@Url.Action("Delete", "AdminMessage", new { templateName = "seller-template" ,  returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "seller-template" ,  returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>

                </div>
                <div class="fileRow">
                    <div class="alias">@T("Welcome Template")</div>
                    <div class="fileNameInput">@Model.WelcomeTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "welcome-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "welcome-template" ,  returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "welcome-template" ,  returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Relaunch Template")</div>
                    <div class="fileNameInput">@Model.RelaunchTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "relaunch-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "relaunch-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "relaunch-template" ,  returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Launch Template")</div>
                    <div class="fileNameInput">@Model.LaunchTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "launch-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "launch-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "launch-template" ,  returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Withdraw Template")</div>
                    <div class="fileNameInput">@Model.WithdrawTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "withdraw-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button  primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "withdraw-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "withdraw-template" ,  returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Place Order Template")</div>
                    <div class="fileNameInput">@Model.PlaceOrderTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "place-order-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                   <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "place-order-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "place-order-template" ,  returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Campaign Promo Template")</div>
                    <div class="fileNameInput">@Model.CampaignPromoTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "campaign-promo-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "campaign-promo-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "campaign-promo-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Unpaid Campaign Template")</div>
                    <div class="fileNameInput">@Model.UnpaidCampaignTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "unpaid-campaign-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "unpaid-campaign-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "unpaid-campaign-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Partially Paid Campaign Template")</div>
                    <div class="fileNameInput">@Model.PartiallyPaidCampaignTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "partially-paid-campaign-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "partially-paid-campaign-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "partially-paid-campaign-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Paid Campaign Template")</div>
                    <div class="fileNameInput">@Model.PaidCampaignTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "paid-campaign-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "paid-campaign-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "paid-campaign-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Campaign Not Reach Goal Buyer Template")</div>
                    <div class="fileNameInput">@Model.CampaignNotReachGoalBuyerTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "not-reach-goal-buyer-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "not-reach-goal-buyer-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "not-reach-goal-buyer-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Campaign Not Reach Goal Seller Template")</div>
                    <div class="fileNameInput">@Model.CampaignNotReachGoalSellerTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "not-reach-goal-seller-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                       <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "not-reach-goal-seller-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "not-reach-goal-seller-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Delivered Order Template")</div>
                    <div class="fileNameInput">@Model.DeliveredOrderTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "delivered-order-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "delivered-order-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "delivered-order-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Shipped Order Template")</div>
                    <div class="fileNameInput">@Model.ShippedOrderTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "shipped-order-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "shipped-order-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "shipped-order-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Cancelled Order Template")</div>
                    <div class="fileNameInput">@Model.CancelledOrderTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "cancelled-order-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "cancelled-order-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "cancelled-order-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Order Is Printing Buyer Template")</div>
                    <div class="fileNameInput">@Model.OrderIsPrintingBuyerTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "order-is-printing-buyer-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                        <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "order-is-printing-buyer-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "order-is-printing-buyer-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>
                <div class="fileRow">
                    <div class="alias">@T("Campaign Is Printing Seller Template")</div>
                    <div class="fileNameInput">@Model.CampaignIsPrintingSellerTemplate</div>
                    @using (Html.BeginForm("UploadTemplate", "AdminMessage", new { templateName = "campaign-is-printing-seller-template" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input style="margin-left:5px" type="file" name="file" id="name" />
                    <input class="button primaryAction" type="submit" value="@T("Upload File")">
                    }
                    <div>
                        <a class="button delete-button primaryAction" href="@Url.Action("Delete", "AdminMessage", new { templateName = "campaign-is-printing-seller-template", returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                    </div>
                    <div>
                        <a class="button delete-button" href="@Url.Action("Download", "AdminMessage", new { fileName = "campaign-is-printing-seller-template", returnUrl = Request.Url.PathAndQuery })">@T("Download")</a>
                    </div>
                </div>

            </div>
        }
        else
        {
            <div><h3>@T("There are no setting to this language")</h3></div>
            <a class="button primaryAction" style="margin-right:5px" href="@Url.Action("AddSetting", new { returnUrl = Request.Url.ToString(), language = Model.Culture })" title="@T("Add")">@T("Add")</a>
        }
    }

</div>

