@model Teeyoot.Module.ViewModels.OrderTrackingViewModel
@{
    Style.Include("bootstrap.min.css");
    Style.Include("track.css");
}

<div class="order-tracker">
    <div class="row">
        <div class="col-md-12">
            <h1 class="h1">@T("Order Tracker")</h1>
        </div>
    </div>

    <!-- Track Bar -->
    <div class="row">
        <div class="track-bar hidden-xs offset-top offset-top-large">

            @if(Model.Status.Name == Teeyoot.Module.Common.Enums.OrderStatus.Reserved.ToString())
            {
                <div class="col-sm-3">          
                    <div class="track-position track-order-current" id="track-order">
                        <div class="track-state">
                            <img alt="Order" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/order-1cafc063faffc3ee4e2ec8fc8bff8572.png">
                            @T("Order placed")
                            <span>1</span>
                        </div>
                        <div class="track-arrow"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-future" id="track-print">
                        <div class="track-state">
                            <img alt="Print" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/print-b7289e70dccefac91318aae2b79684ca.png">
                            @T("Printing")
                            <span>2</span>
                        </div>
                        <div class="track-arrow"></div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-future" id="track-ship">
                        <div class="track-state">
                            <img alt="Ship" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/ship-9952054f10dbebebbbb7e64a0fc16bcc.png">
                            @T("Shipped")
                            <span>3</span>
                        </div>
                        <div class="track-arrow"></div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-future" id="track-deliver">
                        <div class="track-state">
                            <img alt="Deliver" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/deliver-0e278f07a2750522b9d74324b271d90a.png">
                            @T("Delivered")
                            <span>4</span>
                        </div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>
            }
            
            @if (Model.Status.Name == Teeyoot.Module.Common.Enums.OrderStatus.Printing.ToString() || Model.Status.Name == Teeyoot.Module.Common.Enums.OrderStatus.Cancelled.ToString())
            {
                <div class="col-sm-3">
                    <div class="track-position track-order-past" id="track-order">
                        <div class="track-state">
                            <img alt="Order" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/order-1cafc063faffc3ee4e2ec8fc8bff8572.png">
                            @T("Order placed")
                            <span>1</span>
                        </div>
                        <div class="track-arrow"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-current" id="track-print">
                        <div class="track-state">
                            <img alt="Print" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/print-b7289e70dccefac91318aae2b79684ca.png">
                            @T(Model.Status.Name)
                            <span>2</span>
                        </div>
                        <div class="track-arrow"></div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-future" id="track-ship">
                        <div class="track-state">
                            <img alt="Ship" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/ship-9952054f10dbebebbbb7e64a0fc16bcc.png">
                            @T("Shipped")
                            <span>3</span>
                        </div>
                        <div class="track-arrow"></div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-future" id="track-deliver">
                        <div class="track-state">
                            <img alt="Deliver" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/deliver-0e278f07a2750522b9d74324b271d90a.png">
                            @T("Delivered")
                            <span>4</span>
                        </div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>
            }
            
            @if (Model.Status.Name == Teeyoot.Module.Common.Enums.OrderStatus.Shipped.ToString())
            {
                <div class="col-sm-3">
                    <div class="track-position track-order-past" id="track-order">
                        <div class="track-state">
                            <img alt="Order" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/order-1cafc063faffc3ee4e2ec8fc8bff8572.png">
                            @T("Order placed")
                            <span>1</span>
                        </div>
                        <div class="track-arrow"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-past" id="track-print">
                        <div class="track-state">
                            <img alt="Print" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/print-b7289e70dccefac91318aae2b79684ca.png">
                            @T("Printing")
                            <span>2</span>
                        </div>
                        <div class="track-arrow"></div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-current" id="track-ship">
                        <div class="track-state">
                            <img alt="Ship" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/ship-9952054f10dbebebbbb7e64a0fc16bcc.png">
                            @T("Shipped")
                            <span>3</span>
                        </div>
                        <div class="track-arrow"></div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-future" id="track-deliver">
                        <div class="track-state">
                            <img alt="Deliver" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/deliver-0e278f07a2750522b9d74324b271d90a.png">
                            @T("Delivered")
                            <span>4</span>
                        </div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>
            }
            
            @if (Model.Status.Name == Teeyoot.Module.Common.Enums.OrderStatus.Shipped.ToString())
            {
                <div class="col-sm-3">
                    <div class="track-position track-order-past" id="track-order">
                        <div class="track-state">
                            <img alt="Order" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/order-1cafc063faffc3ee4e2ec8fc8bff8572.png">
                            @T("Order placed")
                            <span>1</span>
                        </div>
                        <div class="track-arrow"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-past" id="track-print">
                        <div class="track-state">
                            <img alt="Print" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/print-b7289e70dccefac91318aae2b79684ca.png">
                            @T("Printing")
                            <span>2</span>
                        </div>
                        <div class="track-arrow"></div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-past" id="track-ship">
                        <div class="track-state">
                            <img alt="Ship" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/ship-9952054f10dbebebbbb7e64a0fc16bcc.png">
                            @T("Shipped")
                            <span>3</span>
                        </div>
                        <div class="track-arrow"></div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="track-position track-order-current" id="track-deliver">
                        <div class="track-state">
                            <img alt="Deliver" src="https://d1b2zzpxewkr9z.cloudfront.net/compiled_assets/v2/web/track/deliver-0e278f07a2750522b9d74324b271d90a.png">
                            @T("Delivered")
                            <span>4</span>
                        </div>
                        <div class="track-margin-line"></div>
                    </div>
                </div>
            }
            
        </div>
    </div>

    <!-- Information -->
    <div class="track-stats offset-top">
        <div class="row">
            <div class="col-md-12">
                <div id="blank-header"></div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8">
                <div class="track-left">
                    <div class="track-inner">
                        <span class="badge badge-success">@("Status")</span> @T("Updated") @(Model.Events.Count() > 0 ? 
                        Model.Events.Last().EventDate.ToLocalTime().ToString("dd MMM HH:mm", System.Globalization.CultureInfo.GetCultureInfo("en-US")) :
                        Model.CreateDate) 
                        <div class="offset-top offset-top-small offset-top-xs"></div>

                        @if(Model.Status.Name == Teeyoot.Module.Common.Enums.OrderStatus.Reserved.ToString())
                        {
                            <h2 class="h2">@T("You placed an order")</h2>
                            <p class="offset-top offset-top-small">
                                @T("Congratulations, share your recent order to help push the campaign " + 
                                    "over the top and we get to print your great shirt.")
                            </p>
                            <p>
                                <a id="cancel_order_link" href="#">@T("Cancel order")</a>
                            </p>
                        }
                        
                        @if (Model.Status.Name == Teeyoot.Module.Common.Enums.OrderStatus.Printing.ToString())
                        {
                            <h2 class="h2">@T("We're printing your order")</h2>
                            <p class="offset-top offset-top-small">
                                @T("We're producing your order and making sure you get a beautiful, high-quality print! " +
                                    "We will e-mail you with your USPS tracking number once printing completes and your order ships.")
                            </p>
                        }
                        
                        @if (Model.Status.Name == Teeyoot.Module.Common.Enums.OrderStatus.Cancelled.ToString())
                        {
                            <h2 class="h2">@T("Your order has been cancelled")</h2>
                            <p class="offset-top offset-top-small">
                                @T("Your order has been cancelled and will not be produced. " + 
                                    "If you were already charged, a refund will automatically be issued.")
                            </p>
                        }
                        
                        @if (Model.Status.Name == Teeyoot.Module.Common.Enums.OrderStatus.Shipped.ToString())
                        {
                            <h2 class="h2">@T("Shipped")</h2>
                            <p class="offset-top offset-top-small">
                                @T("Shipped")
                            </p>
                        }
                        
                        @if (Model.Status.Name == Teeyoot.Module.Common.Enums.OrderStatus.Delivered.ToString())
                        {
                            <h2 class="h2">@T("Delivered")</h2>
                            <p class="offset-top offset-top-small">
                                @T("Delivered")
                            </p>
                        }

                        <hr>
                        <h4 class="h4">@T("Order history")</h4>
                        <ul class="list-unstyled">

                            <li>
                                <span class="badge">@Model.CreateDate</span>
                                @T("Order for") <a href="/@Model.CampaignAlias">@Model.CampaignName</a> @T("placed")
                            </li>

                            @foreach(var e in Model.Events)
                            {
                                <li>
                                    <span class="badge">@e.EventDate.ToLocalTime().ToString("dd MMM HH:mm", System.Globalization.CultureInfo.GetCultureInfo("en-US"))</span>
                                    @e.Event
                                </li>    
                            }
                            
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="track-right track-border-left">
                    <div class="track-inner">
                        <h4 class="h4">@T("Order summary")</h4>
                        
                            @foreach (var prod in Model.Products)
                            {
                                <p>
                                    <strong>( @prod.Count )</strong> @prod.ProductSizeRecord.SizeCodeRecord.Name - @prod.CampaignProductRecord.ProductRecord.Name<br>
                                </p>
                            }
                        <br />
                        <h4 class="h4">@T("Shipping to")</h4>
                        @foreach(var str in Model.ShippingTo)
                        { 
                            <div class="shipping-address">@str</div>
                        }
                    </div>
                    <div class="track-margin-line track-border-none"></div>
                </div>
            </div>

        </div>

    </div>

</div>

<div id="modal_form" style="display:none">
    <h3>@T("Cancel Order") #@Model.OrderPublicId</h3>
    <p>@T("Are you sure you want to cancel your order? You will not be able to re-open this order.")</p>
    <a class="button" href="@Url.Action("CancelOrder", new { orderId = Model.OrderId })">@T("Cancel order")</a>
    <button id="btn_not_now">@T("Not now")</button>
</div>
<div id="overlay"></div>

@using(Script.Foot())
{
    <script>

        $(document).ready(function () {
            $('#cancel_order_link').click(function (event) {
                event.preventDefault();
                $('#overlay').fadeIn(400,
                    function () {
                        $('#modal_form')
                            .css('display', 'block')
                            .animate({ opacity: 1, top: '50%' }, 200);
                    });
            });
           
            $('#modal_close, #btn_not_now').click(function () {
                $('#modal_form')
                    .animate({ opacity: 0, top: '45%' }, 200,
                        function () {
                            $(this).css('display', 'none');
                            $('#overlay').fadeOut(400);
                        }
                    );
            });
        });

    </script>
}