@{
    Style.Include("campaign.css");
    Style.Include("checkout.css");
    Script.Require("jQuery");
    Script.Include("jquery.validate.min.js");
    Script.Include("additional-methods.min.js");
    @model Teeyoot.Module.ViewModels.PaymentViewModel
}

<div class="site__content_container">
    <div class="site__wrapper">
        <div>@Html.ValidationSummary()</div>
        <div class="form__message form__message--error hidden" style="padding: 15px"></div>
        <div class="checkout__wrapper">
            <div class="checkout__container_main">
                <div class="checkout_form js_checkout_form">
                    <div class="checkout_form__header"><h2 class="checkout__title">@T("Checkout")</h2></div>
                    <div class="order_summary__wrapper js_order_summary">
                        <h2 class="checkout__title checkout__title--small">@T("Order Summary")</h2>
                        <table class="order_summary">
                            <tbody class="order_summary__items">

                                @foreach (var item in Model.Order.Products)
                                {
                                    int index = Model.Order.Products.IndexOf(item);
                                    int idSize = item.OrderRecord.Products[index].ProductSizeRecord.Id;
                                    float costSize = item.CampaignProductRecord.ProductRecord.SizesAvailable.Where(c => c.ProductSizeRecord.Id == idSize).First().SizeCost;
                                    float price = (float)item.CampaignProductRecord.Price + costSize;
                                    string colorName = item.ProductColorRecord == null ? item.CampaignProductRecord.ProductColorRecord.Name : item.ProductColorRecord.Name;
                                    string colorValue = item.ProductColorRecord == null ? item.CampaignProductRecord.ProductColorRecord.Value : item.ProductColorRecord.Value;
                                    string colorImage = (item.ProductColorRecord == null || item.ProductColorRecord.Id == item.CampaignProductRecord.ProductColorRecord.Id) ? item.CampaignProductRecord.Id.ToString() : item.CampaignProductRecord.Id + "_" + item.ProductColorRecord.Id;
                                    if (item.CampaignProductRecord.SecondProductColorRecord == null)
                                    {
                                        colorImage = item.CampaignProductRecord.Id.ToString();
                                    }

                                    <tr>
                                        <td>
                                            <div class="order_summary__item_image ">
                                                <img src="/Media/campaigns/@item.CampaignProductRecord.CampaignRecord_Id/@colorImage/normal/front.png">
                                            </div>
                                        </td>
                                        <td class="order_summary__item_name">
                                            @item.Count x @item.CampaignProductRecord.ProductRecord.Name
                                            <ul class="order_summary__item_options">
                                                <li>@item.ProductSizeRecord.SizeCodeRecord.Name</li>
                                                <li>
                                                    <span class="order_summary__item_color_label">@colorName</span>
                                                    <span class="order_summary__item_color" style="background-color: @colorValue"></span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="order_summary__item_price">
                                            @item.CampaignProductRecord.CurrencyRecord.Code @((price * item.Count).ToString("F2", System.Globalization.CultureInfo.InvariantCulture))
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="order_summary__breakdown_container">
                            <dl class="order_summary__breakdown">
                                @if (Model.Promotion != null && Model.Order.TotalPriceWithPromo != 0)
                                {
                                    <dt>
                                        @T("Discount")
                                    </dt>
                                    <dd><span class="order_summary__total">-@Model.Order.CurrencyRecord.Code @Model.Order.Promotion</span></dd>
                                }
                                @*<dt>

                                        @T("Shipping")
                                        <a class="order_summary__help_link" href="#" target="_new">
                                            <i class="ss-icon ss-standards">Help</i>
                                        </a>
                                    </dt>
                                    <dd>$12.50</dd>*@
                            </dl>
                            <dl class="order_summary__breakdown">
                                <dt>

                                    @T("Delivery")

                                </dt>
                                <dd id="parentDelivery" style="display:none">
                                    @Model.Order.CurrencyRecord.Code
                                    <span id="deliveryCost"></span>
                                </dd>
                            </dl>
                            <dl class="order_summary__breakdown">
                                <dt class="order_summary__total_label">
                                    @T("Total")
                                </dt>
                                <dd>
                                    @if (Model.Order.TotalPriceWithPromo != 0)
                                    {
                                        <span class="order_summary__total" >
                                            @Model.Order.CurrencyRecord.Code
                                            <span id="ordTotal"> @Model.Order.TotalPriceWithPromo.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)</span>
                                    </span>
                                    }
                                    else
                                    {
                                        <span class="order_summary__total">
                                            @Model.Order.CurrencyRecord.Code
                                            <span id="ordTotal">@Model.Order.TotalPrice.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)</span>
                                        </span>
                                    }

                                </dd>
                            </dl>
                            <dl class="order_summary__breakdown" id="message_err" style="display: none">
                                <span style="color:red;">
                                    @T("We provide cash on delivery within Kuala Lumpur, and Petaling Jaya areas only.")
                                </span>

                            </dl>

                        </div><div class="order_summary--offset js_order_summary--offset"></div>
                    </div>
                </div>
            </div>


            <div class="order_summary__container">
                <div class="order_summary__help">
                    <div class="order_summary__help__container">
                        <h2>@T("How does Teeyoot work?")</h2>
                        <p>@T("We won't charge you unless the campaign order reaches its minimum.")</p>
                        <h2>@T("What are my payment options?")</h2>
                        <p>@T("We accept payment via Cash on Delivery, Direct Bank Transfer, Debit or Credit Card.")</p>
                        <h2>@T("If I pay via Online Banking but the campaign does not reach its minimum, will I get a refund?")</h2>
                        <p>@T("Yes absolutely! We will refund the amount within 7 days after the campaign ends. Your interest is our top priority.")</p>
                    </div>
                    <div class="order_summary__help__container">
                        <h2>@T("How long will it take to get my shirt?")</h2>
                        <p>
                            <span class="js-delivery-estimate">
                                @T("Your order will arrive")
                                <span class="js-estimate-earliest">10</span> -
                                <span class="js-estimate-latest">15</span> @T("business days after the end of the campaign!")
                            </span>
                        </p>
                    </div>
                    <br>
                    <div class="message_Mol" style="display:none">
                        <span style="color:red" hei>
                            <p>@T("You will be redirected to the Online Banking system to complete the payment")</p>
                            <p>@T("You will be charged immediately after you place your order")</p>
                        
                        </span>
                    </div>
                </div>
            </div>



            <form action="@Url.Action("CreateTransaction")" method="POST" id="braintree-payment-form">
                @Html.AntiForgeryToken()
                @if (Model.Promotion != null)
                {
                    <input type="hidden" id="PromoId" name="PromoId" value=@Model.Promotion.PromoId>
                }
                <input type="hidden" id="OrderId" name="OrderId" value=@Model.Order.Id>
                <input type="hidden" id="OrderPublicId" name="OrderPublicId" value=@Model.Order.OrderPublicId>
                <div class="checkout__container">
                    <div class="checkout__legend">@T("Contact Info")</div>
                    <div>
                        <input autofocus="autofocus" class="form__textfield " id="Email" name="Email" placeholder="@T("Email address")" tabindex="1" type="text">
                        <label id="Email-error" class="error valid" for="Email"></label>
                    </div>

                    @*  @if (Model.PaumentMethod == 2)*@
                    @* {*@
                    <input type="hidden" name="paumentMeth" id="paymentMethod">
                    <div>
                        <ul class="payment-method-list">
                            @if (Model.CreditCard)
                            {
                                <li>
                                    <a href="javascript:;" class="payment-method" data-payment-method="creditcard">
                                        <p>@T("Credit / Debit Card ")</p>
                                    </a>
                                    <p class="recom">Recommended</p>
                                </li>
                            }
                            @if (Model.PayPal)
                            {
                                <li>
                                    <a href="javascript:;" class="payment-method" data-payment-method="paypal">
                                        <p>@T("Braintree PayPal")</p>
                                    </a>
                                </li>
                            }
                            @if (Model.Mol)
                            {
                                <li>
                                    <a href="javascript:;" class="payment-method" data-payment-method="mol">
                                        <p>@T("Online Banking")</p>
                                        @*<p>@T("Online Bancking")</p>*@
                                    </a>
                                </li>
                            }
                            @if (Model.CashDeliv)
                            {
                                <li>
                                    <a href="javascript:;" class="payment-method" data-payment-method="cash">
                                        <p>@T("Cash on delivery")</p>
                                    </a>
                                </li>

                            }
                            @*<p>recommended</p>*@
                        </ul>
                    </div>

                    <div style="clear: both;">
                    </div>
                    <div class="checkout__legend">
                        <div class="checkout__tool_tip--lock" data-tooltip="@T("All transactions are secure and encrypted.")">
                            <i class="checkout__lock_icon"></i>
                        </div>@T("Payment Info")
                    </div>

                    <div class="payment-method-container" id="payment_method_credit_card" style="display: none;">
                        <div id="accordion" class="accordion_min accordion">
                            <div class="contLable">

                                <label class="accordion__label_text" for="new-credit-card">
                                    @T("Credit Card")
                                    <div class="accordion__sub_label accordion__sub_label--sticky">
                                        <ul class="credit_card_list js_credit_card_list">
                                            <li>
                                                <div class="credit_card credit_card--visa js-credit-card-visa credit_card--disabled"></div>
                                            </li>
                                            <li>
                                                <div class="credit_card credit_card--amex js-credit-card-amex credit_card--disabled"></div>
                                            </li>
                                            <li>
                                                <div class="credit_card credit_card--mastercard js-credit-card-mastercard credit_card--disabled"></div>
                                            </li>
                                            <li>
                                                <div class="credit_card credit_card--discover js-credit-card-discover credit_card--disabled"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </label>

                                <div class="accordion__content">

                                    <div>
                                        <input class="form__textfield  js-cc-number" name="number" data-stripe="number" id="cc-number" inputmode="numeric" pattern="\d*" placeholder="@T("Credit card number")" tabindex="9" type="text">
                                        <label id="cc-number-error" class="error valid" for="cc-number"></label>
                                    </div>
                                    <div class="checkout_form__row">
                                        <div class="checkout__input--medium form-field-pair">
                                            <div class="mmYYYY">
                                                <div class="checkout_cell">
                                                    <input class="form__textfield form-field-pair__field" style="display: inline; border-radius: 5px 0px 0px 5px;" name="month" data-stripe="exp-month" id="cc-month" inputmode="numeric" max="12" maxlength="2" min="1" pattern="\d*" placeholder="MM" tabindex="10" type="text">
                                                    <label id="cc-month-error" class="error valid" for="cc-month"></label>
                                                </div>
                                                <div class="checkout_cell">
                                                    <input class="form__textfield form-field-pair__field" style="display: inline; margin-left: -5px; margin-right: 9px; border-radius: 0px 5px 5px 0px" data-stripe="exp-year" name="year" id="cc-year" inputmode="numeric" max="2024" maxlength="4" min="2015" minlength="4" pattern="\d*" placeholder="YYYY" tabindex="11" type="text">
                                                    <label id="cc-year-error" class="error valid" for="cc-year"></label>
                                                </div>
                                                <div class="cvc_cell checkout_cell">
                                                    <input class="form__textfield form-field-pair__field" style="display: inline; width: 29%" name="cvv" data-stripe="cvc" id="cc-cvv" inputmode="numeric" maxlength="4" pattern="\d*" placeholder="CVC" tabindex="12" type="text">
                                                    <label id="cc-cvv-error" class="error valid" for="cc-cvv"></label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="checkout__input--small">
                                            <div class="checkout__tool_tip_container">
                                                <div class="checkout__tool_tip--cvc" data-tooltip="@T("3 or 4 digit security code usually located on the back of the card.")">
                                                    <i class="ss-icon ss-standard tool_tip__toggle"></i>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            @*
                                <div class="accordion__item" style="margin-top:30px">

                                    <label class="accordion__label" for="paypal">
                                        <p>
                                            <div id="paypal-container"></div>
                                        </p>
                                    </label>
                                </div>
                            *@
                        </div>
                    </div>
                    <div class="payment-method-container" id="payment_method_paypal" style="display: none;">
                        <div class="accordion_min accordion">
                            <p>
                                <div id="paypal-container"></div>
                            </p>
                        </div>
                    </div>
                    @*<div class="payment-method-container" id="mol_container" style="display: none;">
                        <div class="accordion_min accordion">
                            <p>
                                
                                <input type="radio" class="radioBank" style="margin-left:15%; margin-right:5px" value="bank" name="Bank" checked><span class="payment-label">@T("Direct Bank Transfer")</span>
                                <input type="radio" class="radioBank" style="margin-left:15%; margin-right:5px" value="credit" name="Bank"><span class="payment-label">@T("Credit Card / Debit Card")</span>

                            </p>
                        </div>
                    </div>*@

                    <div class="payment-method-container" id="payment_method_mol" style="display: none;">
                    </div>
                    <div class="payment-method-container" id="payment_method_cash" style="display: none;">
                    </div>
                    @*
                        <div id="accordion" class="accordion_min accordion">
                                <div class="contLable">

                                    <label class="accordion__label_text" for="new-credit-card">
                                        @T("Credit Card")
                                        <div class="accordion__sub_label accordion__sub_label--sticky">
                                            <ul class="credit_card_list js_credit_card_list">
                                                <li>
                                                    <div class="credit_card credit_card--visa js-credit-card-visa credit_card--disabled"></div>
                                                </li>
                                                <li>
                                                    <div class="credit_card credit_card--amex js-credit-card-amex credit_card--disabled"></div>
                                                </li>
                                                <li><div class="credit_card credit_card--mastercard js-credit-card-mastercard credit_card--disabled"></div></li>
                                                <li><div class="credit_card credit_card--discover js-credit-card-discover credit_card--disabled"></div></li>
                                            </ul>
                                        </div>
                                    </label>

                                    <div class="accordion__content">

                                        <div>
                                            <input class="form__textfield  js-cc-number" name="number" data-stripe="number" id="cc-number" inputmode="numeric" pattern="\d*" placeholder="@T("Credit card number")" tabindex="9" type="text">
                                            <label id="cc-number-error" class="error valid" for="cc-number"></label>
                                        </div>
                                        <div class="checkout_form__row">
                                            <div class="checkout__input--medium form-field-pair">
                                                <div class="mmYYYY">
                                                    <div class="checkout_cell">
                                                        <input class="form__textfield form-field-pair__field" style="display:inline;  border-radius: 5px 0px 0px 5px; " name="month" data-stripe="exp-month" id="cc-month" inputmode="numeric" max="12" maxlength="2" min="1" pattern="\d*" placeholder="MM" tabindex="10" type="text">
                                                        <label id="cc-month-error" class="error valid" for="cc-month"></label>
                                                    </div>
                                                    <div class="checkout_cell">
                                                        <input class="form__textfield form-field-pair__field" style="display:inline; margin-left:-5px; margin-right:9px;  border-radius: 0px 5px 5px 0px" data-stripe="exp-year" name="year" id="cc-year" inputmode="numeric" max="2024" maxlength="4" min="2015" minlength="4" pattern="\d*" placeholder="YYYY" tabindex="11" type="text">
                                                        <label id="cc-year-error" class="error valid" for="cc-year"></label>
                                                    </div>
                                                    <div class="cvc_cell checkout_cell">
                                                        <input class="form__textfield form-field-pair__field" style="display:inline; width:29% " name="cvv" data-stripe="cvc" id="cc-cvv" inputmode="numeric" maxlength="4" pattern="\d*" placeholder="CVC" tabindex="12" type="text">
                                                        <label id="cc-cvv-error" class="error valid" for="cc-cvv"></label>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="checkout__input--small">
                                                <div class="checkout__tool_tip_container">
                                                    <div class="checkout__tool_tip--cvc" data-tooltip="@T("3 or 4 digit security code usually located on the back of the card.")">
                                                        <i class="ss-icon ss-standard tool_tip__toggle"></i>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="accordion__item" style="margin-top:30px">

                                    <label class="accordion__label" for="paypal">
                                        <p>
                                            <div id="paypal-container"></div>
                                        </p>
                                    </label>
                                </div>
                            </div>

                    *@
                    <div class="form__group js-checkout-shipping">
                        <div class="checkout__legend">@T("Shipping Info")</div>
                        <div class="inp-half">
                            <input class="form__textfield " data-default="" data-type="name" id="FirstName" maxlength="30" name="FirstName" placeholder="@T("First name")" size="30" tabindex="2" type="text">
                        </div>
                        <div class="inp-half-right">
                            <input class="form__textfield " data-default="" data-type="name" id="LastName" maxlength="30" name="LastName" placeholder="@T("Last name")" size="30" tabindex="3" type="text">
                        </div>
                        <input class="form__textfield " data-default="" id="StreetAddress" maxlength="50" name="StreetAddress" placeholder="@T("Address line 1")" size="50" tabindex="4" type="text">
                        <input class="form__textfield " data-default="" id="StreetAddress2" maxlength="50" name="StreetAddress2" placeholder="@T("Address line 2")" size="50" tabindex="5" type="text">
                        <div class="checkout_form__row">
                            <div class="inp-half">
                                <input class="form__textfield " data-default="" id="PostalCode" name="PostalCode" placeholder="@T("Postal code")" tabindex="6" type="text">
                                <label id="PostalCode-error" class="error valid" for="PostalCode"></label>
                            </div>
                            <div class="inp-half-right">
                                <input class="form__textfield " data-default="" id="City" maxlength="30" name="City" placeholder="@T("City")" size="30" tabindex="7" type="text">
                                <label id="City-error" class="error valid" for="City"></label>
                            </div>
                        </div>
                        <div class="checkout_form__row">
                            <div>
                                <div class="inp-half smarty-streets-container">
                                    <select class="form__textfield " style="font-size:17px" data-default="43" id="State" placeholder="@T("State")" name="State" tabindex="7" type="text"></select>
                                    <label id="State-error" class="error valid" for="State"></label>
                                </div>
                                <div class="inp-half-right">
                                    <input class=" form__textfield " id="Country" name="Country" tabindex="8" value="@Model.CountryName" readonly="readonly"></input>
                                    <label id="Country-error" class="error valid" for="Country"></label>
                                </div>

                            </div>
                        </div>
                        <div class="checkout_form__row">
                            <div class="form-phone inp-half">
                                <input class="form__textfield  js-shipping-phone" id="PhoneNumber" placeholder="@T("Phone number")" tabindex="9" type="text" value="" name="PhoneNumber">
                                <label id="PhoneNumber-error" class="error valid" for="PhoneNumber"></label>
                            </div>
                        </div>
                    </div>
                    <div class="checkout_form_footer" style="margin-top:10px">
                        <div class="checkout_form_footer__submit_wrap js_submit_wrap_cc">
                            <button id="transaction" class="button button--transaction--flat checkout_form_footer__submit js_checkout_submit" data-disable-with="Placing Your Order" tabindex="14" type="submit" value="@T("Place Your Order")">@T("Place Your Order")</button>

                            <p class="tos_agreement">
                                @T("By clicking 'Place Your Order' you agree to our")
                                <a href='/Privacy' target='_blank'>@T("privacy policy")</a>
                                @T("and") <a href='/Terms' target='_blank'>@T("terms of service")</a>
                                .
                            </p>
                        </div>
                    </div>
                </div>
            </form>
            <input type="hidden" id="Token" value=@Model.ClientToken>


        </div>
    </div>
</div>


@using (Script.Foot())
{
    <script type="text/javascript" src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script type="text/javascript">
        var braintree = Braintree.create("MIIBCgKCAQEA7ip7pligm7Ncb/KirwXTtZy4PrVM59+NyNwiSydzNBW49QaYQv60XoPHAquih1q1y4vb8+uVjr6RMUhQu70KszzL+az3YGwifipQuAhPliHQOvtf9HaraR4ca8shywaj6vI9R7icxL06ZuwhZPAV4VsNSHpaFug+FZ6JZVYAgQIsRwEaySm57YEY1lgAYC10gamM4d5rwpxLDjoQJwWUIUyf1WSS7yL3/ix3cQmfphlE/PkPg2l8CAc/uEqRZZRFF8YXhsbMg+ILyxD3t4NjaeyMjXYlboI/tBZm7jQCRblq/mN3Z2WzmFsOTloNLTOI9yXNd9Ep+SsIUgspbCLUDwIDAQAB");
        braintree.onSubmitEncryptForm('braintree-payment-form');
    </script>
    <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <script>
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        $("#braintree-payment-form").validate({
            rules: {
                Email: {
                    required: true,
                    email: true
                },
                FirstName: {
                    required: true
                },
                LastName: {
                    required: true
                },
                City: {
                    required: true
                },
                State: {
                    required: true,
        //            var elem = document.getElementById("State");

        //return ($("#State option:selected").val() == "-");
                },
                StreetAddress: {
                    required: true
                },
                PostalCode: {
                    required: true
                },
                PhoneNumber: {
                    required: true
                }
            },
            submitHandler: function (form) { var elem = document.getElementById('transaction'); elem.disabled = 'disabled'; form.submit(); }
        });


    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            document.title = "Payment | Teeyoot";

            $('.payment-method:first').css('text-decoration', 'none').css('color', '#ff4f00').css('border-color', '#ff4f00');

            var defaultPaymentMethod = $('.payment-method:first').data('payment-method');
            if (defaultPaymentMethod === 'creditcard') {
                $('#message_err').css({ "display": "none" });
                $('#payment_method_credit_card').show();
                $('#paymentMethod').val("1");
                populateCountries("State");
            } else if (defaultPaymentMethod === 'paypal') {
                $('#message_err').css({ "display": "none" });
                $('#payment_method_paypal').show();
                $('#paymentMethod').val("2");
                populateCountries("State");
            } else if (defaultPaymentMethod === 'mol') {
                $('#message_err').css({ "display": "none" });
                $('.message_Mol').css({ "display": "" });
                //document.getElementById("mol_container").style.display = "";
                $('#payment_method_mol').show();
                $('#paymentMethod').val("3");
                populateCountries("State");
            } else if (defaultPaymentMethod === 'cash') {
                $('#payment_method_cash').show();
                $('#paymentMethod').val("4");
                $('#message_err').css({ "display": "" });
                populateCountriesForCashOnDelivery("State");
            }

            $('.payment-method').click(function () {
                $('.payment-method').css('text-decoration', '').css('color', '').css('border-color', '');
                $(this).css('text-decoration', 'none').css('color', '#ff4f00').css('border-color', '#ff4f00');

                $('.payment-method-container').hide();
                var paymentMethod = $(this).data('payment-method');
                if (paymentMethod === 'creditcard') {
                    $('#payment_method_credit_card').show();
                    $('.message_Mol').css({ "display": "none" });
                    $('#message_err').css({ "display": "none" });
                    $('#paymentMethod').val("1");
                    populateCountries("State");
                    //document.getElementById("parentDelivery").style.display = "none"; 
                    //document.getElementById("mol_container").style.display = "none";
                    //document.getElementById("ordTotal").innerHTML = parseFloat(document.getElementById("ordTotal").innerHTML) - delivCost;
                    //delivCost = 0;
                } else if (paymentMethod === 'paypal') {
                    $('#payment_method_paypal').show();
                    $('.message_Mol').css({ "display": "none" });
                    $('#message_err').css({ "display": "none" });
                    $('#paymentMethod').val("2");
                    populateCountries("State");
                    //document.getElementById("parentDelivery").style.display = "none";
                    //document.getElementById("mol_container").style.display = "none";
                    //document.getElementById("ordTotal").innerHTML = parseFloat(document.getElementById("ordTotal").innerHTML) - delivCost;
                    //delivCost = 0;
                } else if (paymentMethod === 'mol') {
                    $('#payment_method_mol').show();
                    $('.message_Mol').css({ "display": "" });
                    $('#message_err').css({ "display": "none" });
                    $('#paymentMethod').val("3");
                    populateCountries("State");
                    //document.getElementById("parentDelivery").style.display = "none";
                    //document.getElementById("mol_container").style.display = "";
                    //document.getElementById("ordTotal").innerHTML = parseFloat(document.getElementById("ordTotal").innerHTML) - delivCost;
                    //delivCost = 0;
                } else if (paymentMethod === 'cash') {
                    $('#payment_method_cash').show();
                    $('.message_Mol').css({ "display": "none" });
                    $('#message_err').css({ "display": "" });
                    $('#paymentMethod').val("4");
                    populateCountriesForCashOnDelivery("State");
                    //document.getElementById("parentDelivery").style.display = "none";
                    //document.getElementById("mol_container").style.display = "none";
                    //document.getElementById("ordTotal").innerHTML = parseFloat(document.getElementById("ordTotal").innerHTML) - delivCost;
                    //delivCost = 0;
                    
                }
            });
        });
        //  braintree.setup("eyJ2ZXJzaW9uIjoyLCJhdXRob3JpemF0aW9uRmluZ2VycHJpbnQiOiI1NGU1NmE0MmMwZTIzMGFiYjkyZjk2Njc4N2I3NDY4OTEzZDc5YmU5Zjg2NzE5NjI2N2FjMDMwYzEyZjk2ZTEyfGNyZWF0ZWRfYXQ9MjAxNS0wNy0wN1QwOToxNDoyOS41NTc5MDE5NDcrMDAwMFx1MDAyNm1lcmNoYW50X2lkPWRjcHNweTJicndkanIzcW5cdTAwMjZwdWJsaWNfa2V5PTl3d3J6cWszdnIzdDRuYzgiLCJjb25maWdVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvZGNwc3B5MmJyd2RqcjNxbi9jbGllbnRfYXBpL3YxL2NvbmZpZ3VyYXRpb24iLCJjaGFsbGVuZ2VzIjpbXSwiZW52aXJvbm1lbnQiOiJzYW5kYm94IiwiY2xpZW50QXBpVXJsIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5icmFpbnRyZWVnYXRld2F5LmNvbTo0NDMvbWVyY2hhbnRzL2RjcHNweTJicndkanIzcW4vY2xpZW50X2FwaSIsImFzc2V0c1VybCI6Imh0dHBzOi8vYXNzZXRzLmJyYWludHJlZWdhdGV3YXkuY29tIiwiYXV0aFVybCI6Imh0dHBzOi8vYXV0aC52ZW5tby5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIiwiYW5hbHl0aWNzIjp7InVybCI6Imh0dHBzOi8vY2xpZW50LWFuYWx5dGljcy5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tIn0sInRocmVlRFNlY3VyZUVuYWJsZWQiOnRydWUsInRocmVlRFNlY3VyZSI6eyJsb29rdXBVcmwiOiJodHRwczovL2FwaS5zYW5kYm94LmJyYWludHJlZWdhdGV3YXkuY29tOjQ0My9tZXJjaGFudHMvZGNwc3B5MmJyd2RqcjNxbi90aHJlZV9kX3NlY3VyZS9sb29rdXAifSwicGF5cGFsRW5hYmxlZCI6dHJ1ZSwicGF5cGFsIjp7ImRpc3BsYXlOYW1lIjoiQWNtZSBXaWRnZXRzLCBMdGQuIChTYW5kYm94KSIsImNsaWVudElkIjpudWxsLCJwcml2YWN5VXJsIjoiaHR0cDovL2V4YW1wbGUuY29tL3BwIiwidXNlckFncmVlbWVudFVybCI6Imh0dHA6Ly9leGFtcGxlLmNvbS90b3MiLCJiYXNlVXJsIjoiaHR0cHM6Ly9hc3NldHMuYnJhaW50cmVlZ2F0ZXdheS5jb20iLCJhc3NldHNVcmwiOiJodHRwczovL2NoZWNrb3V0LnBheXBhbC5jb20iLCJkaXJlY3RCYXNlVXJsIjpudWxsLCJhbGxvd0h0dHAiOnRydWUsImVudmlyb25tZW50Tm9OZXR3b3JrIjp0cnVlLCJlbnZpcm9ubWVudCI6Im9mZmxpbmUiLCJ1bnZldHRlZE1lcmNoYW50IjpmYWxzZSwiYnJhaW50cmVlQ2xpZW50SWQiOiJtYXN0ZXJjbGllbnQzIiwibWVyY2hhbnRBY2NvdW50SWQiOiJzdGNoMm5mZGZ3c3p5dHc1IiwiY3VycmVuY3lJc29Db2RlIjoiVVNEIn0sImNvaW5iYXNlRW5hYmxlZCI6dHJ1ZSwiY29pbmJhc2UiOnsiY2xpZW50SWQiOiIxMWQyNzIyOWJhNThiNTZkN2UzYzAxYTA1MjdmNGQ1YjQ0NmQ0ZjY4NDgxN2NiNjIzZDI1NWI1NzNhZGRjNTliIiwibWVyY2hhbnRBY2NvdW50IjoiY29pbmJhc2UtZGV2ZWxvcG1lbnQtbWVyY2hhbnRAZ2V0YnJhaW50cmVlLmNvbSIsInNjb3BlcyI6ImF1dGhvcml6YXRpb25zOmJyYWludHJlZSB1c2VyIiwicmVkaXJlY3RVcmwiOiJodHRwczovL2Fzc2V0cy5icmFpbnRyZWVnYXRld2F5LmNvbS9jb2luYmFzZS9vYXV0aC9yZWRpcmVjdC1sYW5kaW5nLmh0bWwiLCJlbnZpcm9ubWVudCI6Im1vY2sifSwibWVyY2hhbnRJZCI6ImRjcHNweTJicndkanIzcW4iLCJ2ZW5tbyI6Im9mZmxpbmUiLCJhcHBsZVBheSI6eyJzdGF0dXMiOiJtb2NrIiwiY291bnRyeUNvZGUiOiJVUyIsImN1cnJlbmN5Q29kZSI6IlVTRCIsIm1lcmNoYW50SWRlbnRpZmllciI6Im1lcmNoYW50LmNvbS5icmFpbnRyZWVwYXltZW50cy5zYW5kYm94LkJyYWludHJlZS1EZW1vIiwic3VwcG9ydGVkTmV0d29ya3MiOlsidmlzYSIsIm1hc3RlcmNhcmQiLCJhbWV4Il19fQ==", "paypal", {
        var token = document.getElementById("Token").value;
        braintree.setup(token, "paypal",
        {
            container: "paypal-container",
            onPaymentMethodReceived: function (obj) {
                /*
                document.getElementById("accordion").className = "accordion";
                document.querySelector(".contLable").style.display = "none";
                document.getElementById("braintree-paypal-loggedin").style.borderTopWidth = "0px";
                document.getElementById("braintree-paypal-loggedin").style.borderBottomWidth = "0px";
                document.getElementById("braintree-paypal-loggedin").style.marginTop = "-50px";
                document.getElementById("bt-pp-cancel").style.fontSize = "20px";
                document.getElementById("bt-pp-email").style.fontSize = "18px";
                document.querySelector(".accordion__item").style.borderTop = "0px";
                document.getElementById("bt-pp-cancel").style.background = "white";
                document.querySelector(".accordion").style.height = "50px";
                document.getElementById("bt-pp-cancel").style.textDecoration = "none";
                */
                doSomethingWithTheNonce(obj.nonce);
            },
            onCancelled: function () {
                document.getElementById("accordion").className = "accordion_min accordion";
                document.querySelector(".contLable").style.display = "inline";
                document.querySelector(".accordion").style.height = "275px";
            }
        });
    </script>

    <script language="javascript">
        //var country_arr = new Array("Afghanistan", "Albania", "Algeria", "American Samoa", "Angola", "Anguilla", "Antartica", "Antigua and Barbuda", "Argentina", "Armenia", "Aruba", "Ashmore and Cartier Island", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia and Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burma", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central African Republic", "Chad", "Chile", "China", "Christmas Island", "Clipperton Island", "Cocos (Keeling) Islands", "Colombia", "Comoros", "Congo, Democratic Republic of the", "Congo, Republic of the", "Cook Islands", "Costa Rica", "Cote d'Ivoire", "Croatia", "Cuba", "Cyprus", "Czeck Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Europa Island", "Falkland Islands (Islas Malvinas)", "Faroe Islands", "Fiji", "Finland", "France", "French Guiana", "French Polynesia", "French Southern and Antarctic Lands", "Gabon", "Gambia, The", "Gaza Strip", "Georgia", "Germany", "Ghana", "Gibraltar", "Glorioso Islands", "Greece", "Greenland", "Grenada", "Guadeloupe", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Heard Island and McDonald Islands", "Holy See (Vatican City)", "Honduras", "Hong Kong", "Howland Island", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Ireland, Northern", "Israel", "Italy", "Jamaica", "Jan Mayen", "Japan", "Jarvis Island", "Jersey", "Johnston Atoll", "Jordan", "Juan de Nova Island", "Kazakhstan", "Kenya", "Kiribati", "Korea, North", "Korea, South", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia, Former Yugoslav Republic of", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Man, Isle of", "Marshall Islands", "Martinique", "Mauritania", "Mauritius", "Mayotte", "Mexico", "Micronesia, Federated States of", "Midway Islands", "Moldova", "Monaco", "Mongolia", "Montserrat", "Morocco", "Mozambique", "Namibia", "Nauru", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "Niue", "Norfolk Island", "Northern Mariana Islands", "Norway", "Oman", "Pakistan", "Palau", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Pitcaim Islands", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romainia", "Russia", "Rwanda", "Saint Helena", "Saint Kitts and Nevis", "Saint Lucia", "Saint Pierre and Miquelon", "Saint Vincent and the Grenadines", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Scotland", "Senegal", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Georgia and South Sandwich Islands", "Spain", "Spratly Islands", "Sri Lanka", "Sudan", "Suriname", "Svalbard", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Tobago", "Toga", "Tokelau", "Tonga", "Trinidad", "Tunisia", "Turkey", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "Uruguay", "USA", "Uzbekistan", "Vanuatu", "Venezuela", "Vietnam", "Virgin Islands", "Wales", "Wallis and Futuna", "West Bank", "Western Sahara", "Yemen", "Yugoslavia", "Zambia", "Zimbabwe");
        var Settings = [];
        function populateCountries(countryElementId) {
            var settings_arr = [];
            $.ajax({
                async: false,
                cache: false,
                type: "GET",
                url: "/GetSettings",

                success: function (data) {
                    settings_arr = data.settings;
                },
                error: function (data, status, resp) {
                    alert('Status: ' + data.status + '. Error message: ' + data.statusText);
                }
            });
            var countryElement = document.getElementById(countryElementId);
            //if (countryElement == "First" || countryElement == "") {
            var vall = "";
            if (countryElement.value != "" || countryElement.value != "Select State") {
                vall = countryElement.value;
            }

                countryElement.length = 0;
                countryElement.options[0] = new Option('Select State', "");
                countryElement.selectedIndex = 0;
            //}

                Settings = settings_arr;
                var z = 0;
            for (var i = 0; i < settings_arr.length; i++) {
                countryElement.options[countryElement.length] = new Option(settings_arr[i].State, settings_arr[i].State);
                if (settings_arr[i].State == "Selangor") {
                    z = i+1;
                    ////if (countryElement.value != "Select State" || countryElement.value != "First") {
                    //countryElement.selectedIndex = i + 1;
                    //document.getElementById("deliveryCost").innerHTML = settings_arr[i].DeliveryCost;
                    ////document.getElementById("ordTotal").innerHTML = parseFloat(document.getElementById("ordTotal").innerHTML) - delivCost;
                    ////delivCost = parseFloat(Settings[i].DeliveryCost).toFixed(2);
                    //document.getElementById("parentDelivery").style.display = "";
                    //var res = document.getElementById("ordTotal").innerHTML;
                    //var res1 = parseFloat(Settings[i].DeliveryCost).toFixed(2);
                    //document.getElementById("ordTotal").innerHTML = (parseFloat(document.getElementById("ordTotal").innerHTML - delivCost) + parseFloat(Settings[i].DeliveryCost)).toFixed(2);
                    //delivCost = parseFloat(Settings[i].DeliveryCost).toFixed(2);
                }
                else {
                    document.getElementById("parentDelivery").style.display = "none";
                    document.getElementById("ordTotal").innerHTML = (parseFloat(document.getElementById("ordTotal").innerHTML - delivCost)).toFixed(2);
                    delivCost = 0;    
                }
                   //}
            }
            countryElement.selectedIndex = z;
            if (z != 0) {
            document.getElementById("deliveryCost").innerHTML = settings_arr[z-1].DeliveryCost;
          
            //document.getElementById("ordTotal").innerHTML = parseFloat(document.getElementById("ordTotal").innerHTML) - delivCost;
            //delivCost = parseFloat(Settings[i].DeliveryCost).toFixed(2);
            document.getElementById("parentDelivery").style.display = "";

            document.getElementById("ordTotal").innerHTML = (parseFloat(document.getElementById("ordTotal").innerHTML - delivCost) + parseFloat(Settings[z-1].DeliveryCost)).toFixed(2);
            delivCost = parseFloat(Settings[z-1].DeliveryCost).toFixed(2);
            }
            }
        

        function populateCountriesForCashOnDelivery(countryElementId) {
            var settings_arr = [];
            $.ajax({
                async: false,
                cache: false,
                type: "GET",
                url: "/GetSettings",

                success: function (data) {
                    settings_arr = data.settings;
                },
                error: function (data, status, resp) {
                    alert('Status: ' + data.status + '. Error message: ' + data.statusText);
                }
            });
            var countryElement = document.getElementById(countryElementId);
            countryElement.length = 0;
            countryElement.options[0] = new Option('Select State', "");
            countryElement.selectedIndex = 0;
            Settings = settings_arr;
            var z = 0;
            for (var i = 0; i < settings_arr.length; i++) {
                if (settings_arr[i].Enabled) {
                    countryElement.options[countryElement.length] = new Option(settings_arr[i].State, settings_arr[i].State);
                    z++;

                    if (settings_arr[i].State == "Selangor") {
                        countryElement.selectedIndex = z;
                        //if (countryElement.value != "Select State" || countryElement.value != "First") {
                        //countryElement.selectedIndex = i + 1;
                        document.getElementById("deliveryCost").innerHTML = settings_arr[i].DeliveryCost;
                        //document.getElementById("ordTotal").innerHTML = parseFloat(document.getElementById("ordTotal").innerHTML) - delivCost;
                        //delivCost = parseFloat(Settings[i].DeliveryCost).toFixed(2);
                        document.getElementById("parentDelivery").style.display = "";
                        var res = document.getElementById("ordTotal").innerHTML;
                        var res1 = parseFloat(Settings[i].DeliveryCost).toFixed(2);
                        document.getElementById("ordTotal").innerHTML = (parseFloat(document.getElementById("ordTotal").innerHTML - delivCost) + parseFloat(Settings[i].DeliveryCost)).toFixed(2);
                        delivCost = parseFloat(Settings[i].DeliveryCost).toFixed(2);
                    }
                }

                
            }
        }

        //populateCountries("State");
        var delivCost = 0;
        document.getElementById("State").addEventListener("change", function () {
            if (this.options[this.selectedIndex].value == "") {
                document.getElementById("parentDelivery").style.display = "none";
                document.getElementById("ordTotal").innerHTML = parseFloat(document.getElementById("ordTotal").innerHTML) - delivCost;
                delivCost = 0;
            } else {

                for (var i = 0; i < Settings.length; i++) {
                    if (Settings[i].State == this.options[this.selectedIndex].value) {
                        document.getElementById("parentDelivery").style.display = "";
                        document.getElementById("deliveryCost").innerHTML = Settings[i].DeliveryCost;
                        document.getElementById("ordTotal").innerHTML = parseFloat(document.getElementById("ordTotal").innerHTML) - delivCost;
                        document.getElementById("ordTotal").innerHTML = (parseFloat(document.getElementById("ordTotal").innerHTML) + parseFloat(Settings[i].DeliveryCost)).toFixed(2);
                        delivCost = Settings[i].DeliveryCost;
                        //console.log(this.options[0].value);
                    }
                }
            }


        });

    </script>
}
