@{
    @model Teeyoot.Module.ViewModels.ReservationCompleteViewModel
    Style.Include("reservationcomplete.css");
}

@if (!Model.Oops)
{
    using (Script.Head())
    {

        <script>
(function () {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
    }})();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', '6029914398108', { 'value': '0.00', 'currency': 'MYR' }]);
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6029914398108&amp;cd[value]=0.00&amp;cd[currency]=MYR&amp;noscript=1" /></noscript>
}
}
<div class="reservation-complete-page">
    
    <div class="reservation-complete-message">
        <h1>@Model.Message</h1>
    </div>

    <div class="campaigns-list-container">
        <div>
            @foreach (var c in Model.Campaigns)
            {
                var daysRemaining = c.EndDate.Subtract(DateTime.UtcNow).Days;

                <div class="campaign-card">

                    <div class="campaign-card-image" style="background-image: url('/Media/campaigns/@c.Id/@c.FirstProductId/normal/@(!c.ShowBack ? "front.png" : "back.png")')">
                        <a href="/@c.Alias"></a>
                    </div>

                    <div class="campaign-card-progress">
                        <div class="campaign-card-progress-bar">
                            <div class="campaign-card-progress-bar-completed" style="width:@(c.Goal != 0 ? c.Sold * 100 / @c.Goal : "0")%">
                            </div>
                        </div>
                    </div>

                    <div class="campaign-card-info">

                        <div class="campaign-card-sold">@c.Sold / @(c.Goal == 0 ? "1" : c.Goal) @T("sold")</div>

                        <div class="campaign-card-left" title="@c.EndDate.ToString("dd.MM.yyyy")">
                            <span>
                                @if (daysRemaining > 0)
                                {
                                    @daysRemaining@:d @T("remaining")
                                }
                                else if (daysRemaining <= -1)
                                {
                                    @Math.Abs(daysRemaining)@:d @T("ago")
                                }
                                else
                                {
                                    var hours = c.EndDate.Subtract(DateTime.UtcNow).Hours;

                                    if (hours > 0)
                                    {
                                        @hours@:h @T("remaining")
                                    }
                                    else
                                    {
                                        @Math.Abs(hours)@:h @T("ago")
                                    }
                                }

                            </span>
                        </div>

                    </div>

                    <div class="campaign-card-title"><a href="/@c.Alias" title="@c.Title">@c.Title</a></div>

                </div>

            }
        </div>
    </div>

</div>

