@{
    Style.Include("designerTeeyoot.css");
   
    Style.Include("track.css");
}

<div class="track-order-page content">
    <div class="row">
        <div class="col-sm-7" style="padding-left:0;">
            <h1 style="font-weight: bold; font-size: 2.508em;">
            @T("Track your order")</h1>
            <p>@T("Enter your tracking number to check the status of your order. Your tracking number is in your confirmation email when you ordered.")</p>

            @using (Html.BeginFormAntiForgeryPost(Url.Action("SearchForOrder", "Home")))
            {
                <div class="row">
                    <div class="col-sm-8 lookupNumber">
                        <input class="form-control input-lg input-inline-with-btn" id="orderId" name="orderId" placeholder="Tracking number" type="text">
                    </div>
                    <div class="col-sm-2">
                        <input class="btnTrack" type="submit" value="@T("Track my order")" />
                    </div>
                </div>
            }
            <p>
                <a href="@Url.Action("RecoverOrder")">@T("Forgotten your order number?")</a>
            </p>
        </div>
        <div class="col-sm-3 col-sm-offset-1 hidden-xs img-car">
            <img alt="Index" src="/Modules/Teeyoot.Module/Content/images/track-order.png">
        </div>
    </div>
</div>

