@using Teeyoot.Module.Common.ExtentionMethods;
@{
    @model Teeyoot.Dashboard.ViewModels.CampaignsViewModel
    Style.Include("campaigns.css");
}

<div class="dashboard-section-title">@T("Campaigns")</div>

<div class="box">
    <div class="box-header">
        <div class="dashboard-section-title">@T("Overview")</div>
    </div>

    <div class="campaigns-overview-body">

        @for (int i = 0; i < Model.Overviews.Count; i++)
        {
            var item = Model.Overviews[i];
            if (item.Type == Teeyoot.Module.Common.Enums.OverviewType.Active)
            { 
                <div class="overview-for-period selected">
                    <div><span>@item.ProductsOrdered</span>@T("products ordered")</div>
                    <div><span>@Model.Currency@item.Profit</span>@T("profit")</div>
                    <div><span>@Model.Currency@item.ToBePaid</span>@T("to be paid")</div>
                </div>
            }
            else if (item.Type != Teeyoot.Module.Common.Enums.OverviewType.AllTime)
            {
                <div class="overview-for-period">
                    <div><span>@item.ProductsOrdered</span>@T("products ordered")</div>
                    <div><span>@Model.Currency@item.Profit</span>@T("profit (includes pending profit)")</div>
                    @*<div><span></span>@T("To be paid")</div>*@
                </div>
            }
            else
            {
                <div class="overview-for-period">
                    <div><span>@item.ProductsOrdered</span>@T("products ordered")</div>
                    <div><span>@Model.Currency@item.Profit</span>@T("profit")</div>
                    @*<div><span></span>@T("To be paid")</div>*@
                </div>
            }
        }
        
        <div class="period-selector">
            @for (int i = 0; i < Model.Overviews.Count; i++)
            {
                var item = Model.Overviews[i];
                var current = item.Type == Teeyoot.Module.Common.Enums.OverviewType.Active ? "current" : "";
                if (i == 0)
                {
                    <span onclick="showOverviewForPeriod(@i)" class="overview-period first @current">@T(item.Type.ToString().SplitCamelCase())</span>
                }
                else if (i < Model.Overviews.Count - 1)
                {
                    <span onclick="showOverviewForPeriod(@i)" class="overview-period @current">@T(item.Type.ToString().SplitCamelCase())</span>
                }
                else
                {
                    <span onclick="showOverviewForPeriod(@i)" class="overview-period last @current">@T(item.Type.ToString().SplitCamelCase())</span>
                }
            }
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <div></div>
    </div>
    @foreach (var campaign in Model.Campaigns)
    {
        <div class="campaign-item">

        </div>
    }
</div>

@using(Script.Foot())
{
    <script>

        var showOverviewForPeriod = function (index) {
            $('.overview-for-period.selected').removeClass('selected');
            $('.overview-period.current').removeClass('current');
            $($('.overview-for-period')[index]).addClass('selected');
            $($('.overview-period')[index]).addClass('current');
        }

    </script>
}