@using Teeyoot.Module.Common.ExtentionMethods;
@{
    @model Teeyoot.Dashboard.ViewModels.CampaignsViewModel
    Style.Include("campaigns.css");
}

<div class="dashboard-section-title">@T("Campaigns")</div>

<div class="box">
    <div class="box-header">
        <div class="dashboard-section-title">@T("Overview")</div>
    </div>

    <div class="campaigns-overview-body">

        @for (int i = 0; i < Model.Overviews.Count; i++)
        {
            var item = Model.Overviews[i];
            if (item.Type == Teeyoot.Module.Common.Enums.OverviewType.Active)
            { 
                <div class="overview-for-period selected">
                    <div><span>@item.ProductsOrdered</span>@T("products ordered")</div>
                    <div><span>@Model.Currency@item.Profit</span>@T("profit")</div>
                    <div><span>@Model.Currency@item.ToBePaid</span>@T("to be paid")</div>
                </div>
            }
            else if (item.Type != Teeyoot.Module.Common.Enums.OverviewType.AllTime)
            {
                <div class="overview-for-period">
                    <div><span>@item.ProductsOrdered</span>@T("products ordered")</div>
                    <div><span>@Model.Currency@item.Profit</span>@T("profit (includes pending profit)")</div>
                    @*<div><span></span>@T("To be paid")</div>*@
                </div>
            }
            else
            {
                <div class="overview-for-period">
                    <div><span>@item.ProductsOrdered</span>@T("products ordered")</div>
                    <div><span>@Model.Currency@item.Profit</span>@T("profit")</div>
                    @*<div><span></span>@T("To be paid")</div>*@
                </div>
            }
        }
        
        <div class="period-selector">
            @for (int i = 0; i < Model.Overviews.Count; i++)
            {
                var item = Model.Overviews[i];
                var current = item.Type == Teeyoot.Module.Common.Enums.OverviewType.Active ? "current" : "";
                if (i == 0)
                {
                    <span onclick="showOverviewForPeriod(@i)" class="overview-period first @current">@T(item.Type.ToString().SplitCamelCase())</span>
                }
                else if (i < Model.Overviews.Count - 1)
                {
                    <span onclick="showOverviewForPeriod(@i)" class="overview-period @current">@T(item.Type.ToString().SplitCamelCase())</span>
                }
                else
                {
                    <span onclick="showOverviewForPeriod(@i)" class="overview-period last @current">@T(item.Type.ToString().SplitCamelCase())</span>
                }
            }
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <div>
            <input type="text" placeholder="Search by filter" />
        </div>
    </div>

    <div class="full_width_cards__container">
        <div class="card" data-id="2609941">
            <div class="card__image_container">
                <img alt="dsfdsaf" 
                     class="main_campaign_image campaign-image shirtFront front shirtSide--show" 
                     data-zoom-image="//vangogh.teespring.com/shirt_pic/2609941/2886437/369/6512/756x900/front.jpg?v=2015-07-19-16-32" 
                     data-zoom="//vangogh.teespring.com/shirt_pic/2609941/2886437/369/6512/front.jpg?v=2015-07-19-16-32" 
                     src="//vangogh.teespring.com/shirt_pic/2609941/2886437/369/6512/front.jpg?v=2015-07-19-16-32">
            </div>

            <div class="card__options_container">
                <ul class="campaign_options__list">
                    <li class="options__item options__item_view">
                        <a class="option__link" href="/dsfdsaf"><i class="option__icon ts-icon-view"></i>
                            <div class="option__name">View</div>
                        </a>
                    </li>
                    <li class="options__item" data-tooltip="Edit">
                        <a class="option__link campaign__edit_link" href="/campaigns/2609941/edit">
                            <i class="option__icon ts-icon-edit"></i>
                            <div class="option__name">Edit</div>
                        </a>
                    </li>
                    <li class="options__item" data-tooltip="Settings">
                        <a class="option__link" href="/dashboard/campaigns/2609941">
                            <i class="option__icon ts-icon-settings"></i>
                            <div class="option__name">Settings</div>
                        </a>
                    </li>
                    <li class="options__item" data-tooltip="Duplicate">
                        <a class="option__link" data-disable-with="☃" data-method="post" href="/campaigns/2609941/duplicate" rel="nofollow">
                            <i class="option__icon ts-icon-copy"></i>
                            <div class="option__name">Duplicate</div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card__progress_container">
                <div class="progress_bar">
                    <div class="progress_bar__completed false" style="width: 0.5%">
                    </div>
                </div>
            </div>
        
            <div class="card__campaign_profit">
                <span class="amount__not_available">N/A</span>
            </div>
        
            <div class="card__content_container">
                <div class="card__campaign_stats">
                    <div class="card__sold">0 / 50 sold</div>

                    <div class="card__campaign_time">
                        <abbr class="campaign_time__status" title="07/27/15">5d</abbr>
                        <div class="campaign_time__title">remaining</div>
                    </div>
                </div>
            
                <h1 class="card__title"><a href="/dsfdsaf" title="dsfdsaf">dsfdsaf</a></h1>
            </div>
        </div>
    </div>




    @foreach (var c in Model.Campaigns)
    {
        <div class="campaign-item">
            @c.Name - @c.Profit
        </div>
    }
</div>

@using(Script.Foot())
{
    <script>

        var showOverviewForPeriod = function (index) {
            $('.overview-for-period.selected').removeClass('selected');
            $('.overview-period.current').removeClass('current');
            $($('.overview-for-period')[index]).addClass('selected');
            $($('.overview-period')[index]).addClass('current');
        }

    </script>
}