@using Teeyoot.Module.Common.ExtentionMethods;
@{
    @model Teeyoot.Dashboard.ViewModels.CampaignsViewModel
    Style.Include("campaigns.css");
}

<div class="dashboard-section-title">@T("Campaigns") 
    <span class="menu-closer" onclick="toggleMobileMenu()"><i class="fa fa-angle-up"></i></span>
    <span class="menu-opener" onclick="toggleMobileMenu()"><i class="fa fa-angle-down"></i></span>
</div>

<div class="box">
    <div class="box-header">
        <div class="box-header-title">@T("Overview")</div>
    </div>

    <div class="campaigns-overview-body">

        @for (int i = 0; i < Model.Overviews.Count; i++)
        {
            var item = Model.Overviews[i];
            if (item.Type == Teeyoot.Module.Common.Enums.OverviewType.Active)
            { 
                <div class="overview-for-period selected">
                    <div><span>@item.ProductsOrdered</span>@T("products ordered")</div>
                    <div><span>@Model.Currency@item.Profit</span>@T("profit")</div>
                    <div><span>@Model.Currency@item.ToBePaid</span>@T("to be paid")</div>
                </div>
            }
            else if (item.Type != Teeyoot.Module.Common.Enums.OverviewType.AllTime)
            {
                <div class="overview-for-period">
                    <div><span>@item.ProductsOrdered</span>@T("products ordered")</div>
                    <div><span>@Model.Currency@item.Profit</span>@T("profit (includes pending profit)")</div>
                    @*<div><span></span>@T("To be paid")</div>*@
                </div>
            }
            else
            {
                <div class="overview-for-period">
                    <div><span>@item.ProductsOrdered</span>@T("products ordered")</div>
                    <div><span>@Model.Currency@item.Profit</span>@T("profit")</div>
                    @*<div><span></span>@T("To be paid")</div>*@
                </div>
            }
        }
        
        <div class="period-selector">
            @for (int i = 0; i < Model.Overviews.Count; i++)
            {
                var item = Model.Overviews[i];
                var current = item.Type == Teeyoot.Module.Common.Enums.OverviewType.Active ? "current" : "";
                if (i == 0)
                {
                    <span onclick="showOverviewForPeriod(@i)" class="overview-period first @current">@T(item.Type.ToString().SplitCamelCase())</span>
                }
                else if (i < Model.Overviews.Count - 1)
                {
                    <span onclick="showOverviewForPeriod(@i)" class="overview-period @current">@T(item.Type.ToString().SplitCamelCase())</span>
                }
                else
                {
                    <span onclick="showOverviewForPeriod(@i)" class="overview-period last @current">@T(item.Type.ToString().SplitCamelCase())</span>
                }
            }
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <div class="group-control filters">
            <input type="text" id="campaign_list_filter" oninput="filterCampaignList(this);" placeholder="Search by filter" />
            <label>@T("Sort By")</label>
            <select class="campaign-sort">
                @foreach (Teeyoot.Module.Common.Enums.CampaignSortOrder item in Enum.GetValues(typeof(Teeyoot.Module.Common.Enums.CampaignSortOrder)))
                {
                    <option value="@item.ToString()">@T(item.ToString().SplitCamelCase())</option>   
                }
            </select>
            <label>@T("Show")</label>
            <select>
                @foreach (Teeyoot.Module.Common.Enums.CampaignStatus item in Enum.GetValues(typeof(Teeyoot.Module.Common.Enums.CampaignStatus)))
                {
                    <option value="@item.ToString()">@T(item.ToString().SplitCamelCase())</option>
                }
                <option value="All">@T("All")</option>
            </select>
        </div>
    </div>

    <div class="campaigns-list-container">
        <div>
            @foreach (var c in Model.Campaigns)
            {
                var daysRemaining = c.EndDate.Subtract(DateTime.UtcNow).Days;
                
                <div name="@c.Name" class="campaign-card">

                    <div class="campaign-card-image" style="background-image: url('/Media/campaigns/@c.Id/@c.FirstProductId/normal/front.png')">

                        <div class="campaign-card-links">
                            <div>
                                <a href="#" title="@T("Edit")">
                                    <i class="fa fa-pencil"></i>                             
                                </a>
                            </div>
                            <div>
                                <a href="#" title="@T("Duplicate")">
                                    <i class="fa fa-files-o"></i>
                                </a>
                            </div>                                
                        </div>

                        <div class="campaign-card-profit">
                            <span>@Model.Currency@c.Profit</span>
                        </div>

                    </div>
                   
                    <div class="campaign-card-progress">
                        <div class="campaign-card-progress-bar">
                            <div class="campaign-card-progress-bar-completed" style="width:@(c.Sold * 100 / @c.Goal)%">
                            </div>
                        </div>
                    </div>

                    <div class="campaign-card-info">
                        
                        <div class="campaign-card-sold">@c.Sold / @c.Goal @T("sold")</div>

                        <div class="campaign-card-left" title="@c.EndDate.ToString("dd.MM.yyyy")">
                            <span>@(daysRemaining > 0 ? daysRemaining : c.EndDate.Subtract(DateTime.UtcNow).Hours)@(daysRemaining > 0 ? "d" : "h") @T("remaining")</span>
                        </div>
                                              
                    </div>

                    <div class="campaign-card-title"><a href="/@c.Alias" title="@c.Name">@c.Name</a></div>
                </div>
                
            }
        </div>
    </div>
</div>

@using(Script.Foot())
{
    <script>

        var showOverviewForPeriod = function (index) {
            $('.overview-for-period.selected').removeClass('selected');
            $('.overview-period.current').removeClass('current');
            $($('.overview-for-period')[index]).addClass('selected');
            $($('.overview-period')[index]).addClass('current');
        }

        var filterCampaignList = function (el) {
            $('.campaign-card').each(function (index, elem) {
                elem = $(elem);
                if (elem.attr('name').indexOf(el.value) === -1) {
                    elem.addClass('hidden');
                } else if (elem.hasClass('hidden')) {
                    elem.removeClass('hidden');
                }
            });
        }

    </script>
}