@model List<Teeyoot.Module.Dashboard.ViewModels.MessagesIndexViewModel>

@{
    Style.Include("Message.css");
}

@using (Script.Foot())
{
  <script>
      document.title = "Direct Messages | Teeyoot";
       </script>
}

<div style="height:100%; margin-bottom:20%">
    <div class="messages-title dashboard-section-title">
        @T("Direct Messages")
        <span class="menu-closer" onclick="toggleMobileMenu()"><i class="fa fa-angle-up"></i></span>
        <span class="menu-opener" onclick="toggleMobileMenu()"><i class="fa fa-angle-down"></i></span>
    </div>
    <div class="box mesTitle">@T("Communicate with your buyers directly through email! With direct messages you may send  your buyers any message or inform them of your new campaign launch. Get personal and connect with them today!")</div>
    <div class="box tdd">
        <div class="divRow" id="msgBoard">
            <div class="divRow" style="margin-top:2%; ">
                <div id="campaignPrintRow" class=" row">@T("Print")</div>
                <div class=" row">@T("Campaign Name")</div>
                <div class=" row">@T("Sizes")</div>
                <div class=" row">@T("Last Sent")</div>
                <div id="sentThisWeek" class=" row">@T("Sent This Week")</div>
                <div class=" row"></div>
            </div>
        </div>
        @for (int i = 0; i < Model.Count; i++ )
        {
            var item = Model[i];
            
            <div class="divRow divRow-mobile" >
                <div class="divRow" style="margin-top:2%; ">
                    <div id="campaignPrintRow" class=" row">@T("Print")</div>
                    <div class=" row">@T("Name")</div>
                    <div class=" row">@T("Size")</div>
                    <div class=" row">@T("Last Send")</div>
                    <div id="sentThisWeek" class=" row">@T("Send This Week")</div>
                    <div class=" row"></div>
                </div>
            </div>
            <div class="divRow">
                @if (item.Campaign.BackByDefault) { 
                <div class="row"><img style=" width: 40%;margin-left:9%" src='/Media/campaigns/@item.Campaign.Id/@item.Campaign.FirstProductId/normal/@("back.png")'></div>
                }
                else
                {
                    <div class="row"><img style=" width: 40%;margin-left:9%" src='/Media/campaigns/@item.Campaign.Id/@item.Campaign.FirstProductId/normal/@("front.png")'></div>
                }
                <div id="campaignName" class="row">@item.Campaign.Title</div>
                <div class="row">@item.Campaign.Sold</div>
                <div class="row">@item.LastSend</div>
                <div class="row">@item.ThisWeekSend/3</div>
                <div style="align-content:center" class="row">
                    <div>
                        @if (item.ThisWeekSend >= 3 || item.Campaign.Sold == 0)
                        {
                            <a href="@Url.Action("CreateMessage", new { campaignId = item.Campaign.Id })"><button type="button" class="t-button" style="background-color:#f6804b!important" disabled="disabled">@T("Message")</button></a>
                        }
                        else
                        {
                            <a href="@Url.Action("CreateMessage", new { campaignId = item.Campaign.Id })"><button type="button" class="t-button">@T("Message")</button></a>
                        }
                    </div>
                </div>
            </div>
        
        }
    </div>
</div>
