@{
    Style.Include("storefonts.css");
    @model Teeyoot.Dashboard.ViewModels.StoreViewModel
}

<style>
    .widget-SellerDashboardMenu {
        display: none;
    }

    .tb-aside-first {
        display: none !important;
    }

    .dashboard-layout .tb-layout-content {
        padding: 0 !important;
        background-color: white !important;
    }

    .zone-content {
        background-color: white;
    }
</style>
@using (Script.Foot())
{
    <script type="text/javascript">
        var press;

        $("#btn-settings").click(function () {
            if (!press) {
                document.getElementById("settings-menu").className = "store_settings__menu";
                press = true;
            } else {
                document.getElementById("settings-menu").className = "store_settings__menu store_settings__menu--hidden";
                press = false;
            }
        });

        $(".close_message").click(function () {
            var messageDiv = document.getElementsByClassName("form__message--error")[0];
            $(messageDiv).addClass("hidden");
            var message = document.getElementsByClassName("form__message_list")[0];
            message.innerHTML = "";
        });

        function onFileSelected(event) {
            var selectedFile = event.target.files[0];
            var text;
            if (selectedFile.type !== 'image/png') {
                var messageDiv = document.getElementsByClassName("form__message--error")[0];
                $(messageDiv).removeClass("hidden");
                var message = document.getElementsByClassName("form__message_list")[0];
                text = "@T(" Only .png files allowed!")";
                $(message).append(text);

                var imgtag = document.getElementsByClassName("site__featured_full")[0];
                $(imgtag).attr("style", "");

                return;
            }

            var reader = new FileReader();
            var imgtag = document.getElementsByClassName("site__featured_full")[0];

            var img = document.getElementById("banner-image");

            var form = document.getElementById("img-load-form");
            $(form).addClass('s3-uploader store_banner--custom');

            var icon = document.getElementsByClassName("fa-camera-retro")[0];
            $(icon).removeClass('fa-5x').addClass('load_img fa-1x');

            reader.onload = function (event) {
                img.src = event.target.result;
                $(imgtag).attr("style", "background:url('" + event.target.result + "'); background-size: cover;");
            };

            reader.readAsDataURL(selectedFile);
        }

        function AddCampaigns() {
            var window = document.getElementById("modal-campaigns-choose");
            $(window).removeClass('hidden');
            var container = document.getElementsByClassName("store__ftue")[0];
            $(container).addClass('hidden');
            document.getElementById("dg-overlay").className = "dg-overlay";
            var addContainer = document.getElementsByClassName("card__toggle")[0];
            $(addContainer).removeClass('hidden');
        }

        function CloseModal() {
            var window = document.getElementById("modal-campaigns-choose");
            $(window).addClass('hidden');
            document.getElementById("dg-overlay").className = "dg-overlay-not-show";
        }

        $(".checkbox__select_all").click(function () {
            var value = document.getElementsByClassName("checkbox__select_all")[0].checked;
            var boxes = document.getElementsByClassName("list_item__select");
            for (var i = 0; i < boxes.length; i++) {
                boxes[i].checked = value;
            }
        });
        $(".list_item__select").click(function () {
            var value = document.getElementsByClassName("checkbox__select_all")[0].checked = false;
        });

        $("#title").keyup(function () {
            var title = document.getElementById("title").value;
            title = title.split("/").join("").split("?").join("").split("&").join("").split("\\").join("").split(" ").join("");
            var url = document.getElementById("Url_store").value = title;
        });

        function UpdateCampaings() {
            var boxes = document.getElementsByClassName("list_item__select");
            var value;
            var campaigns = document.getElementsByClassName("card-campaign");
            var id;
            var campaign;
            for (var i = 0; i < boxes.length; i++) {
                value = boxes[i].checked;
                if (value) {
                    id = boxes[i].getAttribute("id");
                    campaign = document.getElementById("card_" + id);
                    $(campaign).removeClass('hidden');

                } else {
                    id = boxes[i].getAttribute("id");
                    campaign = document.getElementById("card_" + id);
                    $(campaign).addClass('hidden');
                }

            }
            CloseModal();
        }
        function DeleteItem(item){
            var idItem = item.getAttribute("id");
            var id;
            var campaigns = document.getElementsByClassName("card-campaign");
            var boxes = document.getElementsByClassName("list_item__select");

            for (var i = 0; i < boxes.length; i++) {
                id = boxes[i].getAttribute("id");
                if (id == idItem) {
                    boxes[i].checked = false;
                }
            }

            campaign = document.getElementById("card_" + idItem);
            $(campaign).addClass('hidden');
        }


        function PublishStore() {
            var boxes = document.getElementsByClassName("list_item__select");
            var countCheckedCheckboxes = $(boxes).filter(':checked').length;
            var title = document.getElementById("title").value;
            var url = document.getElementById("Url_store").value;
            url = url.split("/").join("").split("?").join("").split("&").join("").split("\\").join("").split(" ").join("");

            var text;
            if ( title == "") {
                var messageDiv = document.getElementsByClassName("form__message--error")[0];
                $(messageDiv).removeClass("hidden");
                var message = document.getElementsByClassName("form__message_list")[0];
                text = "@T("Title can't be empty!")";
                $(message).append(text);
                return;
            } if (url == "") {
                var messageDiv = document.getElementsByClassName("form__message--error")[0];
                $(messageDiv).removeClass("hidden");
                var message = document.getElementsByClassName("form__message_list")[0];
                text = "@T("Url can't be empty!")";
                $(message).append(text);
                return;
            }
            if (countCheckedCheckboxes <= 2) {
                var messageDiv = document.getElementsByClassName("form__message--error")[0];
                $(messageDiv).removeClass("hidden");
                var message = document.getElementsByClassName("form__message_list")[0];
                text = "@T("You must add at least 3 campaigns to your storefront.")";
                $(message).append(text);
                return;
            } else {
                var img = document.getElementById("banner-image");
                img = img.getAttribute("src");
                var description = document.getElementById("description").value;
                var hideStore = document.getElementsByClassName("hide_from_search__checkbox")[0].checked;
                var crossSell = document.getElementsByClassName("cross_sell__toggle")[0].checked;
                var selectedCampaigns = [];
                var boxes = document.getElementsByClassName("list_item__select");
                var value;
                var id;
                for (var i = 0; i < boxes.length; i++) {
                    value = boxes[i].checked;
                    if (value) {
                        id = boxes[i].getAttribute("id");
                        selectedCampaigns.push(id);
                    }
                }

                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("CreateStorefront", "Dashboard"))",
                    data: addAntiForgeryToken({
                        "base64image": img, "title": title, "description": description, "url": url, "hideStore": hideStore, "crossSelling": crossSell, "selectedCampaigns": selectedCampaigns
                    }),
                    success: function (data, status, resp) {
                        if (resp.status === 200) {
                            window.location.href = '/Stores/' + data;
                        }
                    },
                    error: function (data, status, resp) {
                        var messageDiv = document.getElementsByClassName("form__message--error")[0];
                        $(messageDiv).removeClass("hidden");
                        var message = document.getElementsByClassName("form__message_list")[0];
                        $(message).append(data.statusText);
                    }
                });
            }
        }
        function addAntiForgeryToken(data) {
            data.__RequestVerificationToken = "@Html.AntiForgeryTokenValueOrchard()";
            return data;
        };

        var filterCampaignList = function (el) {
            $('.search_filter').each(function (index, elem) {
                elem = $(elem);
                if (elem.attr('data-Name').indexOf(el.value) === -1) {
                    elem.addClass('hidden');
                } else if (elem.hasClass('hidden')) {
                    elem.removeClass('hidden');
                }
            });
        }
    </script>
}

<div id="dg-overlay"></div>
<div class="site__featured_full">
    <img id="banner-image" class="banner-image hidden">
    <div class="banner__image_uploader__container">
        <div id="img-load-form" class="image_uploader">
            <input id="file" name="file" type="file" onchange="onFileSelected(event)" accept="image/x-png">
            <i class="load_img_big fa fa-camera-retro fa-5x"></i>
            <div class="image_uploader__title">@T("Upload banner photo")</div>
            <div class="image_uploader__subtitle">@T("Only .png files allowed")</div>
            <div class="image_uploader__subtitle_size image_uploader__subtitle">@T("Recommended: 980px X 550px")</div>
            <div class="image_uploader__title--custom">@T("Change image")</div>
        </div>
        <div class="banner__image_progress">
            <div class="progress">
                <div class="bar"></div>
            </div>
        </div>
    </div>
    <div class="store__details_container">
        <div class="store__details--edit">
            <input class="store__name--edit" id="title" maxlength="30" name="name" placeholder="@T("Store Title")" type="text" value="@Model.Title">
            <textarea class="store__description--edit" id="description" maxlength="140" name="description" placeholder="@T("Store Description (optional)")" value="@Model.Description"></textarea>
        </div>
    </div>
</div>

<section class="site__sub_header">
    <div class="site__wrapper">
        <header class="store_owner__banner">
            <button onclick="PublishStore()" class="store_publish__button button button--primary">@T("Publish Store")</button>
            <div class="store_settings">
                <div id="btn-settings" class="store_settings__toggle">
                    <i class="fa fa-cog fa-1x"></i>@T("Settings")
                </div>
                <div id="settings-menu" class="store_settings__menu store_settings__menu--hidden">
                    <ul class="store_settings__menu_links">
                        <li class="store_settings__menu_item change_url__container">
                            <div class="store_settings__header">@T("URL permalink")</div>
                            <div class="input__group input__group_url">
                                <div class="input__group_addon url__host">teeyoot.com/Stores/</div>
                                <input class="store_settings__slug form__textfield input__group_control" maxlength="30" id="Url_store" type="text">
                            </div>
                            <div class="status_message__url"></div>
                        </li>
                        <li class="store_settings__menu_item">
                            <div class="store_settings__description">
                                <div class="store_settings__header">@T("Hide store")</div>
                                <div class="store_settings__details">@T("Hide this store from internet search engines")</div>
                            </div><label class="switch__label">
                                <input class="switch__input hide_from_search__checkbox" name="hide" type="checkbox">
                                <div class="switch__el" data-off="Off" data-on="On"></div>
                            </label>
                        </li>
                        <li class="store_settings__menu_item">
                            <div class="store_settings__description">
                                <div class="store_settings__header">
                                    @T("Enable cross-selling")
                                    <a class="cross_sell__info ts-icon-tip" href="" target="_blank">
                                    </a>
                                </div>
                                <div class="store_settings__details">@T("Suggests other campaigns from this store after a customer’s initial purchase")</div>
                            </div>
                            <label class="switch__label">
                                <input checked="" class="switch__input cross_sell__toggle" name="hide" type="checkbox">
                                <div class="switch__el" data-off="Off" data-on="On">
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
</section>
<div>
    <div class="site__wrapper">
        <div class="form__message form__message--error store__alerts hidden">
            <span class="form__message_list">

            </span>
            <i class="close_message fa fa-times  fa-2x"></i>
        </div>
        <div class="form__message form__message--error store__alerts hidden">
            <div class="form__message_list"></div>
            <i class="form__message_close ts-icon-close"></i>
        </div>
        <div class="form__message form__message--error store__alerts hidden">
            <div class="form__message_list"></div>
            <i class="form__message_close ts-icon-close"></i>
        </div>
        <div class="form__message form__message--warning cross_sell_warning hidden">
            @T("Cross-selling is currently enabled but there are not enough active campaigns. Please")
            <a href="/dashboard">@T("relaunch a campaign")</a> @T("or")
            <a href="/designs">@T("create a new campaign")</a>
            <i class="form__message_close ts-icon-close"></i>
        </div>
        <div class="store__ftue">
            <h1 class="page__heading">@T("Create your first storefront!")</h1>
            <ol class="list__counter">
                @if (Model.Campaigns.Count() >= 3)
                {
                    <li class="list_item__counter list_item__counter--done">@T("Launch 3 campaigns")</li>
                }
                else
                {
                    <li class="list_item__counter">@T("Launch 3 campaigns (2 more needed)")</li>
                }
                <li class="list_item__counter">@T("Pick a name &amp; write a description")</li>
                <li class="list_item__counter">@T("Upload a cover photo")</li>
                <li class="list_item__counter">@T("Add campaigns to your storefront")</li>
            </ol>

            @if (Model.Campaigns.Count() < 3)
            {
                <div>
                    <p>@T("You need at least 3 campaigns to create a storefront.")</p>
                    <p>
                        <a class="button__cta" href="/GetStarted">@T("Launch one now")</a>
                    </p>
                </div>
            }
            else
            {
                <p>
                    <div class="button__cta" onclick="AddCampaigns()">@T("Add Campaigns")</div>
                    <div class="href_to_start_campaign">@T(" or ")<a href="/GetStarted">@T("launch a new campaign")</a></div>
                </p>
            }

        </div>

        @if (Model.Campaigns.Count() >= 3)
        {
            <div class="cards__container cards__container--editing">
                <div class="card add_campaigns__card">
                    <div class="card__image_container card__toggle hidden" onclick="AddCampaigns()">@T("Add Campaigns +")</div>

                    @foreach (var prod in Model.Campaigns)
                    {
                        var daysRemaining = prod.EndDate.Subtract(DateTime.UtcNow).Days;
                        <div class="card card-campaign hidden" id="card_@prod.Id">
                            <div class="image_container">
                                <a href="@prod.URL" title="@prod.Title">
                                    @if (prod.BackSideByDefault)
                                    {
                                        <img alt="@prod.Title" src="/Media/campaigns/@prod.Id/@prod.Products[0].Id/normal/back.png">
                                    }
                                    else
                                    {
                                        <img alt="@prod.Title" src="/Media/campaigns/@prod.Id/@prod.Products[0].Id/normal/front.png">
                                    }
                                </a>
                            </div>
                            <div class="card__options_container">
                                <ul class="card__options">
                                    <li class="options__item options__item_view">
                                        <a href="/@prod.Alias" class="option__link" title="@T("View ") @prod.Title">
                                            <div class="option__name"><span>@T("View")</span></div>
                                        </a>
                                    </li>
                                    <div class="options__item" id="@prod.Id" onclick="DeleteItem(this)">
                                        <a class="store_remove_campaign option__link" data-tooltip="Remove" href="#" title="@T("Remove ") @prod.Title">
                                            <i class="fa fa-trash fa-2x"></i>
                                        </a>
                                    </div>
                                </ul>
                            </div>
                            <div class="card__progress_container">
                                <div class="progress_bar">
                                    <div class="progress_bar__completed" style="width:@(prod.ProductCountSold * 100 / prod.ProductCountGoal)%"></div>
                                </div>
                            </div>
                            <div class="card__campaign_price">@prod.Products[0].CurrencyRecord.Code @prod.Products[0].Price</div>
                            <div class="card__content_container">
                                <div class="card__campaign_stats">
                                    <div class="card__sold">@prod.ProductCountSold / @prod.ProductCountGoal @T("sold")</div>
                                    <div class="card__campaign_time">
                                        <div class="campaign_time__status" title="@prod.EndDate.ToString("dd.MM.yyyy")">
                                            <span>
                                                @if (daysRemaining > 0)
                                                {
                                                    @daysRemaining@:d @T("remaining")
                                                                                                                                                                      }
                                                else if (daysRemaining <= -1)
                                                { @Math.Abs(daysRemaining) @: d @T("ago")
                                                                                                                                                                      }
                                                else
                                                {
                                                    var hours = prod.EndDate.Subtract(DateTime.UtcNow).Hours; if (hours > 0)
                                                    { @hours @: h @T("remaining")
                                                                                                                                                                          }
                                                    else
                                                    { @Math.Abs(hours) @: h @T("ago")
                                                                                                                                                                          }
                                                }
                                            </span>
                                        </div>
                                    </div>
                                </div> <h1 class="card__title"> <a href="/@prod.Alias" title="@prod.Title">@prod.Title</a> </h1>
                            </div>
                        </div>
                    }
                </div>
            </div>  <div id="modal-campaigns-choose" class="cards__container cards__container--editable hidden">
                <div class="choose_campaigns_modal modal">
                    <div class="modal__header">
                        <h3 class="modal__heading">@T("Add Campaigns to ")</h3>
                        <i onclick="CloseModal()" class="fa fa-times  fa-2x"></i>
                    </div>
                    <div class="campaigns__filter_options">
                        <div class="filter_option__select_container">
                            <input class="checkbox__select_all" type="checkbox" value="">
                        </div>
                        <div class="filter_option__search_container">
                            <div class="searchbox__container">
                                <input class="searchbox__input" id="search_campaigns_stores" placeholder="@T("Filter by search")" oninput="filterCampaignList(this);">
                            </div>
                        </div>
                    </div>
                    <div class="campaigns__list_container">
                        <div class="campaigns__list store__campaign_results" id="search_results">
                            @foreach (var prod in Model.Campaigns)
                            {
                                var daysRemaining = prod.EndDate.Subtract(DateTime.UtcNow).Days;
                                <div class="search_filter" data-name="@prod.Title">
                                    <label class="list_item">
                                        <div class="list_item__cell list_item__select_container">
                                            <input type="checkbox" name="@prod.Title" id="@prod.Id" value="@prod.Id" class="list_item__select">
                                        </div>
                                        <div class="list_item__cell list_item__thumbnail">
                                            @if (prod.BackSideByDefault)
                                            { <img src="/Media/campaigns/@prod.Id/@prod.Products[0].Id/normal/back.png"> }
                                            else
                                            { <img src="/Media/campaigns/@prod.Id/@prod.Products[0].Id/normal/front.png"> }
                                        </div>
                                        <div class="list_item__cell list_item__title">   @prod.Title       </div>
                                        <div class="list_item__cell list_item__campaign_reserved">
                                            <div class="campaign_reserved">@prod.ProductCountSold / @prod.ProductCountGoal </div>
                                            <div class="campaign_reserved__caption">@T("reserved")</div>
                                            <div class="progress_container">
                                                <div class="progress_bar">
                                                    <div class="progress_bar__completed" style="width:@(prod.ProductCountSold * 100 / prod.ProductCountGoal)% !important">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list_item__cell list_item__campaign_time">
                                            <div class="campaign_time__status" title="@prod.EndDate.ToString("dd.MM.yyyy")">
                                                <span>
                                                    @if (daysRemaining > 0)
                                                    { @daysRemaining @: d @T("remaining")
                                                                                                                                                                             }
                                                    else if (daysRemaining <= -1)
                                                    { @Math.Abs(daysRemaining) @: d @T("ago")
                                                                                                                                                                             }
                                                    else
                                                    {
                                                        var hours = prod.EndDate.Subtract(DateTime.UtcNow).Hours; if (hours > 0)
                                                        { @hours @: h @T("remaining")
                                                                                                                                                                                 }
                                                        else
                                                        { @Math.Abs(hours) @: h @T("ago")
                                                                                                                                                                                 }
                                                    }  >
                                                </span>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="modal__footer">
                        <button class="add_campaigns__button button button--primary" onclick="UpdateCampaings()">@T("Update Store")</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
