@model  Teeyoot.Dashboard.ViewModels.PayoutsViewModel

@{
    Style.Include("bootstrap.min.css");
    Style.Include("Payouts.css");
    //Script.Include("bootstrap.min.js");
}

@using (Script.Foot())
{
    <script type="text/javascript">
        $(".btnStartPayout").click(function () {
            $("#startPayout").toggle();
            console.log(55);
            return false;
        });
    </script>
}

<div class="dashboard-section-title">
    @T("Payouts")
    <span class="menu-closer" onclick="toggleMobileMenu()"><i class="fa fa-angle-up"></i></span>
    <span class="menu-opener" onclick="toggleMobileMenu()"><i class="fa fa-angle-down"></i></span>
</div>

<section class="general_border">
    <div class="main">
        <h1>Current Payout Amount</h1>
        <div class="balance">
            You currently have $ <b>@Model.Balance</b> ready to be paid out
            <a class="btnStartPayout" href="@Url.Action("StartPayout", "Dashboard")">Start a payout</a>
            <div style="clear:both;"></div>
        </div>

        <h1>Payout History</h1>

        <table class="tbl-pay">
            <tr class="thead">
                <td class="td1">DATE</td>
                <td class="td2">EVENT</td>
                <td class="td3">AMOUNT</td>
                <td class="td4 main">STATUS</td>
            </tr>
            @foreach (var elem in @Model.Transactions)
            {
                <tr>
                    <td class="td1">@elem.Date</td>
                    <td class="td2">@elem.Event</td>
                    @if (@elem.IsPlus)
                    {
                        <td class="td3">+ $@elem.Amount</td>
                    }
                    else
                    {
                        <td class="td3">- $@elem.Amount</td>
                    }
                    <td class="td4">@elem.Status</td>
                </tr>
            }

        </table>
    </div>
    <div id="startPayout" style="display:none">
        @Html.Partial("StartPayout")
    </div>
</section>