@model Teeyoot.Dashboard.ViewModels.PromotionViewModel

@{
    Style.Include("Promotions.css");
    Style.Include("//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css");
    Style.Include("Settings.css");
    Script.Include("promotion.js").AtFoot();
    Script.Require("jQuery");
    Script.Require("jQueryUI");
}
@using (Html.BeginForm(actionName: "ChangeState", controllerName: "Dashboard", routeValues: null, method: FormMethod.Post, htmlAttributes: new { @class = "form-validator" }))
{
    @Html.AntiForgeryToken();
}
@using (Script.Foot())
{
    <script>
        $("#datepicker").datepicker({
            dateFormat: "dd.mm.yy",
            minDate: 0,
        })
        document.title = "Marketing Campaigns | Teeyoot";
        function showCalendar() {
            return $("#datepicker").datepicker("show");
        }


        function addAntiForgeryToken(data) {
            data.__RequestVerificationToken = "@Html.AntiForgeryTokenValueOrchard()";
            return data;
        };

        var token = $('input[name="__RequestVerificationToken"]').val();
        $.ajaxPrefilter(function (options, originalOptions) {
            if (options.type.toUpperCase() == "POST") {
                options.data = $.param($.extend(originalOptions.data, { __RequestVerificationToken: token }));
            }
        })


        function changeState(id)
        {

            var args = {};
            var elId = "switch_" + id;
            args.switchState = document.getElementById(elId).checked;
            args.id = id;
            var token = $('input[name="__RequestVerificationToken"]').val();

           var headers = {};

            headers['__RequestVerificationToken'] = token;

            $.ajax({

                async: false,
                cache: false,
                type: "POST",
                url: "@Url.Action("ChangeState", "Dashboard")",
                data: addAntiForgeryToken({"id" : args.id, "switchState": args.switchState}),
                success: function (msg) {
                    // Something afterwards here

                }
            });

        }


        //$(".amountSize").keyup(function(){
        //    var price = $(".amountSize").val();           
        //if (isNaN(price)) {
        //    price = price.substring(0, price.length - 1);
        //    $(".amountSize").val(price);
        //}
        //});
        function Replace() {
            var price = $(".amountSize").val();
            price = price.replace('.', ',');
            $(".amountSize").val(price);
        }

</script>
}

<div class="dashboard-promotion-title dashboard-section-title">
    @T("Marketing Campaigns")
    <span class="menu-closer" onclick="toggleMobileMenu()"><i class="fa fa-angle-up"></i></span>
    <span class="menu-opener" onclick="toggleMobileMenu()"><i class="fa fa-angle-down"></i></span>
</div>

<div class="dashboard__info_message">
    <p class="promotions__explanation">@T("Market your campaigns! Offer your customers incentives to boost your sales! To keep your sales profitable, be mindful that the marketing campaign will only be applied if there are sufficient profit margin for it")</p>
    <div class="share_promotions">
        @T("Share your promotions by appending the Promotion ID at the end of your campaign URL (for example:")<span class="share_promotions__url">http://teeyoot.com/yourcampaign?promo=PROMOCODE</span> @T("). As an illustration, if the Promotion Code is") <span class="share_promotions__url">FX00wV7h0B</span>@T(", then to share your promotions the URL will be")
            http://teeyoot.com/yourcampaign?promo=<span class="share_promotions__url">FX00wV7h0B</span>
</div>
</div>

<section class="account__email_settings">
    <div class="dashboard_section__header">
        <h1 class="dashboard_section__heading">@T("Add a New Promotion")</h1>
    </div>
    @using (Html.BeginForm("AddPromotion", "Dashboard", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="dashboard_section__content--padded">
            <div class="new_promotion__form">
                <div class="new_promotion__code">
                    <div class="label__title">@T("Generate a New Promotion Code")</div>
                    <div class="input__group new_promotion__field">
                        @Html.TextBoxFor(m => m.PromoId, new { @class = "form__textfield ", @id = "code", @maxlength = "10", @name = "code", @type = "text", @value = "", @required= "true" })             
                        <span class="reload new_promotion__generate_code ts-icon-reload" id="code" maxlength="10" name="code" type="text" value="" onclick="randomString()" />
                    </div>
                    @Html.ValidationMessageFor(m => m.Promotions)
                </div>
                <div class="new_promotion__type">
                    <div class="label__title">@T("Types of Promotions")</div>
                    @Html.TextBoxFor(m => m.DiscountType, new { @class = "form__textfield ", @id = "code", @maxlength = "10", @name = "code", @type = "text", Value = T("Discount"), @readonly = "true", @style = "line-height: -moz-block-height; width: 100% !important;" })
                </div>
                <div class="new_promotion__discount">
                    <div class="label__title">@("Amount")</div>
                    <div class="input__group new_promotion__field">
                        @Html.DropDownListFor(m => m.AmountType, Model.AvailableCurrencies, new { @class = "form__select_menu" })
                        @Html.TextBoxFor(m => m.AmountSize, new { @class = "form__textfield amountSize", @id = "code", @name = "amountSize", @type = "text", Value = "" })                       
                    </div>
                </div>
                <div class="new_promotion__expiration">
                    <div class="label__title">@T("Expiration Date")</div>
                    <div class="input__group new_promotion__field">
                        @Html.TextBoxFor(m => m.Expiration, new { @class = "form__textfield ", @id = "datepicker", @name = "calendar", @type = "text", Value = "", @placeholder=T("Never") , @readonly="readonly"})
                        <span id="calendar" class="new_promotion__clear_expiration clndr_button" style="border: 1px solid #e8eced;" onclick="showCalendar()">
                            <i class="ts-icon-calendar calendar__button"></i>
                        </span>
                    </div>
                </div>
                <div class="new_promotion__save__container">
                    <input name="commit" class="add-button" type="submit" value="+" onclick="return Replace();">
                </div>
            </div>
        </div>
    }
</section>

@using (Html.BeginForm("AddPromotion", "Dashboard", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<section class="account__password_settings account_settings">
    <div id="allPromotions" class="dashboard_section__header">
        <h1 class="dashboard_section__heading">@T("All promotions")</h1>

    </div>
    <div id="promotionList" class="dashboard_section__content--padded">


        <div class="list__container">
            <div class="list_item list_item--heading">
                <div class="list_item__cell code__heading">@T("Promotion Code")</div>
                <div class="list_item__cell discount__heading">@T("Amount")</div>
                <div class="list_item__cell expiration__heading">@T("Expires On")</div>
                <div class="list_item__cell used__heading">@T("Redeemed")</div>
                <div class="list_item__cell status__heading">@T("Status")</div>
                <div id="action"  class="list_item__cell actions__heading"></div>
            </div>
            @foreach (var promotion in Model.Promotions)
            {
                var expiration = "";
                if (@promotion.Expiration.Year == DateTime.MaxValue.Year)
                {
                    expiration = "-";
                }
                else
                {
                    expiration = @promotion.Expiration.ToString("dd/MM/yyyy");
                }
                <div class="list_item" data-id="39431">
                    <div class="list_item__cell list_item__code">@promotion.PromoId</div>
                    <div class="list_item__cell list_item__discount">@if(promotion.AmountType != "%")
                                                                     {
                                                                        @promotion.AmountType <span> </span>  @promotion.AmountSize.ToString("F", System.Globalization.CultureInfo.InvariantCulture)
                                                                     }
                                                                      else{
                                                                         @promotion.AmountSize.ToString("F", System.Globalization.CultureInfo.InvariantCulture) <span> </span> @promotion.AmountType
                                                                            }
                    </div>
                    <div class="list_item__cell list_item__expiration">@expiration</div>
                    <div class="list_item__cell list_item__redeemed">@promotion.Redeemed</div>
                    @if (promotion.Expiration < DateTime.UtcNow)
                    {
                    <div class="list_item__cell list_item__status">
                        <label class="switch__label">

                            <input id="switch_@promotion.Id"  checked="@promotion.Status" class="switch__input promotion__status__checkbox" name="active" type="checkbox" onclick="changeState(@promotion.Id)" disabled />
                            <div class="switch__el" data-off="Off" data-on="On"></div>
                        </label>
                    </div>
                    }
                    else
                    {
                    <div class="list_item__cell list_item__status">
                        <label class="switch__label">

                            <input id="switch_@promotion.Id" checked="@promotion.Status" class="switch__input promotion__status__checkbox" name="active" type="checkbox" onclick="changeState(@promotion.Id)" />
                            <div class="switch__el" data-off="Off" data-on="On"></div>
                        </label>
                    </div>
                    }
                    
                    <div id="action" class="list_item__cell list_item__actions"><a href="@Url.Action("DeletePromotion", new {id = promotion.Id })" class="ts-icon-close delete_promotion__button"></a></div>
                </div>
            }
        </div>

    </div>
</section>
}