@model Orchard.Users.ViewModels.UserSettingsViewModel
@{
    Style.Include("Settings.css");
}

@using (Script.Foot())
{
    <script>
        document.title = "Settings | Teeyoot";
    </script>
}

<div class="dashboard-section-title">
    @T("Settings")
    @if (Model.ErrorMessage != null)
    {
        <div class="validation-summary-errors">
            @Model.ErrorMessage
        </div>
    }
    @if (Model.InfoMessage != null)
    {
        <div class="info-message">
            @Model.InfoMessage
        </div>
    }
    <span class="menu-closer" onclick="toggleMobileMenu()"><i class="fa fa-angle-up"></i></span>
    <span class="menu-opener" onclick="toggleMobileMenu()"><i class="fa fa-angle-down"></i></span>
</div>
<section class="general_settings">
    <div class="dashboard_section__header">
        <h1 class="dashboard_section__heading">@T("Change Your Info")</h1>
    </div>
    <div class="dashboard_section__content--padded">

        @using (Html.BeginForm("ChangeUserInfo", "Dashboard", FormMethod.Post, new { model = Model }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="account__user_info">
                <label>
                    <div class="label__title">@T("Name (Public)")</div>
                    @Html.TextBoxFor(m => m.PublicName, new { @class = "form__textfield", @maxlength = "50", @size = "30" })
                </label>
                <label>
                    <div class="label__title">@T("Phone number")</div>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form__textfield", @maxlength = "50", @size = "30" })
                </label>
            </div>
            <div class="address__info">

                <div class="label__title label__mailing_address">@T("Change your default address")</div>
                <div class="address__group">
                    <div class="address__group_row">
                        <label class="address__field address__field_street">
                            @Html.TextBoxFor(m => m.Street, new { @class = "form__textfield" })
                            <div class="label__subtitle">@T("Street")</div>
                        </label>
                        <label class="address__field address__field_apt">
                            @Html.TextBoxFor(m => m.Suit, new { @class = "form__textfield" })
                            <div class="label__subtitle">@T("Apt / Suite")</div>
                        </label>
                    </div>
                    <div class="address__group_row">
                        <label class="address__field address__field_city">
                            @Html.TextBoxFor(m => m.City, new { @class = "form__textfield" })
                            <div class="label__subtitle">@T("City")</div>
                        </label>
                        <label class="address__field address__field_state" id="states">
                            
                            @Html.TextBoxFor(m => m.State, new { @class = "form__textfield" })
                           
                            <div class="label__subtitle label__subtitle_state">State</div>
                        </label>
                        <label class="address__field address__field_zip">
                            @Html.TextBoxFor(m => m.Zip, new { @class = "form__textfield" })
                            <div class="label__subtitle">@T("Zip")</div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="account__user_info--submit">
                <input name="commit" class="t-button" type="submit" value="@T("Update Info")">
            </div>


        }
    </div>
</section>
<section class="account__email_settings">
    <div class="dashboard_section__header">
        <h1 class="dashboard_section__heading">@T("Change Your Email")</h1>
    </div>
    <div class="dashboard_section__content--padded">
        @using (Html.BeginForm("ChangeEmail", "Dashboard", FormMethod.Post, new { model = Model }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="account__email_info">
                <label>
                    <div class="label__title">@T("Current email address")</div>
                    @Html.TextBoxFor(m => m.CurrentEmail, new { @class = "form__textfield", @maxlength = "50", @size = "30" , @readonly = true})
                </label>
                <label>
                    <div class="label__title">@T("New email address")</div>
                    @Html.TextBoxFor(m => m.NewEmailAddress, new { @class = "form__textfield", @maxlength = "50", @size = "30" })
                </label>
                <label>
                    <div class="label__title">@T("Confirm new email address")</div>
                    @Html.TextBoxFor(m => m.ConfirmNewEmailAddress, new { @class = "form__textfield", @maxlength = "50", @size = "30" })
                </label>
                <input name="commit" class="t-button" type="submit" value="@T("Update Email")">
            </div>
        }
    </div>
</section>
<section class="account__password_settings">
    <div class="dashboard_section__header">
        <h1 class="dashboard_section__heading">@T("Change Your Password")</h1>

    </div>
    <div class="dashboard_section__content--padded">
        @using (Html.BeginForm("ChangePassword", "Dashboard", FormMethod.Post, new { model = Model }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
           
            <div class="account__password_info">
                <label>
                    <div class="label__title">@T("Current password")</div>
                    @Html.ValidationMessageFor(m => m.CurrentPassword)
                    @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "form__textfield", @maxlength = "50", @size = "30", @type = "password" })

                </label>
                <label>
                    <div class="label__title">@T("New password")</div>
                    @Html.ValidationMessageFor(m => m.NewPassword)
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form__textfield", @maxlength = "50", @size = "30", @type = "password", @placeholder = T("Must be longer than 8 characters") })

                </label>
                <label>
                    <div class="label__title">@T("Confirm new password")</div>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form__textfield", @maxlength = "50", @size = "30", @type = "password" })

                </label>
                <input name="commit" class="t-button" type="submit" value="@T("Update Password")">
            </div>
        }
    </div>
</section>