@{
    Style.Include("storefonts.css");
    @model Teeyoot.Dashboard.ViewModels.StoreViewModel
}

<style>
    .widget-SellerDashboardMenu {
        display: none;
    }

    .tb-aside-first {
        display: none !important;
    }

    .dashboard-layout .tb-layout-content {
        padding: 0 !important;
        background-color: white !important;
    }

    .zone-content {
        background-color: white;
    }
    /*.store__details_container{
        height: 160px!important;
    }*/
</style>

<div id="dg-overlay"></div>
<div class="site__featured_full" style="background:url('@Model.Img'); background-size:cover;">
    <div class="store__details_container">
        <div class="store__details store__details_container_show">
            <h1 class="store__name">@Model.Title</h1>
            <div class="store__description">@Model.Description</div>
        </div>
    </div>
</div>


<div>
    <div class="site__wrapper">
        <div class="cards__container cards__container--editing">
            <div class="card add_campaigns__card">

                @foreach (var prod in Model.SelectedCampaigns)
                {
                    var daysRemaining = prod.EndDate.Subtract(DateTime.UtcNow).Days;
                    <div class="card card-campaign " id="card_@prod.Id">
                        <div class="image_container">
                            <a href="/@prod.Alias" title="@prod.Title">
                                @if (prod.BackSideByDefault)
                                {
                                    <img onmouseover="this.src = '/Media/campaigns/@prod.Id/@prod.Products[0].Id/normal/front.png'" onmouseout="this.src ='/Media/campaigns/@prod.Id/@prod.Products[0].Id/normal/back.png'" src="/Media/campaigns/@prod.Id/@prod.Products[0].Id/normal/back.png">
                                }
                                else
                                {
                                    <img onmouseover="this.src = '/Media/campaigns/@prod.Id/@prod.Products[0].Id/normal/back.png'" onmouseout="this.src ='/Media/campaigns/@prod.Id/@prod.Products[0].Id/normal/front.png'" src="/Media/campaigns/@prod.Id/@prod.Products[0].Id/normal/front.png">
                                }
                            </a>
                        </div>

                        <div class="card__progress_container">
                            <div class="progress_bar">
                                <div class="progress_bar__completed" style="width:@(prod.ProductMinimumGoal == 0 ? prod.ProductCountSold * 100 / 1 : prod.ProductCountSold * 100 / prod.ProductMinimumGoal)%"></div>
                            </div>
                        </div>
                        <div class="card__campaign_price">@prod.Products[0].CurrencyRecord.Code @prod.Products[0].Price</div>
                        <div class="card__content_container">
                            <div class="card__campaign_stats">
                                <div class="card__sold">@prod.ProductCountSold / @(prod.ProductMinimumGoal == 0 ? 1 : prod.ProductMinimumGoal) @T("sold")</div>
                                <div class="card__campaign_time">
                                    <div class="campaign_time__status" title="@prod.EndDate.ToString("dd.MM.yyyy")">
                                        <span>
                                            @if (daysRemaining > 0)
                                            {
                                                @daysRemaining@:d @T("remaining")
                                            }
                                            else if (daysRemaining <= -1)
                                            {
                                                @Math.Abs(daysRemaining)@:d @T("ago")
                                            }
                                            else
                                            {
                                                var hours = prod.EndDate.Subtract(DateTime.UtcNow).Hours;

                                                if (hours > 0)
                                                {
                                                    @hours@:h @T("remaining")
                                                }
                                                else
                                                {
                                                    @Math.Abs(hours)@:h @T("ago")
                                                }
                                            }
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <h1 class="card__title">
                                <a href="/@prod.Alias" title="@prod.Title">@prod.Title</a>
                            </h1>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@using (Script.Foot())
{

    <script type="text/javascript">
        document.title = "Shop | Teeyoot";

        </script>
}