@model Teeyoot.WizardSettings.ViewModels.ArtworkIndexViewModel
@{
    Layout.Title = T("Artworks");
}

<div class="manage">
    <a class="button primaryAction" href="@Url.Action("AddArtwork", "Artwork")">@T("Add New Artwork")</a>
</div>

<ul class="contentItems">
    @foreach (var artwork in Model.Artworks)
    {
        <li>
            <div class="summary">
                <div class="properties">
                    <div>
                        <h3>@artwork.Name</h3>
                        <img src="@artwork.ImageUrl" alt="@artwork.Name"/>
                    </div>
                </div>
                <div class="related">
                    <a href="@Url.Action("EditArtwork", "Artwork", new {name = artwork.Name})" title="@T("Edit")">@T("Edit")</a>@T(" | ")
                    <a href="@Url.Action("DeleteArtwork", "Artwork", new {name = artwork.Name})" itemprop="RemoveUrl">@T("Delete")</a>
                </div>
            </div>
        </li>
    }
</ul>
@Display(Model.Pager)