@using Orchard.Mvc.Extensions
@using Orchard.Utility.Extensions
@model Teeyoot.WizardSettings.ViewModels.ArtworkIndexViewModel
@{
    Layout.Title = T("Artworks");
}

<div class="manage">
    <a class="button primaryAction" href="@Url.Action("AddArtwork", "Artwork")">@T("Add New Artwork")</a>
</div>

<ul class="contentItems">
    @if (Model.Arts != null)
    {
        foreach (var art in Model.Arts)
        {
            <li>
                <div class="summary">
                    <div class="properties">
                        <div>
                            <h3>@art.Name</h3>
                            <img src="@Url.MakeAbsolute(Model.ArtworksImagesRelativePath + "/" + Path.GetFileNameWithoutExtension(art.FileName) + ".png", HttpContext.Current.Request.ToRootUrlString())" alt="@art.Name" />
                        </div>
                    </div>
                    <div class="related">
                        <a href="@Url.Action("EditArtwork", "Artwork", new {artworkId = art.Id})" title="@T("Edit")">@T("Edit")</a>@T(" | ")
                        <a href="@Url.Action("DeleteArtwork", "Artwork", new {artworkId = art.Id})" itemprop="RemoveUrl">@T("Delete")</a>
                    </div>
                </div>
            </li>
        }
    }
</ul>
@Display(Model.Pager)