@model Teeyoot.Module.ViewModels.AdminCostViewModel
@{
    Layout.Title = T("T-Shirt Cost Edit").ToString();
    Style.Include("Cost.css");
}
@using System.Globalization;
@using (Html.BeginForm("Save", "AdminCost", FormMethod.Get))
{
    @Html.ValidationSummary(true)
    <fieldset class="bulk-actions">
        <table class="items">
            <tr>
                <th>@T("1st Screen Cost (RM)")</th>
                <td>@Html.TextBoxFor(m => m.FirstScreenCost, new { required = "required" })</td>
            </tr>
            <tr>
                <th>@T("Additional Screen Costs (RM)")</th>
                <td>@Html.TextBoxFor(m => m.AdditionalScreenCosts, new { required = "required" })</td>
            </tr>
            <tr>
                <th>@T("Ink Cost (RM per litre per colour)")</th>
                <td>@Html.TextBoxFor(m => m.InkCost, new { required = "required" })</td>
            </tr>
            <tr>
                <th>@T("Prints per litre")</th>
                <td>@Html.TextBoxFor(m => m.PrintsPerLitre, new { required = "required", type = "number" })</td>
            </tr>
            <tr>
                <th>@T("Labour Cost (RM per hr)")</th>
                <td>@Html.TextBoxFor(m => m.LabourCost, new { required = "required" })</td>
            </tr>
            <tr>
                <th>@T("Labour time per colour per print (seconds)")</th>
                <td>@Html.TextBoxFor(m => m.LabourTimePerColourPerPrint, new { required = "required", type = "number" })</td>
            </tr>
            <tr>
                <th>@T("Labour time per side printed per print (seconds)")</th>
                <td>@Html.TextBoxFor(m => m.LabourTimePerSidePrintedPerPrint, new { required = "required", type = "number" })</td>
            </tr>
            <tr>
                <th>@T("Percentage Mark-Up required")</th>
                <td>@Html.TextBoxFor(m => m.PercentageMarkUpRequired, new { required = "required" })</td>
            </tr>
            <tr>
                <th>@T("DTG print price (RM)")</th>
                <td>@Html.TextBoxFor(m => m.DTGPrintPrice, new { required = "required" })</td>
            </tr>
            <tr>
                <th>@T("Sales goal")</th>
                <td>@Html.TextBoxFor(m => m.SalesGoal, new { required = "required", type = "number" })</td>
            </tr>
        </table>
    </fieldset>
    <div class="button-cost">
        <button type="submit">@T("Save")</button>
    </div>
}