@{
    Style.Include("Search.css");
}
@using Teeyoot.Module.Models;

@if (ViewBag.NotResult)
{
    <div class="tb-return-result">
        <h1>No search results for the word "@ViewBag.Filter"!</h1>
    </div>
}
else
{
   
    <div class="tb-return-result">
        @foreach (CampaignRecord camp in ViewBag.CampList)
        {
            string sold = camp.ProductCountSold.ToString() + "/" + camp.ProductCountGoal.ToString() + " sold";
            
            DateTime now = DateTime.Now;
            TimeSpan dif = camp.EndDate.Subtract(now);
            string dateLeft = string.Empty;
            if (dif.Days < 0)
            {
                dateLeft = "Ended";
            }
            else
            {
                dateLeft = dif.Days + "d left";
            }

            float widthResult = 0;
            string width = string.Empty;
            if ((camp.ProductCountGoal - camp.ProductCountSold) <= 0)
            {
                widthResult = 100;
            }
            else
            {
                widthResult = camp.ProductCountSold / (camp.ProductCountGoal / 100);
            }
            width = widthResult.ToString() + "% !important";

            string row = string.Empty;
            if (ViewBag.Count == 3)
            {
                ViewBag.Count = 0;
            }
            if (ViewBag.Count == 0)
            {
                row = "row";
            }
            ViewBag.Count++;

            
            @*<div class="@row">*@
            <div class=" span-1 cell tee-preview">
                <div>
                    <div class="featurde-compaigns">
                        <div class="preview-img">
                            <p><a href="#"><img src="/Media/Default/images/f5.jpg"></a></p>
                        </div>
                        <div class="progress-bar-search">
                            <div class="progress-bar-result" style="width: @width"></div>
                        </div>
                        <div class="campaigns-text">
                            <div class=" span-3 cell campaigns-sold-search">
                                <div class="sold-left">@sold</div>
                                <div class="days-right">@dateLeft</div>
                            </div>
                            <div class=" span-3 cell campaigns-text-search">
                                <div><a href="@camp.URL">@camp.Title</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            @*</div>*@ 
        }
    </div>
}

@*<div class="tb-return-result">
        <div class="row featured-campaigns-list">
            <div class="span-3 cell tee-preview-search">
                <p><img src="/Media/Default/images/f2.jpg"></p>
            </div>
            <div class="span-3 cell tee-preview-search">
                <p><img src="/Media/Default/images/f3.jpg"></p>
            </div>
            <div class="span-3 cell tee-preview-search">
                <p><img src="/Media/Default/images/f6.jpg"></p>
            </div>
            <div class="span-3 cell tee-preview-search">
                <p><img src="/Media/Default/images/f6.jpg"></p>
            </div>
        </div>
        <div class="row row-campaigns-search">
            <div class=" span-3 cell progress-bar-search"></div>
            <div class=" span-3 cell progress-bar-search"></div>
            <div class=" span-3 cell progress-bar-search"></div>
            <div class=" span-3 cell progress-bar-search"></div>
        </div>
        <div class="row row-campaigns-search">
            <div class=" span-3 cell campaigns-sold-search">
                <div class="sold-left">170/100 sold</div>
                <div class="days-right">5d left</div>
            </div>
            <div class=" span-3 cell campaigns-sold-search">
                <div class="sold-left">170/100 sold</div>
                <div class="days-right">6d left</div>
            </div>
            <div class=" span-3 cell campaigns-sold-search">
                <div class="sold-left">140/100 sold</div>
                <div class="days-right">2d left</div>
            </div>
            <div class=" span-3 cell campaigns-sold-search">
                <div class="sold-left">140/100 sold</div>
                <div class="days-right">15d left</div>
            </div>
        </div>
        <div class="row">
            <div class=" span-3 cell campaigns-text-search">
                <div><a href="~/">Cute - Cheerleader</a></div>
            </div>
            <div class=" span-3 cell campaigns-text-search">
                <div><a href="~/">KingHova Tee!</a></div>
            </div>
            <div class=" span-3 cell campaigns-text-search">
                <div><a href="~/">KingHova Tee!</a></div>
            </div>
            <div class=" span-3 cell campaigns-text-search">
                <div><a href="~/">KingHova Tee!</a></div>
            </div>
        </div>
    </div>*@
