@model Teeyoot.WizardSettings.ViewModels.ProductHeadlineViewModel
@{
    Layout.Title = T("Add Product Headline");
}

<h2>@T("Add New Product Headline")</h2>

@using (Html.BeginFormAntiForgeryPost())
{
    <fieldset>
        @Html.LabelFor(m => m.Name, T("Name"))
        @Html.TextBoxFor(m => m.Name, new {@class = "text large"})
    </fieldset>
    <fieldset class="save-button">
        <button type="submit" class="primaryAction">@T("Save")</button>
        <a class="button" href="@Url.Action("Index", "ProductHeadline")">@T("Cancel")</a>
    </fieldset>
}