@model Teeyoot.WizardSettings.ViewModels.ProductHeadlineIndexViewModel
@{
    Layout.Title = T("Headlines");
}

<div class="manage">
    <a class="button primaryAction" href="@Url.Action("AddProductHeadline", "ProductHeadline")">
        @T("Add New Product Headline")
    </a>
</div>

<ul class="contentItems">
    @if (Model.ProductHeadlines != null)
    {
        foreach (var productHeadline in Model.ProductHeadlines)
        {
            <li data-record-text="@productHeadline.Id">
                <div class="summary">
                    <div class="properties">
                        <div>
                            <h3>@productHeadline.Name</h3>
                        </div>
                    </div>
                    <div class="related">
                        <a href="@Url.Action("EditProductHeadline", "ProductHeadline", new {productHeadlineId = productHeadline.Id})" title="@T("Edit")">@T("Edit")</a>@T(" | ")
                        <a href="@Url.Action("DeleteProductHeadline", "ProductHeadline", new {productHeadlineId = productHeadline.Id})" itemprop="RemoveUrl">@T("Delete")</a>
                    </div>
                </div>
            </li>
        }
    }
</ul>
@Display(Model.Pager)