@model  Teeyoot.Messaging.ViewModels.AdminMessagesViewModel

@{
    Style.Include("AdminContentMessage.css");
    Layout.Title = T("Messages").ToString();
}

@{
    <fieldset>
        <table class="items">
            <thead>
                <tr class="admin-categories">
                    <th class="date">
                        <h3>Date</h3>
                    </th>
                    <th class="userId">
                        <h3>UserId</h3>
                    </th>
                    <th class="subject">
                        <h3>Subject</h3>
                    </th>
                    <th class="sender">
                        <h3>Sender</h3>
                    </th>
                    <th class="text">
                        <h3>Text</h3>
                    </th>
                    <th class="inf">
                        <h3></h3>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Messages)
                {
                    <tr class="admin-categories-tr">
                        <td class="date">
                            @item.SendDate
                        </td>
                        <td class="userId">
                            @item.UserId
                        </td>                       
                        <td class="subject">
                            @item.Subject
                        </td>
                        <td class="sender">
                            @item.Sender
                        </td>
                        <td class="text">
                            @item.Text
                        </td>
                        <td class="inf">
                            <button class="go" type="submit" value="@item.UserId,@item.Id">@T("Approve")
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
    
}
@Display(Model.Pager);
