@model Teeyoot.Dashboard.ViewModels.CampaignIndexViewModel
@{
    Style.Include("campaign.css");
    Script.Require("jQuery");
    Script.Include("jquery.flip.js");
    Script.Include("jquery.elevateZoom-3.0.8.min.js"); 
}
@using (Script.Head())
{

	<meta property="og:site_name" content="Teeyoot"/>
	<meta property="og:title" content="@Model.Campaign.Title" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="627" />
	<meta property="og:description" content="@Model.Campaign.Description" />
    <meta property="og:url" content="http://teebay.bqt.me/@Model.Campaign.Alias"/>

    <meta name="twitter:domain" content="Teeyoot.com">
    <meta name="twitter:card" content="photo">
    <meta name="twitter:description" content="@Model.Campaign.Description">
    <meta name="twitter:title" content="@Model.Campaign.Title">
    <meta name="twitter:site" content="teeyoot">
    @*<meta name="twitter:image" content="http://teebay.bqt.me/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/normal/front.png">*@
}

@using (Script.Foot())
{
    <script>
    var twitterBtn = document.getElementsByClassName("btn--twitter");
    for (var k = 0; k < twitterBtn.length; k++) {
        $(twitterBtn[k]).attr("href", "http://twitter.com/home?status=Check%20out%20 @Model.Campaign.Title available to @Model.Campaign.EndDate.ToLocalTime() via http://teebay.bqt.me/@Model.Campaign.Alias");
    }
    var pinterestBtn = document.getElementsByClassName("btn--pinterest");
    for (var k = 0; k < pinterestBtn.length; k++) {
        $(pinterestBtn[k]).attr("href", "https://www.pinterest.com/pin/create/button/?url= http://teebay.bqt.me/@Model.Campaign.Alias;description=@Model.Campaign.Description;media=http://teebay.bqt.me/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/normal/back.png");
    }
    var facebookBtn = document.getElementsByClassName("btn--facebook");
    for (var k = 0; k < facebookBtn.length; k++) {
        $(facebookBtn[k]).attr("href", "http://www.facebook.com/share.php?u=http://teebay.bqt.me/@Model.Campaign.Alias");
    }

    $(".product__size_chart_link--show").click(function () {
        document.getElementById("js-product-card").className = "product__card_wrap js-product-card product__card_wrap--v2 card-open";
    });
    $(".product__size_chart_link--hide").click(function () {
        document.getElementById("js-product-card").className = "product__card_wrap js-product-card product__card_wrap--v2";
    });

    $(".js-size-unit-toggle-inches").click(function () {
        var id = $("#product__dropdown option:selected")[0].id;
        var size_show = document.getElementsByClassName("product__size_chart");
        document.getElementById("js-size-chart-wrap").className = "product__size_chart_wrap product__size_chart_wrap--inch";
    });
    $(".js-size-unit-toggle-centimeters").click(function () {
        var id = $("#product__dropdown option:selected")[0].id;
        document.getElementById("js-size-chart-wrap").className = "product__size_chart_wrap product__size_chart_wrap--cm";
    });

    $("#js-circle-nav-item-front").click(function () {
        document.getElementById("image-wrap-front").className = "image_stack__image_wrap image_stack__image_wrap--active";
        document.getElementById("image-wrap-back").className = "image_stack__image_wrap";
        document.getElementById("js-circle-nav-item-front").className = "image_stack__nav_item js-circle-nav-item image_stack__nav_item--active";
        document.getElementById("js-circle-nav-item-back").className = "image_stack__nav_item js-circle-nav-item";
    });
    $("#js-circle-nav-item-back").click(function () {
        document.getElementById("image-wrap-front").className = "image_stack__image_wrap";
        document.getElementById("image-wrap-back").className = "image_stack__image_wrap image_stack__image_wrap--active";
        document.getElementById("js-circle-nav-item-front").className = "image_stack__nav_item js-circle-nav-item";
        document.getElementById("js-circle-nav-item-back").className = "image_stack__nav_item js-circle-nav-item image_stack__nav_item--active";
    });


    $("#image-stack-arrow-right").click(function () {
        document.getElementById("image-stack-arrow-left").className = "image_stack__arrow image_stack__arrow--left js-arrow-prev ts-icon-left-arrow";
        document.getElementById("image-stack-arrow-right").className = "image_stack__arrow image_stack__arrow--right js-arrow-next ts-icon-right-arrow hidden";
        document.getElementById("image-wrap-front").className = "image_stack__image_wrap";
        document.getElementById("image-wrap-back").className = "image_stack__image_wrap image_stack__image_wrap--active";
    });
    $("#image-stack-arrow-left").click(function () {
        document.getElementById("image-stack-arrow-left").className = "image_stack__arrow image_stack__arrow--left js-arrow-prev ts-icon-left-arrow hidden";
        document.getElementById("image-stack-arrow-right").className = "image_stack__arrow image_stack__arrow--right js-arrow-next ts-icon-right-arrow";
        document.getElementById("image-wrap-front").className = "image_stack__image_wrap image_stack__image_wrap--active";
        document.getElementById("image-wrap-back").className = "image_stack__image_wrap";
    });

    var size_show = document.getElementsByClassName("product__size_chart")[0];
    $(size_show).addClass("active");

    var details = document.getElementsByClassName("product__details")[0];
    $(details).addClass("active");

    function VisibleRemove() {
        var cntRows = document.getElementById('order_item_list_modal').childElementCount;
        if (cntRows == 1) { return; }
        if (cntRows == 2) {
            var current = document.getElementsByClassName("precheckout_items_table__row")[0];
            var newSize = $(current).find("#precheckout-item-remove")[0];
            newSize.className = "precheckout_item_remove_button hidden";
        } else {
            var current = document.getElementsByClassName("precheckout_items_table__row")[0];
            var newSize = $(current).find("#precheckout-item-remove")[0];
            newSize.className = "precheckout_item_remove_button";
        }
    };

    var i = 1;
    $("#add-row").click(function () {
        var rowHtml = document.getElementById('first-line-item').innerHTML;
        var newRow = document.createElement('tr');
        $(newRow)
            .addClass('precheckout_items_table__row')
            .attr('id', 'js-precheckout-line-item-' + i)
            .html(rowHtml)
            .appendTo($("#order_item_list_modal"))
        i = i + 1;
        VisibleRemove();
    });


    $('#prodFront').elevateZoom({ zoomWindowPosition: 2, zoomWindowWidth: 480, zoomWindowHeight: 600 });
    $('#prodBack').elevateZoom({ zoomWindowPosition: 2, zoomWindowWidth: 480, zoomWindowHeight: 600 });

    function ItemRemove(node) {
        var el = document.getElementById(node.id);
        el.parentNode.removeChild(el);
        VisibleRemove();
    }

    var firstBack = "@Model.Campaign.BackSideByDefault";
    var isFront = true;
    $(function ($) {
        $("#card").flip({
            trigger: 'manual'
        }).click(function () {
            isFront = !isFront;
            console.log(isFront);
            $("#card").flip(!isFront);
            var id = $("#product__dropdown option:selected")[0].id;

            if (firstBack == "True") {
                if (isFront) {
                    $('.zoomWindowContainer div').stop().css("background-image", "url(" + "/Media/campaigns/@Model.Campaign.Id/" + id + "/big/back.png " + ")");
                } else {
                    $('.zoomWindowContainer div').stop().css("background-image", "url(" + "/Media/campaigns/@Model.Campaign.Id/" + id + "//big/front.png" + ")");
                }
            } else {
                if (!isFront) {
                    $('.zoomWindowContainer div').stop().css("background-image", "url(" + "/Media/campaigns/@Model.Campaign.Id/" + id + "//big/back.png " + ")");
                } else {
                    $('.zoomWindowContainer div').stop().css("background-image", "url(" + "/Media/campaigns/@Model.Campaign.Id/" + id + "//big/front.png" + ")");
                }
            }

        });

    });


    function Resrve() {
        var rowHtml = document.getElementById('first-line-item').innerHTML;
        var newRow = document.createElement('tr');
        $(newRow)
            .addClass('precheckout_items_table__row')
            .attr('id', 'js-precheckout-line-item-' + i)
            .html(rowHtml)
            .appendTo($("#order_item_list_modal"))
        i = i + 1;
        VisibleRemove();
        document.getElementById("reserve-it-now").className = "dg-overlay";

    }

    function CloseReservation() {
        document.getElementById("reserve-it-now").className = "dg-overlay-not-show";
        var el = document.getElementsByClassName("precheckout_items_table__row");
        var length = el.length;
        for (var i = 0; i < length; i++) {
            el[0].parentNode.removeChild(el[0]);
        }

        VisibleRemove();
    }

    function ChangeProduct(item) {
        var id = item[item.selectedIndex].id;
        if (!isFront) {
            isFront = !isFront;
            console.log(isFront);
            $("#card").flip(!isFront);
        }
        var modalImg = document.getElementsByClassName("modal_campaign_img")[0];

        if (firstBack == "True") {
            $("#prodFront").attr("src", "/Media/campaigns/@Model.Campaign.Id/" + id + "/normal/back.png");
            $("#prodBack").attr("src", "/Media/campaigns/@Model.Campaign.Id/" + id + "/normal/front.png");
            $("#prodFront").attr("data-zoom-image", "/Media/campaigns/@Model.Campaign.Id/" + id + "/big/back.png");
            $("#prodBack").attr("data-zoom-image", "/Media/campaigns/@Model.Campaign.Id/" + id + "/big/front.png");
            $(modalImg).attr("src", "/Media/campaigns/@Model.Campaign.Id/" + id + "/normal/back.png");
        } else {
            $("#prodFront").attr("src", "/Media/campaigns/@Model.Campaign.Id/" + id + "/normal/front.png");
            $("#prodBack").attr("src", "/Media/campaigns/@Model.Campaign.Id/" + id + "/normal/back.png");
            $("#prodFront").attr("data-zoom-image", "/Media/campaigns/@Model.Campaign.Id/" + id + "/big/front.png");
            $("#prodBack").attr("data-zoom-image", "/Media/campaigns/@Model.Campaign.Id/" + id + "/big/back.png");
            $(modalImg).attr("src", "/Media/campaigns/@Model.Campaign.Id/" + id + "/normal/front.png");
        }

        var index = item.selectedIndex;
        var drop_down = document.getElementById("product__dropdown_modal");

        var row = drop_down.parentNode.parentNode;

        var currentModalSize = $(row).find('.size-dropdown.shown')[0];
        var newModalSize = $(row).find('select[name=select_size_index_' + index + ']')[0];

        $(currentModalSize).removeClass('shown').addClass('hidden');
        $(newModalSize).removeClass('hidden').addClass('shown');

        var currentPrice = $(row).find('.modal-price.shown')[0];
        var newPrice = $(row).find('span[name=select_size_index_' + index + ']')[0];

        $(currentPrice).removeClass('shown').addClass('hidden');
        $(newPrice).removeClass('hidden').addClass('shown');

        document.getElementById('product__dropdown_modal').selectedIndex = index;

        var options = document.getElementById('product__dropdown_modal').options;
        for (var i = 0; i < options.length; i++) {
            if (options[i].value == id) {

                options[i].setAttribute("selected", "selected");
            } else {
                options[i].removeAttribute("selected");
            }
        }

        if (firstBack == "True") {
            if (isFront) {
                $('.zoomWindowContainer div').stop().css("background-image", "url(" + "/Media/campaigns/@Model.Campaign.Id/" + id + "/big/back.png " + ")");
            } else {
                $('.zoomWindowContainer div').stop().css("background-image", "url(" + "/Media/campaigns/@Model.Campaign.Id/" + id + "/big/front.png" + ")");
            }
        } else {
            if (!isFront) {
                $('.zoomWindowContainer div').stop().css("background-image", "url(" + "/Media/campaigns/@Model.Campaign.Id/" + id + "/big/back.png " + ")");
            } else {
                $('.zoomWindowContainer div').stop().css("background-image", "url(" + "/Media/campaigns/@Model.Campaign.Id/" + id + "/big/front.png" + ")");
            }
        }


        var size_show = document.getElementsByClassName("product__size_chart");
        for (var i = 0; i < size_show.length; i++) {
            if ($(size_show[i]).attr('data-product-id') == id) {
                $(size_show[i]).addClass("active");
            } else {
                $(size_show[i]).removeClass("active");
            }
        }

        var details = document.getElementsByClassName("product__details");
        for (var i = 0; i < details.length; i++) {
            if ($(details[i]).attr('data-product-id') == id) {
                $(details[i]).addClass("active");
            } else {
                $(details[i]).removeClass("active");
            }
        }

    }

    function ChangeProductModal(item) {
        var par = item.parentNode.parentNode.id;
        var index = item.selectedIndex;
        var id = item[item.selectedIndex].id;
        var row = item.parentNode.parentNode;
        var img = $(row).find('.modal_campaign_img')[0];
        if (firstBack == "True") {
            img.setAttribute("src", "/Media/campaigns/@Model.Campaign.Id/" + id + "/normal/back.png");
        } else {
            img.setAttribute("src", "/Media/campaigns/@Model.Campaign.Id/" + id + "/normal/front.png");
        }

        var currentSize = $(row).find('.size-dropdown.shown')[0];
        var newSize = $(row).find('select[name=select_size_index_' + index + ']')[0];

        $(currentSize).removeClass('shown').addClass('hidden');
        $(newSize).removeClass('hidden').addClass('shown');

        var currentPrice = $(row).find('.modal-price.shown')[0];
        var newSize = $(row).find('span[name=select_size_index_' + index + ']')[0];

        $(currentPrice).removeClass('shown').addClass('hidden');
        $(newSize).removeClass('hidden').addClass('shown');



    }

    function sendData() {
        if (('@Model.PromoId') != null) {
            var promoId = '@Model.PromoId';
        }
        var products = [];
        var tableRows = $('.precheckout_items_table__row');
        var count;
        var productId;
        var sizeId;

        tableRows.each(function (index, el) {

            var items = $(el).find('.product__dropdown')[0];
            productId = items[items.selectedIndex].value;
            items = $(el).find('.size-dropdown.shown')[0];
            sizeId = items[items.selectedIndex].value;
            count = $(el).find('.product-count')[0].value;

            products.push({ ProductId: productId, SizeId: sizeId, Count: count });
        });

        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "@(Url.Action("CreateOrder", "Home"))",
            data: addAntiForgeryToken({
                "products": products
            }),
            success: function (data, status, resp) {
                if (resp.status === 200) {
                    if (promoId) {
                        window.location.href = '/Buy/' + data + "?promo=" + promoId;
                    } else {
                        window.location.href = '/Buy/' + data;
                    }
                }
            },
            error: function (data, status, resp) {
                alert('Status: ' + data.status + '. Error message: ' + data.statusText);
            }
        });

    }

    function shareCampaign() {
        var isBack = firstBack;
        var campaignId = document.getElementById("campaignId").value;

        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "@(Url.Action("ShareCampaign", "Home"))",
            data: addAntiForgeryToken({ "isBack": isBack, "campaignId": campaignId }),
            success: function () {
                $('head').append('<meta property="og:image" content="http://teebay.bqt.me/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/social/campaign.png" />');
                $('head').append('<meta name="twitter:image" content="http://teebay.bqt.me/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/social/campaign.png" />');              
            }
        });

        }


    function addAntiForgeryToken(data) {
        data.__RequestVerificationToken = "@Html.AntiForgeryTokenValueOrchard()";
        return data;
    };




    function CountdownTimer(elm, tl, mes) {
        this.initialize.apply(this, arguments);
    }
    CountdownTimer.prototype = {
        initialize: function (elm, tl, mes) {
            this.elem = document.getElementById(elm);
            this.tl = tl;
            this.mes = mes;
        }, countDown: function () {
            var timer = '';
            var today = new Date();
            var day = Math.floor((this.tl - today) / (24 * 60 * 60 * 1000));
            var hour = Math.floor(((this.tl - today) % (24 * 60 * 60 * 1000)) / (60 * 60 * 1000));
            var min = Math.floor(((this.tl - today) % (24 * 60 * 60 * 1000)) / (60 * 1000)) % 60;
            var sec = Math.floor(((this.tl - today) % (24 * 60 * 60 * 1000)) / 1000) % 60 % 60;
            var me = this;

            if ((this.tl - today) > 0) {
                timer += '<span class="number-wrapper"><div class="line"></div><div class="caption">DAYS</div><span class="number day">' + day + '</span></span>';
                timer += '<span class="number-wrapper"><div class="line"></div><div class="caption">HOURS</div><span class="number hour">' + hour + '</span></span>';
                timer += '<span class="number-wrapper"><div class="line"></div><div class="caption">MINS</div><span class="number min">' + this.addZero(min) + '</span></span><span class="number-wrapper"><div class="line"></div><div class="caption">SECS</div><span class="number sec">' + this.addZero(sec) + '</span></span>';
                this.elem.innerHTML = timer;
                tid = setTimeout(function () { me.countDown(); }, 10);
            } else {
                this.elem.innerHTML = this.mes;
                return;
            }
        }, addZero: function (num) { return ('0' + num).slice(-2); }
    }
    function CDT() {
        var finishDate = document.getElementById("persistent__timer").value;
        var tl = new Date(finishDate);


        var timer = new CountdownTimer('back_timer', tl, '<div class="finish">@T("The time expired on ")' + finishDate + ' </div>');
        timer.countDown();
    }
    window.onload = function () {
        CDT();
    }


</script>

}

@*Локализацию!!!!! Обвернуть всё в T()*@



<section class="site__featured_container">
    @* toDo: script for opening Modal window*@
    @* toDo: send total price with discount to payment form*@
    @*<div aria-hidden="false" aria-labelledby="myModalLabel" class="promo_modal modal modal--inactive js_promo_modal promo_modal--free_shipping" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="promo_modal__content">
                <div class="promo_modal__body">
                    <div class="promo__discount js_promo_discount">
                    </div>
                    <h2 class="clean title promo_modal__title js_promo_title"></h2>
                    <div class="promo__description">
                        <span class="promo__description__first js_promo_description_first">
                        </span>
                        <span class="promo__description__last">
                            <span class="promo__formatted_discount js_promo_formatted_amount">
                            </span>
                            <span class="promo__description__end js_promo_description_end"></span>
                        </span>
                    </div>
                </div>
                <div class="promo_modal__footer modal-footer">
                    <button aria-hidden="false" class="button__cta button__cta--secondary button--continue js_continue" type="button">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal__overlay modal--inactive"></div>*@

    <section class="site__featured_full">
        <div class="site__wrapper js_fixed_product">
            <div class="message_banner__container js_promo_banner">

                @if (@Model.InfoMessage != null)
                {
                    <div class="info-message">
                        @Model.InfoMessage
                    </div>
                }

                <div class="message_banner">
                    <div class="message_banner__text js_promo_banner_text"></div>
                    <i class="message_banner__close ts-icon-close"></i>
                </div>
            </div>

            <div class="js-campaign-title">
                <h1 class="campaign__name campaign__name--old">@Model.Campaign.Title</h1>
                <h1 class="campaign__name display--mobile hidden">@Model.Campaign.Title</h1>
            </div>

            <div class="campaign__short_description display--mobile">
                <span>@Model.Campaign.Description</span>
                <a class="js-description-jump" href="">@T("Read more")</a>
            </div>


            <div class="image_stack__container js_image_stack">

                <div id="card" style="margin-right:30px">



                    <div id="front" class="front">
                        @if (@Model.Campaign.BackSideByDefault)
                        {
                            <img id="prodFront" src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/normal/back.png"
                                 data-zoom-image="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/big/back.png">
                            <div id="butt1" style="text-align:center; ">
                                <div class="flip-button flip-button-front" style="background-color:#6c7478; color: white;"><span>@("Back")</span></div>
                                <div class="flip-button flip-button-back"><span>@T("Front")</span></div>
                            </div>
                        }
                        else
                        {
                            <img id="prodFront"
                                 src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/normal/front.png"
                                 data-zoom-image="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/big/front.png">


                            <div id="butt1" style="text-align:center; ">
                                <div class="flip-button flip-button-front" style="background-color:#6c7478; color: white;"><span>@("Front")</span></div>
                                <div class="flip-button flip-button-back"><span>@T("Back")</span></div>
                            </div>
                        }
                    </div>
                    <div id="back" class="back">
                        @if (@Model.Campaign.BackSideByDefault)
                        { <img id="prodBack"
                               src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/normal/front.png"
                               data-zoom-image="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/big/front.png">
                            <div id="butt2" style="text-align:center;">
                                <div class="flip-button flip-button-front"><span>@T("Back")</span></div>
                                <div class="flip-button flip-button-back" style="background-color:#6c7478; color: white;"><span>@("Front")</span></div>
                            </div>
                        }
                        else
                        {
                            <img id="prodBack"
                                 src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/normal/back.png"
                                 data-zoom-image="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/big/back.png">

                            <div id="butt2" style="text-align:center;">
                                <div class="flip-button flip-button-front"><span>@T("Front")</span></div>
                                <div class="flip-button flip-button-back" style="background-color:#6c7478; color: white;"><span>@("Back")</span></div>
                            </div>
                        }
                    </div>


                </div>
            </div>

            <div class="campaign__column--product" style="min-height: inherit;">

                <div class="zoom_window__container .zoomWindowContainer" style="max-width: none;">


                </div>

                <h1 class="campaign__name display--desktop hidden">@Model.Campaign.Title</h1>

                <div class="campaign__description display--desktop">
                    @Html.Raw(@Model.Campaign.Description)
                </div>

                <div class="campaign_stats__container js_stats_countainer display--mobile">

                    <div class="campaign_stats">

                        <div class="campaign_stats__table">

                            <div class="campaign_stats__column campaign_stats__column--timer js_stats_timer_subview">

                                <div class="campaign_stats__value js_stats_default_time">2 days</div>

                                <div class="campaign_stats__countdown js_stats_timer_countdown hidden campaign_stats__value--load_animation">

                                    <span class="campaign_stats__countdown__hours"></span>:
                                    <span class="campaign_stats__countdown__minutes"></span>:
                                    <span class="campaign_stats__countdown__seconds"></span>
                                </div>

                                <span class="campaign_stats__label">left to buy!</span>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="product_dropdown__container">

                    <label class="product_dropdown__label">@T("Available Styles"):</label>

                    <div class="js_product_dropdown">

                        <select id="product__dropdown" class="product__dropdown form__select_menu js_product_select" onchange="ChangeProduct(this)">
                            @foreach (var prod in Model.Campaign.Products)
                            {
                                <option id="@prod.Id"  value="@prod.Id">@prod.ProductRecord.Name - @prod.CurrencyRecord.Code@prod.Price</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="product__container">

                    <div id="js-product-card" class="product__card_wrap js-product-card product__card_wrap--v2">

                        <a class="product__card__expand_link js-card-expand-link">
                            <span class="product__size_chart_link--show">@T("View Sizing Chart &amp; Product Details")</span>
                            <span class="product__size_chart_link--hide">@T("Hide Details")</span>
                        </a>

                        <div class="product__card">

                            <div class="product__details_wrap">

                                @foreach (var product in Model.Campaign.Products)
                                {


                                    <div class="product__details" data-product-id="@product.Id">

                                        <ul class="product__row product__row--fit-fabric">
                                            @if (product.ProductRecord.Details != null)
                                            {
                                                <li class="product__fit_wrap">
                                                    <span class="product__fit">@product.ProductRecord.Details</span>
                                                </li>
                                            }
                                            @if (product.ProductRecord.Materials != null)
                                            {
                                                <li class="product__fabric_wrap">
                                                    <span class="product__fabric">@product.ProductRecord.Materials</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>

                                }
                            </div>

                            <div id="js-size-chart-wrap" class="product__size_chart_wrap product__size_chart_wrap--inch">

                                @foreach (var product in Model.Campaign.Products)
                                {
                                    <div class="product__size_chart" data-product-id="@product.Id">

                                        <div class="size_chart__units">
                                            <span class="js-size-unit-toggle-inches size_chart__unit size_chart__unit--inch" data-unit="inch">@T("Inches")</span>
                                            <span class="js-size-unit-toggle-centimeters size_chart__unit size_chart__unit--cm" data-unit="cm">@T("Centimeters")</span>
                                        </div>

                                        <table class="product__size_chart__table">
                                            <thead>
                                                <tr class="product__size_chart__row">
                                                    <th class="product__size_chart__size_label">&nbsp;</th>
                                                    <th>@T("Length")</th>
                                                    <th>@T("Sleeve")</th>
                                                    <th>@T("Width")</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                @foreach (var size in product.ProductRecord.SizesAvailable)
                                                {
                                                    <tr class="product__size_chart__row">
                                                        <td class="product__size_chart__size_label">@size.ProductSizeRecord.SizeCodeRecord.Name</td>
                                                        <td>
                                                            <span class="product__size_chart__size product__size_chart__size--inch">@size.ProductSizeRecord.LengthInch"</span>
                                                            <span class="product__size_chart__size product__size_chart__size--cm">@size.ProductSizeRecord.LengthCm cm</span>
                                                        </td>
                                                        <td>
                                                            <span class="product__size_chart__size product__size_chart__size--inch">@size.ProductSizeRecord.SleeveInch"</span>
                                                            <span class="product__size_chart__size product__size_chart__size--cm">@size.ProductSizeRecord.SleeveCm cm</span>
                                                        </td>
                                                        <td>
                                                            <span class="product__size_chart__size product__size_chart__size--inch">@size.ProductSizeRecord.WidthInch"</span>
                                                            <span class="product__size_chart__size product__size_chart__size--cm">@size.ProductSizeRecord.WidthCm cm</span>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product__color_container hide-colors">
                    <ul class="product__color_list">
                        <li class="product__color_list_item product__color_list_item--active" data-color-id="6524">
                            <div class="product__color_block" style="background-color: rgb(64, 153, 208);">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="campaign_transaction js-transaction-button">
                    @*<a class="campaign_transaction__button campaign_transaction__button--new button hidden button--transaction" href="#pre-checkout-modal" onclick="dataLayer.push({'event': 'buy_now_clicked'});">Reserve it now</a>
                        <a class="campaign_transaction__button campaign_transaction__button--old button button--transaction--flat button--transaction" href="#pre-checkout-modal" onclick="dataLayer.push({'event': 'buy_now_clicked'});">Reserve it now</a>*@
                    <a class="campaign_transaction__button campaign_transaction__button--new button hidden button--transaction" href="#reserve-it-now" onclick="Resrve()">Reserve it now</a>
                    <a class="campaign_transaction__button campaign_transaction__button--old button button--transaction--flat button--transaction" href="#reserve-it-now" onclick="Resrve()">Reserve it now</a>
                </div>

                <div>
                    <input class="hidden" id="persistent__timer" value="@Model.Campaign.EndDate.ToLocalTime().Year/@Model.Campaign.EndDate.ToLocalTime().Month/@Model.Campaign.EndDate.ToLocalTime().Day @Model.Campaign.EndDate.ToLocalTime().Hour:@Model.Campaign.EndDate.ToLocalTime().Minute:@Model.Campaign.EndDate.ToLocalTime().Second">
                    <div id="back_timer"></div>
                </div>

            </div>
        </div>

    </section>
</section>

<section class="site__main">

    <div class="site__wrapper">
        <div class="share__container display--mobile">
            <h3 class="share__heading">@T("Share this campaign on:")</h3>

            <ul class="share__buttons">
                <li class="share__buttons__item">
                    <a class="share__btn share__btn--facebook btn--facebook" data-social-network="facebook" onclick="shareCampaign()" href="" target="_blank">
                        <img src="/Media/Default/images/facebook_ic.png">
                    </a>
                </li>
                
                <li class="share__buttons__item">
                    <a class="share__btn share__btn--twitter btn--twitter" data-social-network="twitter" onclick="shareCampaign()"  href="" target="_blank">
                        <img src="/Media/Default/images/twit_ic.png">
                    </a>
                </li>
                <li class="share__buttons__item">
                    <a class="share__btn share__btn--pinterest btn--pinterest" data-social-network="pinterest" href="" target="_blank">
                        <img src="/Media/Default/images/p_ic.png">
                    </a>
                </li>
            </ul>
        </div>
        <div class="campaign__column--description">
            <div class="campaign__description display--mobile js_campaign_description">@Model.Campaign.Description</div>
            <div class="campaign_info__container">
                <div class="campaign_info__row campaign_info__row--shipping">
                    <div class="campaign_info__header">
                        @T("Shipping Info")

                    </div>
                    <div class="campaign_info__content">
                        <div class="campaign_info__content__row">
                            @T("Orders are printed and shipped when the time expires") (<span>July 15th</span>). @T("You can expect your package to arrive around")
                            <span class="js-delivery-estimate">5</span> business days after printing starts.
                        </div>
                        <div class="campaign_info__content__row js-shipping-info">
                            Orders are mailed via first-class or priority mail. Shipping costs
                            <span class="js-base-cost">$3.99</span> for the first item and <span class="js-additional-cost">$2.00</span> for each additional item.
                        </div>
                    </div>
                </div>
                <div class="campaign_info__row campaign_info__row--returns">
                    <div class="campaign_info__header">Return Policy</div>
                    <div class="campaign_info__content campaign_info__content--return_policy">
                        If you're not 100% satisfied, return it and we'll refund you.
                        <a href="#">
                            View Details
                            <i class="ts-icon-right-arrow"></i>
                        </a>
                    </div>
                </div>
                <div class="campaign_info__row campaign_info__row--campaign_id">
                    <div class="campaign_info__header">Campaign ID</div>
                    <div class="campaign_info__content campaign_info__content--id">letsbooze</div>
                </div>
            </div>
        </div>
        <div class="campaign__column--stats display--desktop">
            <div class="share__container">
                <h3 class="share__heading">@T("Share this campaign on:")</h3>
                <ul class="share__buttons">
                    <li class="share__buttons__item">
                        <a class="share__btn share__btn--facebook btn--facebook" data-social-network="facebook" onclick="shareCampaign()"  href="" target="_blank">
                            <img src="/Media/Default/images/facebook_ic.png">
                        </a>
                    </li>

                        <li class="share__buttons__item">   
                            <a class="share__btn share__btn--twitter btn--twitter" data-social-network="twitter" onclick="shareCampaign()" href="" target="_blank">
                                <img src="/Media/Default/images/twit_ic.png">
                            </a>
                        </li>
                        <li class="share__buttons__item">
                            <a class="share__btn share__btn--pinterest btn--pinterest" data-social-network="pinterest" href="" target="_blank">
                                <img src="/Media/Default/images/p_ic.png">
                            </a>
                        </li>
</ul>
            </div>
        </div>
        <section class="site__featured site__featured--border hidden">
            <div class="site__wrapper">
                <div class="launch_campaign__container">
                    <div class="launch_campaign__statement">Design and sell custom apparel with no risks and at no cost.</div>
                    <div class="launch_campaign__statement">We ship, you keep the profit.</div>
                    <a class="launch_campaign__button button__cta button__cta--primary" href="">Launch a Campaign</a>
                    <a class="launch_campaign__button button__cta button__cta--secondary" href="">Learn More</a>
                </div>
            </div>
        </section>
    </div>
</section>
@*///////////////////////////Modal*@


<div class="dg-overlay-not-show" id="reserve-it-now">
    <div class="dg-table">
        <div class="dg-cell">
            <div class="dg-modal">

                <div aria-hidden="true" aria-labelledby="myModalLabel" class="dm-overlay precheckout_modal modal" role="dialog" tabindex="1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" class="precheckout_close_button" id="close-reservation" onclick="CloseReservation()" type="button">
                                    <i class="ts-icon-close"></i>
                                </button>
                                <h2 class="precheckout_modal__title">@T("Your Order")</h2>
                            </div>
                            <div class="precheckout_modal__image_container">
                                <div class="precheckout_modal__image" style="background-image: url(/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/normal/front.png);"></div>
                            </div>

                            <div class="modal-body">
                                <table id="precheckout_table" class="precheckout_items_table precheckout_table">
                                    <thead class="precheckout_items_table__head">
                                        <tr>
                                            <th class="line_items_table__heading precheckout_items_table__item--image"></th>
                                            <th class="line_items_table__heading">@T("Qty")</th>
                                            <th class="line_items_table__heading">@T("Size")</th>
                                            <th class="line_items_table__heading">@T("Style")</th>
                                            <th class="line_items_table__heading line_items_table__heading--price">@T("Price")</th>
                                        </tr>
                                    </thead>
                                    <tbody id="order_item_list_modal">
                                        <tr id="first-line-item" class="hidden">
                                            <td class="precheckout_items_table__item precheckout_items_table__item--image">
                                                @if (Model.Campaign.BackSideByDefault)
                                                {
                                                    <img class="modal_campaign_img" src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/normal/back.png">
                                                }
                                                else
                                                {
                                                    <img class="modal_campaign_img" src="/Media/campaigns/@Model.Campaign.Id/@Model.Campaign.Products[0].Id/normal/front.png">
                                                }
                                            </td>
                                            <td class="precheckout_items_table__item precheckout_items_table__item--qty product-count-item">
                                                <div class="tooltip tooltip--topleft">
                                                    <input class="form__textfield form__textfield--large product-count" type="text" value="1">
                                                </div>
                                            </td>
                                            <td class="precheckout_items_table__item product-size-item">
                                                <div class="tooltip tooltip--topleft">
                                                    @for (var i = 0; i < Model.Campaign.Products.Count; i++)
                                                    {
                                                        if (i == 0)
                                                        {
                                                            <select name="select_size_index_@i" class="form__select_menu size-dropdown precheckout_items_table__item--size shown">
                                                                @foreach (var size in Model.Campaign.Products[i].ProductRecord.SizesAvailable)
                                                                {
                                                                    <option value="@size.ProductSizeRecord.Id">@size.ProductSizeRecord.SizeCodeRecord.Name</option>
                                                                }
                                                            </select>
                                                        }
                                                        else
                                                        {
                                                            <select name="select_size_index_@i" class="form__select_menu size-dropdown precheckout_items_table__item--size hidden">
                                                                @foreach (var size in Model.Campaign.Products[i].ProductRecord.SizesAvailable)
                                                                {
                                                                    <option value="@size.ProductSizeRecord.Id">@size.ProductSizeRecord.SizeCodeRecord.Name</option>
                                                                }
                                                            </select>
                                                        }
                                                    }

                                                </div>
                                            </td>
                                            <td class="precheckout_items_table__item precheckout_items_table__item--style">
                                                <select id="product__dropdown_modal" class="product__dropdown form__select_menu" onchange="ChangeProductModal(this)">
                                                   
                                                     @foreach (var prod in Model.Campaign.Products)
                                                    {
                                                        
                                                        <option id="@prod.Id" name="select_style_index_@prod.Id" class="style-dropdown" value="@prod.Id">@prod.ProductRecord.Name - @prod.CurrencyRecord.Code@prod.Price</option>
                                                    
                                                     }
                                                </select>
                                            </td>
                                            <td class="precheckout_items_table__item precheckout_items_table__item--price">

                                                @for (var i = 0; i < Model.Campaign.Products.Count; i++)
                                                {
                                                    if (i == 0)
                                                    {
                                                        <span name="select_size_index_@i" class="modal-price shown">@Model.Campaign.Products[i].CurrencyRecord.Code@Model.Campaign.Products[i].Price</span>
                                                    }
                                                    else
                                                    {
                                                        <span name="select_size_index_@i" class="modal-price hidden">@Model.Campaign.Products[i].CurrencyRecord.Code@Model.Campaign.Products[i].Price</span>
                                                    }
                                                }
                                                <div onclick="ItemRemove(this.parentNode.parentNode)" id="precheckout-item-remove" class="precheckout_item_remove_button">Remove</div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                                <div class="precheckout_actions">
                                    <div id="add-row" class="precheckout_actions__button">@T("+ Add another style or color")</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="payment_options_info">
                                    <ul class="payment_options">
                                        <li class="payment_options__item payment_options__item--visa"></li>
                                        <li class="payment_options__item payment_options__item--amex"></li>
                                        <li class="payment_options__item payment_options__item--mastercard"></li>
                                        <li class="payment_options__item payment_options__item--discover"></li>
                                        <li class="payment_options__item payment_options__item--border">
                                            <div class="payment_options__item--paypal"></div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="payment_options_container">
                                    <div class="payment_options_actions">

                                        <div onclick="sendData(); return false;" class="button button--transaction button--precheckout submit--checkout js-precheckout-submit">
                                            @T("Checkout")

                                            @*<input class="button button--transaction button--precheckout submit--saved_payment_info" type="submit" value="Complete Your Order">*@
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<input id="campaignId" class="hidden" type="text" value="@Model.Campaign.Id" />