@model Teeyoot.FAQ.Models.FaqEntryPart

<h2>@Model.TypeDefinition.DisplayName</h2>

<fieldset>
    @Html.LabelFor(m => m.SectionId, T("Section"))
    @Html.DropDownListFor(m => m.SectionId, Model.AvailableSections.Select(l => new SelectListItem
                                            {
                                                Selected = l.Id == Model.Section.Id,
                                                Text = l.Name,
                                                Value = l.Id.ToString()
                                            }))
    @Html.ValidationMessageFor(m => m.SectionId)

</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Question, T("Title"))
    @Html.TextBoxFor(m => m.Question, new { @class = "text large" })
    @Html.ValidationMessageFor(m => m.Question)
   
</fieldset>