@model Teeyoot.FAQ.Models.FaqEntryPart

<h2>@Model.TypeDefinition.DisplayName</h2>

<fieldset>
    @Html.LabelFor(m => m.SectionId, T("Section"))
    @Html.DropDownListFor(m => m.SectionId, Model.AvailableSections.Select(l => new SelectListItem
                                            {
                                                Selected = l.Id == Model.Section.Id,
                                                Text = l.Name,
                                                Value = l.Id.ToString()
                                            }))
    @Html.ValidationMessageFor(m => m.SectionId)

    @*<span class="hint">@T("The Layer where the Widget will be rendered.")</span>*@
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Question, T("Title"))
    @Html.TextBoxFor(m => m.Question, new { @class = "text large" })
    @Html.ValidationMessageFor(m => m.Question)
    @*<span class="hint">@T("The position of the Widget inside the Zone.")</span>*@
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.LanguageCode, T("Language"))
    @Html.DropDownListFor(m => m.LanguageCode, Model.AvailableLanguages.Select(l => new SelectListItem 
                                            {
                                                Selected = l.Code == Model.Language.Code,
                                                Text = l.Name,
                                                Value = l.Code 
                                            }))
    @Html.ValidationMessageFor(m => m.LanguageCode)
    @*<span class="hint">@T("The Zone in the Layout where the Widget will be rendered.")</span>*@
</fieldset>

