@model Teeyoot.Search.ViewModels.AdminSearchViewModel
@{
    Layout.Title = T("Add campaign for category \"").ToString() + Model.CategoryName + "\"";
    Style.Include("Search.css");
}
@using Teeyoot.Module.Models

<fieldset>
    <div class="admin-categories-menu">
        <div class="left-box" style="display: none;">
            <fieldset class="bulk-actions">
                <a class="button primaryAction" href="@Url.Action("AddCampaign", new { returnurl = Request.Url.PathAndQuery })">@T("Add check campaigns")</a>
            </fieldset>
        </div>

        <div class="right-box">
            @using (Html.BeginForm("SearchCampaignForCategory", "AdminSearch", FormMethod.Get))
            {
                <fieldset class="bulk-actions">
                    @Html.LabelFor(m => m.SearchString, T("Filter")):
                    @Html.TextBoxFor(m => m.SearchString)
                    @Html.HiddenFor(m => m.CategoryId)
                    <button type="submit">@T("Search")</button>
                    <a href="@Url.Action("AddCampaignForCategory", new { id = Model.CategoryId })">@T("By Default")</a>
                </fieldset>
            }
        </div>
    </div>
</fieldset>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

@{
    <fieldset>
        <table class="items">
            <thead>
                <tr class="admin-categories">
                    <th class="visible">
                        <h3>@T("Sold")</h3>
                    </th>
                    <th class="name">
                        <h3>@T("Title")</h3>
                    </th>
                    <th class="related"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var camp in Model.Camapigns)
                {
                    <tr data-record-text="camp.Id" class="admin-categories-tr">
                        <td class="visible">
                            <h3>
                                @camp.ProductCountSold/@camp.ProductCountGoal
                            </h3>
                        </td>
                        <td class="name">
                            <a>@camp.Title</a>
                        </td>
                        <td class="related">
                            <a href="@Url.Action("AddCampaign", new { idCamp = camp.Id, idCateg = Model.CategoryId, stringSearch = Model.SearchString })">@T("Add")</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
}

@Display(Model.Pager)

<fieldset>
    <div class="admin-categories-menu">
        <div class="right-box">
            <a class="button primaryAction" href="@Url.Action("EditCategory", new  { id = Model.CategoryId})">@T("Back")</a>
        </div>
    </div>
</fieldset>