@model Teeyoot.Search.ViewModels.AdminSearchViewModel
@{
    Layout.Title = T("Edit сategory \"").ToString() + Model.CategoryName + "\"";
    Style.Include("Search.css");
}
@using Teeyoot.Module.Models

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

<fieldset>
    <div class="admin-categories-menu">
        <div class="left-box">
            @using (Html.BeginForm("ChangeNameCategory", "AdminSearch", FormMethod.Get))
            {
                <fieldset class="bulk-actions">
                    @Html.LabelFor(m => m.NewCategory, T("Change name for category")):
                    @Html.TextBoxFor(m => m.NewCategory, new { @placeholder = @T("New name") })
                    @Html.HiddenFor(m => m.CategoryId)
                    <button type="submit">@T("Change")</button>
                </fieldset>
            }
        </div>
        <div class="right-box">
            <fieldset class="bulk-actions">
                <a class="button primaryAction" href="@Url.Action("AddCampaignForCategory", new { id = Model.CategoryId })">@T("Add Campaign")</a>
            </fieldset>
        </div>
        <div class="right-box">
            @using (Html.BeginForm("SearchCampaigns", "AdminSearch", FormMethod.Get))
            {
                <fieldset class="bulk-actions">
                    @Html.LabelFor(m => m.SearchString, T("Filter")):
                    @Html.TextBoxFor(m => m.SearchString)
                    @Html.HiddenFor(m => m.CategoryId)
                    <button type="submit">@T("Search")</button>
                    <a href="@Url.Action("EditCategory", new { id = Model.CategoryId})">@T("By Default")</a>
                </fieldset>
            }
        </div>

    </div>
</fieldset>

@{
    <fieldset>
        <table class="items">
            <thead>
                <tr class="admin-categories">
                    <th class="visible">
                        <h3>@T("Sold")</h3>
                    </th>
                    <th class="name">
                        <h3>@T("Title")</h3>
                    </th>
                    <th class="related"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var camp in Model.Camapigns)
                {
                    <tr data-record-text="camp.Id" class="admin-categories-tr">
                        <td class="visible">
                            <h3>
                                @camp.ProductCountSold/@camp.ProductCountGoal
                            </h3>
                        </td>
                        <td class="name">
                            <h3>@camp.Title</h3>
                        </td>
                        <td class="related">
                            <a href="@Url.Action("DeleteCampaignsFromCategory", new { id = camp.Id, categId = Model.CategoryId })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
}

@Display(Model.Pager)

<fieldset>
    <div class="admin-categories-menu">
        <div class="right-box">
            @using (Html.BeginForm("Index", "AdminSearch", FormMethod.Get))
            {
                <fieldset class="bulk-actions">
                    <button type="submit">@T("Back")</button>
                </fieldset>
            }
        </div>
    </div>
</fieldset>