@model Teeyoot.Search.ViewModels.AdminSearchViewModel
@{
    Layout.Title = T("Search Categories").ToString();
    Style.Include("Search.css");
}
@using Teeyoot.Module.Models

<fieldset>
    <div class="admin-categories-menu">
        <div class="left-box" style="display: none;">
            @using (Html.BeginForm("Index", "AdminSearch", FormMethod.Get))
            {
                <fieldset class="bulk-actions">
                    @Html.LabelFor(m => m.ActionId, T("Action")):
                    @Html.DropDownListFor(m => m.ActionId, Model.Action.Select(l => new SelectListItem
                        {
                            Selected = Model.ActionId > 1 ? l.Id == Model.ActionId : false,
                            Text = l.Name,
                            Value = l.Id.ToString()
                        }), T("Choose action..."))
                    <button type="submit">@T("Apply")</button>
                </fieldset>
            }
        </div>

        <div class="left-box">
            @using (Html.BeginForm("Index", "AdminSearch", FormMethod.Get))
            {
                <fieldset class="bulk-actions">
                    @Html.LabelFor(m => m.SearchString, T("Filter")):
                    @Html.TextBoxFor(m => m.SearchString)
                    <button type="submit">@T("Search")</button>
                    <a href="@Url.Action("Index")">@T("By Default")</a>
                </fieldset>
            }
        </div>

        <div class="right-box">
            @using (Html.BeginForm("AddNewCategory", "AdminSearch", FormMethod.Get))
            {
                <fieldset class="bulk-actions">
                    @Html.TextBoxFor(m => m.NewCategory, new { @placeholder = T("New Category") })
                    <button type="submit">@T("Add new category")</button>
                </fieldset>
            }
        </div>
    </div>
</fieldset>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}

@{
    <fieldset>
        <table class="items">
            <thead>
                <tr class="admin-categories">
                    <th class="check-box">
                        <input type="checkbox" class="check-all">
                    </th>
                    <th class="visible">
                        <h3>@T("Visible")</h3>
                    </th>
                    <th class="name">
                        <h3>@T("Name")</h3>
                    </th>
                    <th class="related"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CampaignCategoriesList != null)
                {
                    foreach (var categ in Model.CampaignCategoriesList)
                    {
                        <tr data-record-text="@categ.Id" class="admin-categories-tr">
                            <td class="check-box">
                                <input type="checkbox">
                            </td>
                            <td class="visible">
                                <h3>
                                    @{
                        string vis = categ.IsVisible ? "Yes" : "No";
                        @T(vis);
                                    }
                                </h3>
                            </td>
                            <td class="name">
                                <a href="@Url.Action("EditCategory", new  { id = categ.Id})">@categ.Name</a>
                            </td>
                            <td class="related">
                                <a href="@Url.Action("EditCategory", new { id = categ.Id})" title="@T("Edit")">@T("Edit")</a>@T(" | ")
                                @if (categ.IsVisible)
                                {
                                    <a href="@Url.Action("ChangesVisibleCategory", new { id = categ.Id, visible = false })" title="@T("Unvisible")">@T("Unvisible")</a>@T(" | ")
                                }
                                else
                                {
                                    <a href="@Url.Action("ChangesVisibleCategory", new { id = categ.Id, visible = true })" title="@T("Visible")">@T("Visible")</a>@T(" | ")

                                }
                                        <a href="@Url.Action("DeleteCategory", new { id=categ.Id })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                                    </td>
                                </tr>
                    }
                }
            </tbody>
        </table>
    </fieldset>
}
@Display(Model.Pager)