@model Teeyoot.Module.ViewModels.AdminUserIndexViewModel
@{
    Layout.Title = T("Users");
}

@using (Html.BeginFormAntiForgeryPost())
{
    <fieldset class="bulk-actions">
        @T("Filter:")
        <select name="Role">
            <option>All</option>
            @foreach (var role in Model.Roles)
            {
                <option value="@role.Id" @if (role.Id == Model.SelectedRoleId)
                                         {
                                             @:selected="selected"
                                         }>
                    @role.Name</option>
            }
        </select>
        <button type="submit">@T("Apply")</button>
    </fieldset>
}

<fieldset>
    <table class="items">
        <thead>
        <tr>
            <th scope="col">@T("Email")</th>
            <th scope="col">@T("Roles")</th>
            <th scope="col">@T("Currency")</th>
            <th scope="col">@T("Actions")</th>
        </tr>
        </thead>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    <a href="@Url.Action("EditUser", "AdminUser", new {area = "Teeyoot.Module", userId = user.UserId})">@user.Email</a>
                </td>
                <td>
                    @user.Roles
                </td>
                <td>
                    @if (user.IsTeeyootUser)
                    {
                        if (user.Currency != null)
                        {
                            @user.Currency
                        }
                        else
                        {
                            <b>@T("Not Set")</b>
                        }
                    }
                </td>
                <td>
                    <a href="@Url.Action("EditUser", "AdminUser", new {area = "Teeyoot.Module", userId = user.UserId})">@T("Edit")</a>
                </td>
            </tr>
        }
    </table>
    @Display(Model.Pager)
</fieldset>