@model Teeyoot.WizardSettings.ViewModels.ProductStyleIndexViewModel
@{
    Layout.Title = T("Types").ToString();
}

<div class="manage">
    <a class="button primaryAction" href="@Url.Action("AddProductStyle", "ProductStyle")">
        @T("Add New Product Style")
    </a>
</div>

<ul class="contentItems">
    @foreach (var productStyle in Model.ProductStyles)
    {
        <li data-record-text="@productStyle.Id">
            <div class="summary">
                <div class="properties">
                    <div>
                        <h3>@productStyle.Name</h3>
                    </div>
                </div>
                <div class="related">
                    <a href="@Url.Action("EditProductStyle", "ProductStyle", new {productStyleId = productStyle.Id})" title="@T("Edit")">@T("Edit")</a>@T(" | ")
                    <a href="@Url.Action("DeleteProductStyle", "ProductStyle", new {productStyleId = productStyle.Id})" itemprop="RemoveUrl">@T("Delete")</a>
                </div>
            </div>
        </li>
    }
</ul>
@Display(Model.Pager)