@{
    Style.Include("FAQ.css");
    @model Teeyoot.FAQ.Models.FaqEntryPart

}


@Html.Partial("SearchPartial")

<div class="text-area">

    <div class="faq-nav-div">
        <a class="faq-navigation" href="@Url.Action("Index")">@T("Home")</a> > <a class="faq-navigation"  href="@Url.Action("ViewSection", new { sectionId = @Model.Section.Id })"> @Model.Section.Name</a> > <span class="faq-navigation faq-current-navigation"> @Model.Question</span>
    </div>
    <div class="question-topic">
        @Model.Question
    </div>

    <div class="answer-topic">
        @Html.Raw(Model.Body.Text)
    </div>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
    window.onload = function () {
        document.title = "@Model.Question | Teeyoot";
    }
    </script>
}