@model Teeyoot.FeaturedCampaigns.ViewModels.ExportPrintsViewModel
@{
    Style.Include("FeaturedCampaigns.css");
    Style.Include("SettingsTable.css");
    Style.Include("jquery.dataTables.css");
    Script.Require("jQuery");
    Script.Include("jquery.dataTables.min.js");
    Layout.Title = T("Details");
}

<fieldset class="bulk-actions">
    @T("Currency")
    <select id="currency_filter">
        <option>@T("All")</option>
        @foreach (var currency in Model.Currencies)
        {
            <option value="@currency.Id">@currency.Name</option>
        }
    </select>
</fieldset>
<hr/>
<fieldset>
    <table id="campaigns_table">
        <thead>
        <tr>
            <th>@T("Campaign Id")</th>
            <th>@T("Campaign Name")</th>
            <th>@T("Create date")</th>
            <th>@T("Active")</th>
            <th>@T("Sold last 24 hours")</th>
            <th>@T("Sold")</th>
            <th>@T("Minimum")</th>
            <th>@T("Goal")</th>
            <th>@T("Profit")</th>
            <th>@T("Payment Status")</th>
            <th>@T("End Date")</th>
            <th>@T("Seller Email")</th>
            <th>@T("Phone Number")</th>
            <th>@T("Currency")</th>
            @*
                    <th>@T("Change Status")</th>
                *@
        </tr>
        </thead>
    </table>
</fieldset>


<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }

    <table class="items" id="campaign-table">
        <thead>
        <tr>
            <th>@T("Campaign Id")</th>
            <th>@T("Campaign Name")</th>
            <th>@T("Create date")</th>
            <th>@T("Active")</th>
            <th>@T("Sold last 24 hours")</th>
            <th>@T("Sold / Minimum / Goal")</th>
            <th>@T("Profit")</th>
            <th>@T("Payment Status")</th>
            <th>@T("End Date")</th>
            <th>@T("Seller Name")</th>
            <th>@T("Seller Email")</th>
            <th>@T("Phone Number")</th>
            <th>@T("Change Status")</th>

        </tr>
        </thead>
        <tbody>
        @if (Model.Campaigns.Length > 0)
        {
            foreach (var c in Model.Campaigns)
            {
                var isActive = c.IsActive ? "Yes" : "No";
                var value = c.Last24HoursSold > 0 ? c.Last24HoursSold.ToString() : "-";

                <tr data-record-text="@c.Id" class="contentItems">
                    <td>@c.Id</td>
                    <td>
                        <a target="_blank" href="/@c.Alias">@c.Title</a>
                    </td>
                    <td>@c.CreatedDate</td>
                    <td>@T(isActive)</td>
                    <td>@value</td>
                    <td>@c.Sold / @c.Minimum / @c.Goal</td>
                    <td>
                        <span>@c.SummaryCurrency @c.Profit.ToString("F", System.Globalization.CultureInfo.InvariantCulture)</span></td>
                    <td>@c.Status</td>
                    <td id="date_@c.Id">@c.EndDate</td>
                    <td>@c.Seller.UserName</td>
                    <td>@c.Seller.Email</td>
                    <td>@c.TeeyootSeller.PhoneNumber</td>
                    <td>
                        <text> | </text>
                        @foreach (Teeyoot.Module.Common.Enums.CampaignStatus item in Enum.GetValues(typeof (Teeyoot.Module.Common.Enums.CampaignStatus)))
                        {
                            if (item.ToString() != c.Status)
                            {
                                <a href="@Url.Action("ChangeStatus", new {id = c.Id, status = item})">@item</a>
                                <text> | </text>
                            }
                        }
                    </td>

                </tr>
            }
        }
        </tbody>
    </table>
</div>
<div class="dg-overlay-not-show" id="modal_date_change">
    <div class="dg-table">
        <div class="dg-cell">
            <div class="dg-modal">
                <div class="close">X</div>
                <h1>@T("Change End Date")</h1>
                <span class="inp_date">@T("Day")</span>
                <select id="day">
                    @for (int i = 1; i <= 31; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span class="inp_date">@T("Month")</span>
                <select id="month">
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span class="inp_date">@T("Year")</span><input type="text" placeholder="YYYY" id="year"/>
                <br>
                <button type="submit" id="change_date_btn" onclick="changeData(this)">@T("Change")</button>
            </div>
        </div>
    </div>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">

        function openModal(id) {
            document.getElementById("change_date_btn").value = id;
            document.getElementById("modal_date_change").className = "dg-overlay";
        };


        $('.close').click(function() {
            document.getElementById("modal_date_change").className = "dg-overlay-not-show";
        });

        function changeData(item) {
            var campaignId = item.value;
            var day = document.getElementById("day").value;
            var month = document.getElementById("month").value;
            var year = document.getElementById("year").value;
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@(Url.Action("ChangeEndDate", "AdminCampaignsSettings"))",
                data: addAntiForgeryToken({ "campaignId": campaignId, "day": day, "month": month, "year": year }),
                success: function(data, status, resp) {
                    if (resp.status === 200) {
                        $(document.getElementById("date_" + campaignId)).text(data);
                        document.getElementById("modal_date_change").className = "dg-overlay-not-show";
                    }
                }
            });
        };

        function addAntiForgeryToken(data) {
            data.__RequestVerificationToken = "@Html.AntiForgeryTokenValueOrchard()";
            return data;
        };

    </script>
    <script>
        $(document).ready(function() {
            var campaignTable = $('#campaign-table').dataTable({
                "aLengthMenu": [[5, 10, 25, 50, 100, 500, 1000, -1], [5, 10, 25, 50, 100, 500, 1000, "All"]],
                iDisplayLength: 10,
                bSortable: true,
                aoColumnDefs: [
                    { "aTargets": [0], "bSortable": true },
                    { "aTargets": [1], "bSortable": true },
                    { "aTargets": [2], "bSortable": true, "sType": "date-eu" },
                    { "aTargets": [3], "bSortable": true },
                    { "aTargets": [4], "bSortable": true },
                    { "aTargets": [5], "bSortable": true },
                    { "aTargets": [6], "bSortable": true },
                    { "aTargets": [7], "bSortable": true },
                    { "aTargets": [8], "bSortable": true, "sType": "date-eu" },
                    { "aTargets": [9], "bSortable": true },
                    { "aTargets": [10], "bSortable": true },
                    { "aTargets": [11], "bSortable": true },
                    { "aTargets": [12], "bSortable": true }
                ]
            });
        });

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-eu-pre": function(date) {
                date = date.replace(" ", "");

                if (!date) {
                    return 0;
                }

                var year;
                var eu_date = date.split(/[\.\-\/]/);

                /*year (optional)*/
                if (eu_date[2]) {
                    year = eu_date[2];
                } else {
                    year = 0;
                }

                /*month*/
                var month = eu_date[1];
                if (month.length == 1) {
                    month = 0 + month;
                }

                /*day*/
                var day = eu_date[0];
                if (day.length == 1) {
                    day = 0 + day;
                }

                return (year + month + day) * 1;
            },

            "date-eu-asc": function(a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-eu-desc": function(a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });
    </script>

    <script>
        $(document).ready(function() {
            var textnode = document.createTextNode(" (@Model.NotApprovedTotal)");
            var node = document.createElement("text");

            node.appendChild(textnode);
            document.getElementsByClassName("local-section-status")[0].appendChild(node);
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#campaigns_table').DataTable({
                'processing': true,
                'serverSide': true,
                'ajax': {
                    'url': '@Url.Action("GetCampaigns", "AdminCampaignsSettings")',
                    'type': 'POST',
                    'data': function(d) {
                        addAntiForgeryToken(d);
                    }
                },
                'columnDefs': [
                    {
                        'targets': 0,
                        'data': 'Id'
                    },
                    {
                        'targets': 1,
                        'data': 'Title',
                        'render': function(data, type, row) {
                            var innerHtmlMarkup = '<a target="_blank" href="%ALIAS%">%TITLE%</a>';
                            innerHtmlMarkup = innerHtmlMarkup.replace('%ALIAS%', row.Alias).replace('%TITLE%', data);
                            return innerHtmlMarkup;
                        }
                    },
                    {
                        'targets': 2,
                        'data': 'CreatedDate'
                    },
                    {
                        'targets': 3,
                        'data': 'IsActive'
                    },
                    {
                        'targets': 4,
                        'data': 'Last24HoursSold'
                    },
                    {
                        'targets': 5,
                        'data': 'Sold'
                    },
                    {
                        'targets': 6,
                        'data': 'Minimum'
                    },
                    {
                        'targets': 7,
                        'data': 'Goal'
                    },
                    {
                        'targets': 8,
                        'data': 'Profit',
                        'render': function(data) {
                            var innerHtmlMarkup = '<span>%PROFIT%</span>';
                            innerHtmlMarkup = innerHtmlMarkup.replace('%PROFIT%', data);
                            return innerHtmlMarkup;
                        }
                    },
                    {
                        'targets': 9,
                        'data': 'Status'
                    },
                    {
                        'targets': 10,
                        'data': 'Status'
                    },
                    {
                        'targets': 11,
                        'data': 'Email'
                    },
                    {
                        'targets': 12,
                        'data': 'PhoneNumber'
                    },
                    {
                        'targets': 13,
                        'data': 'Currency'
                    }
                ]
            });
        });
    </script>
}