@model Teeyoot.FeaturedCampaigns.ViewModels.ExportPrintsViewModel
@{
    Style.Include("FeaturedCampaigns.css");
    Style.Include("SettingsTable.css");
    Style.Include("jquery.dataTables.css");
    Script.Require("jQuery");
    Script.Include("jquery.dataTables.min.js");
}

<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    }

    <table class="items" id="campaign-table">
        <thead>
            <tr>
                <th>@T("Campaign Id")</th>
                <th>@T("Campaign Name")</th>
                <th>@T("Create date")</th>
                <th>@T("Active")</th>
                <th>@T("Sold last 24 hours")</th>
                <th>@T("Sold / Minimum / Goal")</th>
                <th>@T("Profit")</th>
                <th>@T("Payment Status")</th>
                <th>@T("End Date")</th>
                <th>@T("Seller Name")</th>
                <th>@T("Seller Email")</th>
                <th>@T("Phone Number")</th>                
                <th>@T("Change Status")</th>
                <th>@T("Action")</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Campaigns.Length > 0)
            {
                foreach (var c in Model.Campaigns)
                {
                    var isActive = c.IsActive ? "Yes" : "No";
                    var value = c.Last24HoursSold > 0 ? c.Last24HoursSold.ToString() : "-";

                    <tr data-record-text="@c.Id" class="contentItems">
                        <td>@c.Id</td>
                        <td><a target="_blank" href="/@c.Alias">@c.Title</a></td>
                        <td>@c.CreatedDate</td>
                        <td>@T(isActive)</td>
                        <td>@value</td>
                        <td>@c.Sold / @c.Minimum / @c.Goal</td>
                        <td>@c.Profit</td>
                        <td>@c.Status</td>
                        <td><span id="date_@c.Id">@c.EndDate</span></td>
                        <td>@c.Seller.UserName</td>
                        <td>@c.Seller.Email</td>
                        <td>@c.TeeyootSeller.PhoneNumber</td>         
                        <td>
                            <text> | </text>
                            @foreach (Teeyoot.Module.Common.Enums.CampaignStatus item in Enum.GetValues(typeof(Teeyoot.Module.Common.Enums.CampaignStatus)))
                            {
                                if (item.ToString() != c.Status)
                                {
                                    <a href="@Url.Action("ChangeStatus", new { id = c.Id, status = item })">@item</a> <text> | </text>
                                }
                            }
                        </td>
                        <td>@Html.ActionLink(T("Change").Text, "ChangeInformation", new { Id = @c.Id }, new { @class = "button" }) </td>
                    </tr>
                }


            }
        </tbody>
    </table>
</div>
<div class="dg-overlay-not-show" id="modal_date_change">
    <div class="dg-table">
        <div class="dg-cell">
            <div class="dg-modal">
                <div class="close">X</div>
                <h1>@T("Change End Date")</h1>
                <span class="inp_date">@T("Day")</span>
                <select id="day">
                    @for (int i = 1; i <= 31; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span class="inp_date">@T("Month")</span>
                <select id="month">
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span class="inp_date">@T("Year")</span><input type="text" placeholder="YYYY" id="year" />
                <br>
                <button type="submit" id="change_date_btn" onclick="changeData(this)">@T("Change")</button>
            </div>
        </div>
    </div>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">

        function openModal(id) {
            document.getElementById("change_date_btn").value = id;
            document.getElementById("modal_date_change").className = "dg-overlay";
        };


        $('.close').click(function () {
            document.getElementById("modal_date_change").className = "dg-overlay-not-show";
        });

        function changeData(item) {
            var campaignId = item.value;
            var day = document.getElementById("day").value;
            var month = document.getElementById("month").value;
            var year = document.getElementById("year").value;
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@(Url.Action("ChangeEndDate", "AdminCampaignsSettings"))",
                data: addAntiForgeryToken({ "campaignId": campaignId, "day": day, "month": month, "year": year }),
                success: function (data, status, resp) {
                    if (resp.status === 200) {
                        $(document.getElementById("date_" + campaignId)).text(data);
                        document.getElementById("modal_date_change").className = "dg-overlay-not-show";
                    }
                }
            });
        };

        function addAntiForgeryToken(data) {
            data.__RequestVerificationToken = "@Html.AntiForgeryTokenValueOrchard()";
            return data;
        };

    </script>
    <script>
        var campaignTable = $('#campaign-table').dataTable();
    </script>

    <script>
    $(document).ready(function () {
        var textnode = document.createTextNode(" (@Model.NotApprovedTotal)");
        var node = document.createElement("text");

        node.appendChild(textnode);
        document.getElementsByClassName("local-section-status")[0].appendChild(node);
    });
    </script>
}
