@model Teeyoot.Search.ViewModels.SearchViewModel
@{
    var countPrice = 0;
    foreach (var campaign in Model.Campaigns)
    {
        var min = campaign.ProductMinimumGoal == 0 ? 1 : campaign.ProductMinimumGoal;
        var sold = campaign.ProductCountSold + "/" + min + " sold";

        var now = DateTime.UtcNow;
        var dif = campaign.EndDate.Subtract(now);
        string dateLeft;
        if (dif.Days < 0)
        {
            dateLeft = "Ended";
        }
        else
        {
            dateLeft = dif.Days + "d left";
        }

        float widthResult;
        if ((min - campaign.ProductCountSold) <= 0)
        {
            widthResult = 100;
        }
        else
        {
            if (campaign.ProductCountSold != 0)
            {
                var procent = (float) min/100;
                widthResult = campaign.ProductCountSold/procent;
            }
            else
            {
                widthResult = 0;
            }
        }
        var width = (int) widthResult + "% !important";

        var path = "/Media/campaigns/" + campaign.Id + "/" + campaign.CampaignFirstProductId + "/";
        string backImg;
        string frontImg;
        if (campaign.BackSideByDefault)
        {
            backImg = path + "normal/front.png";
            frontImg = path + "normal/back.png";
        }
        else
        {
            backImg = path + "normal/back.png";
            frontImg = path + "normal/front.png";
        }

        <div class=" span-1 cell tee-previewSearch">
            <div>
                <div class="featurde-compaigns">
                    <div class="preview-img">
                        <div class="product-price">@campaign.CampaignFirstProductCurrencyCode @Model.Price[countPrice].ToString("F", System.Globalization.CultureInfo.InvariantCulture)</div>
                        <p>
                            <a href="~/@campaign.Alias">
                                <img onmouseover="this.src = '@backImg'" onmouseout="this.src = '@frontImg'" src="@frontImg" alt="">
                            </a>
                        </p>
                        <img src="@campaign.FlagFileName"
                             style="width:25px; height:25px; margin-right:10px; position:relative; bottom:30px; float:right; border: black solid 1px;">
                    </div>
                    <div class="progress-bar-search">
                        <div class="progress-bar-result" style="width: @width"></div>
                    </div>
                    <div class="campaigns-text">
                        <div class=" span-3 cell campaigns-sold-search">
                            <div class="sold-left">@sold</div>
                            <div class="days-right">@dateLeft</div>
                        </div>
                        <div class=" span-3 cell campaigns-text-search">
                            <div>
                                <a href="~/@campaign.Alias">@campaign.Title</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        countPrice++;
    }
}