@model Teeyoot.Search.ViewModels.SearchViewModel
@using Teeyoot.Module.Models;
@{
    int countPrice = 0;
    foreach (CampaignRecord camp in Model.CampList)
    {
        string sold = camp.ProductCountSold.ToString() + "/" + camp.ProductCountGoal.ToString() + " sold";

        DateTime now = DateTime.UtcNow;
        TimeSpan dif = camp.EndDate.Subtract(now);
        string dateLeft = string.Empty;
        if (dif.Days < 0)
        {
            dateLeft = "Ended";
        }
        else
        {
            dateLeft = dif.Days + "d left";
        }

        float widthResult = 0;
        string width = string.Empty;
        if ((camp.ProductCountGoal - camp.ProductCountSold) <= 0)
        {
            widthResult = 100;
        }
        else
        {
            if (camp.ProductCountSold != 0)
            {
                float procent = (float)camp.ProductCountGoal / 100;
                widthResult = camp.ProductCountSold / procent;
            }
            else
            {
                widthResult = 0;
            }
        }
        width = (int)widthResult + "% !important";


        <div class=" span-1 cell tee-preview">
            <div>
                <div class="featurde-compaigns">
                    <div class="preview-img">
                        <div class="product-price">$ @Model.Price[countPrice]</div>
                        <p><a href="#"><img src="/Media/Default/images/f5.jpg"></a></p>
                    </div>
                    <div class="progress-bar-search">
                        <div class="progress-bar-result" style="width: @width"></div>
                    </div>
                    <div class="campaigns-text">
                        <div class=" span-3 cell campaigns-sold-search">
                            <div class="sold-left">@sold</div>
                            <div class="days-right">@dateLeft</div>
                        </div>
                        <div class=" span-3 cell campaigns-text-search">
                            <div><a href="@camp.URL">@camp.Title</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        countPrice++;
    }
}