@model Teeyoot.Module.ViewModels.EditDeliverySettingViewModel
@{
    Layout.Title = T("Add New State");
}

<h2>@T("Add New State")</h2>

@using (Html.BeginFormAntiForgeryPost(Url.Action("AddSetting", "DeliverySettings"), FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.CountryId)
    
    <fieldset>
        @Html.LabelFor(m => m.State, T("State"))
        @Html.EditorFor(m => m.State, new { @class = "text large" })
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.PostageCost, T("Postage Cost (only ',' decimal is allowed)"))
        @Html.EditorFor(m => m.PostageCost, new { @class = "text large" })
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.CodCost, T("COD Cost (only ',' decimal is allowed)"))
        @Html.EditorFor(m => m.CodCost, new { @class = "text large" })
    </fieldset>
    <fieldset class="save-button">
        <button type="submit" class="primaryAction">@T("Save")</button>
        <a class="button" href="@Url.Action("Index", "DeliverySettings", new { countryId = Model.CountryId})">@T("Cancel")</a>
    </fieldset>
}