@model Teeyoot.Module.ViewModels.EditDeliverySettingViewModel
@{
    Layout.Title = T("Add New Setting");
}

<h2>@T("Add New Setting")</h2>

@using (Html.BeginFormAntiForgeryPost(Url.Action("EditSetting", "DeliverySettings"), FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   @Html.HiddenFor(m => m.Id)
    <fieldset>
        @Html.LabelFor(m => m.State, T("State"))
        @Html.TextBoxFor(m => m.State, new { @class = "text large" })
    </fieldset>
    <fieldset>
        @Html.LabelFor(m => m.DeliveryCost, T("Delivery Cost"))
        @Html.EditorFor(m => m.DeliveryCost, new { @class = "text large" })
    </fieldset>
    <fieldset class="save-button">
        <button type="submit" class="primaryAction">@T("Save")</button>
        <a class="button" href="@Url.Action("Index", "DeliverySettings")">@T("Cancel")</a>
    </fieldset>
}