@using Orchard.Mvc.Extensions
@using Orchard.Utility.Extensions

@model Teeyoot.WizardSettings.ViewModels.DeliverySettingsViewModel
@{
    Layout.Title = T("Delivery Settings");
}

<div >
    <a class="button primaryAction" href="@Url.Action("AddSetting", "DeliverySettings")">@T("Add New State")</a>
</div>

<fieldset>
    <table class="items">
        <thead>
            <tr class="admin-categories">
                <th class="visible">
                    <h3>@T("State ")</h3>
                </th>
                <th class="visible">
                    <h3>@T("Delivery cost")</h3>
                </th>
                <th class="name">
                    <h3>@T("Action")</h3>
                </th>
            </tr>
        </thead>
        <tbody>
           @foreach (var setting in Model.DeliverySettings)
           {
                <tr>
                    <td class="visible">
                            @setting.State
                    </td>
                    <td class="visible">
                        @(String.Format("{0:0.00}", @setting.DeliveryCost))
                    </td>
                    <td class="related">
                        <a class="button" href="@Url.Action("EditSetting", "DeliverySettings", new { Id = setting.Id })" title="@T("Edit")">@T("Edit")</a>
                        <a class="button" href="@Url.Action("DeleteSetting", "DeliverySettings", new { Id = setting.Id })" itemprop="RemoveUrl">@T("Delete")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>

@Display(Model.Pager)