@model Teeyoot.WizardSettings.ViewModels.ProductViewModel
<div id="set-printable-area" style="display: none;">
    <div id="card">
        <div class="front">
            <div class="image">
                <div class="area-design"></div>
                <div class="chestline"></div>
            </div>
            <div class="flip-buttons" style="margin-bottom: -2%;">
                <div class="flip-button flip-button-active">
                    <span style="position: absolute; font-weight: 300; margin-left: -17px; margin-top: 11px;">@T("Front")</span>
                </div>
                <div class="flip-button">
                    <span style="position: absolute; font-weight: 300; margin-left: -14px; margin-top: 11px;">@T("Back")</span>
                </div>
            </div>
            <div class="params">
                <fieldset>
                    <label>@T("Left (px)")</label>
                    <input class="left" type="text" name="left" />
                    <label>@T("Top (px)")</label>
                    <input class="top" type="text" name="top" />


                    <label>@T("Width (cm)")</label>
                    <input class="width" type="text" name="width" /><input type="checkbox" name="lock-w-f" class="lock-w" />@T("Lock")
                    <label>@T("Height (cm)")</label>
                    <input class="height" type="text" name="height" /><input type="checkbox" name="lock-h-f" class="lock-h" />@T("Lock")
                    <label>@T("Chest line")</label>
                    <input class="area-chest" type="text" name="chest" /><br />
                    <div class="buttons">
                        <button type="button" class="save primaryAction">@T("Save")</button>
                        <button type="button" class="docancel primaryAction">@T("Cancel")</button>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="back">
            <div class="image">
                <div class="area-design"></div>
                <div class="chestline"></div>
            </div>
            <div class="flip-buttons" style="margin-bottom: -2%;">
                <div class="flip-button">
                    <span style="position: absolute; font-weight: 300; margin-left: -17px; margin-top: 11px;">@T("Front")</span>
                </div>
                <div class="flip-button flip-button-active">
                    <span style="position: absolute; font-weight: 300; margin-left: -14px; margin-top: 11px;">@T("Back")</span>
                </div>
            </div>
            <div class="params">
                <fieldset>
                    <label>@T("Left (px)")</label>
                    <input class="left" type="text" name="left-b" />
                    <label>@T("Top (px)")</label>
                    <input class="top" type="text" name="top-b" />


                    <label>@T("Width (cm)")</label>
                    <input class="width" type="text" name="width-b" /><input type="checkbox" name="lock-w-b" class="lock-w" />@T("Lock")
                    <label>@T("Height (cm)")</label>
                    <input class="height" type="text" name="height-b" /><input type="checkbox" name="lock-h-b" class="lock-h" />@T("Lock")
                    <label>@T("Chest line")</label>
                    <input class="area-chest" type="text" name="chest" />
                    <div class="buttons">
                        <button type="button" class="save primaryAction">@T("Save")</button>
                        <button type="button" class="docancel primaryAction">@T("Cancel")</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

</div>
