@model Teeyoot.Module.Models.FontRecord
@{
    Layout.Title = T("Add Font").ToString();
}


@Html.AntiForgeryToken()
@using (Html.BeginForm("AddNewFont", "AdminWizard", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    
    @Html.AntiForgeryToken()
    
<fieldset>
    @Html.LabelFor(m => m.Family, T("FontFamily"))
    @Html.TextBoxFor(m => m.Family, new { @class = "text large" })
    @Html.ValidationMessageFor(m => m.Family)
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Tags, T("Tags"))
    @Html.TextBoxFor(m => m.Tags, new { @class = "text large" })
    @Html.ValidationMessageFor(m => m.Tags)
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Priority, T("Priority"))
    @Html.TextBoxFor(m => m.Priority, new { @class = "text large" })
    @Html.ValidationMessageFor(m => m.Priority)
</fieldset>
    if (Model.FileName != null) { 
    <fieldset>
        @Html.LabelFor(m => m.FileName, T("File Name"))
        @Html.TextBoxFor(m => m.FileName, new { @class = "text large" })
        @Html.ValidationMessageFor(m => m.FileName)
    </fieldset>
    }
    <input class="button primaryAction" type="submit" value="Add font">
    }
<div style="display:-webkit-box;  margin:20px">
    Select Woff
    @using (Html.BeginForm("UploadWoffFile", "AdminWizard", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <input style="margin-left:30px" type="file" name="file" id="name" />
        <input class="button primaryAction" type="submit" value="Upload File">
    }
</div>
<div style="display:-webkit-box; margin:20px">
    Select Ttf
    @using (Html.BeginForm("UploadTtfFile", "AdminWizard", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <input style="margin-left:42px" type="file" name="file" id="name" />
        <input class="button primaryAction" type="submit" value="Upload File">
    }
</div>
    

