@{
    @model IEnumerable<Teeyoot.Module.Models.FontRecord> 
    Layout.Title = T("Fonts").ToString();
}


<div> <a class="button primaryAction" style="margin-right:5px" href="@Url.Action("AddFont")" title="@T("Add Font")">@T("Add Font")</a></div>
<div> 
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
         
     foreach (var font in Model)
        {
            <div style="margin:5px; border: 1px solid #eaeaea;">
                @font.Family
                <div style="float:right">
                    <a href="@Url.Action("EditFont", new { id = font.Id })" title="@T("Edit")">@T("Edit")</a>@T(" | ")
                    <a href="@Url.Action("DeleteFont", new { id = font.Id, returnUrl = Request.Url.PathAndQuery })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a>
                </div>
            </div>
        }
    }
</div>