@model Teeyoot.Account.ViewModels.CreateAccountViewModel

@using (Html.BeginFormAntiForgeryPost(Url.Action("Register", "Account", new {area = "Teeyoot.Account", returnUrl = Model.ReturnUrl})))
{
    <fieldset>
        <div class="title">
            <legend class="name">@T("Create a new account")</legend>
            <legend class="link">
                <a href="#" onclick="changeLogAndCreate('login-into-teeyoot', 'create-account')">@T("Already have an account?")</a>
            </legend>
        </div>
        <div class="password">
          <label><span class="mandatory">@T("* ")</span>@T("Name")</label>
            @Html.TextBoxFor(model => model.Name)
        </div>
        <div class="password">
           <label><span class="mandatory">@T("* ")</span>@T("Email address")</label>
            @Html.TextBoxFor(model => model.Email)
        </div>
        <div class="password">
            <label>@T("Phone Number")</label>
            @Html.TextBoxFor(model => model.Phone)
        </div>
        <div class="password">
           <label><span class="mandatory">@T("* ")</span>@T("Password")</label>
            @Html.PasswordFor(model => model.Password)
            <p>@T("Must be longer than 7 characters!")</p>
        </div>
        <div class="password">
            <label><span class="mandatory">@T("* ")</span>@T("Confirm Password")</label>
            @Html.PasswordFor(model => model.ConfirmPassword)
        </div>
        <div>
            <button class="button-login" type="submit">@T("Register")</button>
        </div>
    </fieldset>
}