@using Teeyoot.Account
@model Teeyoot.Account.ViewModels.AccountIndexViewModel
@{
    Style.Include("Login.css");
}

<div style="margin-top: 50px;">
    @if (Model.RegistrationValidationIssueOccurred)
    {
        <div class="login-valid">
            @Model.RegistrationValidationSummary
        </div>
    }
    @if (Model.LoggingOnValidationIssueOccurred)
    {
        <div class="login-valid">
            @Model.LoggingOnValidationSummary
        </div>
    }
    @if (Model.PasswordHasBeenUpdated)
    {
        <div class="login-valid">
            @T("Your password has been successfully updated!")
        </div>
    }
    <div class="login">
        <div class="login-and-create">
            <div id="create-account" class="create-account">
                @Html.Partial("CreateAccount", Model.CreateAccountViewModel)
            </div>
            <div id="login-into-teeyoot" class="login-into-teeyoot">
                @Html.Partial("LogOn", Model.LogOnViewModel)
            </div>
        </div>
        <div class="login-with-social-network">
            <div class="title">
                <legend class="name">@T("Or login with...")</legend>
            </div>
            <div class="text">
                @T("Do you already have an account on Facebook or Google? ")<br/>
                @T("Click the logo below to log in:")
            </div>
            <div class="button-social-network">
                <button class="button-facebook" onclick="location.href = '@Html.GetFacebookLogOnUrl(WorkContext)'">
                    <p style="display: inline; margin-right: 10px; font-size: 18px; font-weight: 800;">f</p>@T("Login with Facebook")</button>
            </div>
            <div class="button-social-network">
                <button class="button-google" onclick="location.href = '@Html.GetGoogleLogOnUrl(WorkContext)'">
                    <div style="display: inline-flex; display: -webkit-inline-box !important; display: -ms-inline-flexbox; margin-top: 5px; text-align: -webkit-auto;">
                        <img style="width: 20px; margin-right: 10px;" src="/Media/Default/images/gogle_icon.png"/>
                        <div style="margin-top: 2px;">@T("Login with Google")</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        function changeLogAndCreate(element_id, element_id2) {
            if (document.getElementById(element_id)) {
                var obj = document.getElementById(element_id);
                if (obj.style.display != "block") {
                    obj.style.display = "block";
                    document.getElementById(element_id2).style.display = "none";
                    var footer_margin_top_now = parseInt($('.tb-layout-footer').css("margin-top"));
                    if (element_id == 'login-into-teeyoot') {
                        footer_margin_top_now = footer_margin_top_now + 44;
                    } else {
                        footer_margin_top_now = footer_margin_top_now - 44;
                    }
                    var margin = footer_margin_top_now + "px";
                    document.querySelector(".tb-layout-footer").style.marginTop = margin;
                } else {
                    obj.style.display = "none";
                    document.getElementById(element_id2).style.display = "block";
                }
            }
        }

        var doc_height = $(document).height();
        var page_height = $('#layout-wrapper').height();
        if (page_height <= doc_height) {
            var footer_height_now = $('.tb-layout-footer').height();
            var footer_padding_top_now = parseInt($('.tb-layout-footer').css("padding-top"));
            var footer_padding_bottom_now = parseInt($('.tb-layout-footer').css("padding-bottom"));
            var footer_margin_bottom_now = parseInt($('.tb-layout-footer').css("margin-bottom"));
            var footer_margin_top_now = parseInt($('.tb-layout-footer').css("margin-top"));
            var container_height_now = $('.tb-layout-main-container').height();
            var container_padding_top_now = parseInt($('.tb-layout-main-container').css("padding-top"));
            var container_padding_bottom_now = parseInt($('.tb-layout-main-container').css("padding-bottom"));
            var container_margin_top_now = parseInt($('.tb-layout-main-container').css("margin-top"));
            var container_margin_bottom_now = parseInt($('.tb-layout-main-container').css("margin-bottom"));
            var header_height_now = $('.tb-layout-header').height();
            var header_padding_top_now = parseInt($('.tb-layout-header').css("padding-top"));
            var header_padding_bottom_now = parseInt($('.tb-layout-header').css("padding-bottom"));
            var header_margin_top_now = parseInt($('.tb-layout-header').css("margin-top"));
            var header_margin_bottom_now = parseInt($('.tb-layout-header').css("margin-bottom"));
            var footer_margin_top = doc_height - footer_height_now - footer_padding_top_now - footer_padding_bottom_now - footer_margin_bottom_now - footer_margin_top_now - container_height_now - container_padding_top_now - container_padding_bottom_now - container_margin_top_now - container_margin_bottom_now - header_height_now - header_padding_top_now - header_padding_bottom_now - header_margin_top_now - header_margin_bottom_now - 50;
            var margin = footer_margin_top + "px";
            document.querySelector(".tb-layout-footer").style.marginTop = margin;
        }
    </script>
}