@using Teeyoot.Account
@model Teeyoot.Account.ViewModels.AccountIndexViewModel
@{
    Style.Include("Login.css");
}

@if (Model.RegistrationValidationIssueOccurred)
{
    @Model.RegistrationValidationSummary
}
@if (Model.LoggingOnValidationIssueOccurred)
{
    @Model.LoggingOnValidationSummary
}
@if (Model.FacebookLogOnFailed)
{
    @Model.FacebookLogOnFailedError
}

<div class="login">
    <div class="login-and-create">
        <div id="create-account" class="create-account">
            @Html.Partial("CreateAccount", Model.CreateAccountViewModel)
        </div>
        <div id="login-into-teeyoot" class="login-into-teeyoot">
            @Html.Partial("LogOn", Model.LogOnViewModel)
        </div>
    </div>
    <div class="login-with-social-network">
        <div class="title">
            <legend class="name">@T("Or login with...")</legend>
        </div>
        <div class="text">
            Do you already have an account on Facebook or Google? <br />
            Click the logo below to log in:
        </div>
        <div class="button-social-network">
            <button class="button-facebook" onclick="location.href = '@Html.GetFacebookLogOnUrl(WorkContext)'"><p style="display: inline; margin-right: 10px; font-size: 18px; font-weight: 800;">f</p>@T("Login with Facebook")</button>
        </div>
        <div class="button-social-network">
            <button class="button-google" onclick="location.href = '@Html.GetGoogleLogOnUrl(WorkContext)'"><img src="/Media/Default/images/gogle_icon.png" />@T("Login with Google")</button>
        </div>
    </div>
</div>

@using (Script.Foot())
{
    <script type="text/javascript">
        function changeLogAndCreate(element_id, element_id2) {
            if (document.getElementById(element_id)) {
                var obj = document.getElementById(element_id);
                if (obj.style.display != "block") {
                    obj.style.display = "block";
                    document.getElementById(element_id2).style.display = "none";
                }
                else {
                    obj.style.display = "none";
                    document.getElementById(element_id2).style.display = "block";
                }
            }

        }
    </script>
}