@{
    Style.Include("bootstrap.min.css");
    Style.Include("teebay.css");
    Style.Include("Login.css");
}

@model Teeyoot.Account.ViewModels.RecoverViewModel

@if (Model.RecoverFailed)
{
    @Model.RecoverIssueSummary
}


@using (Html.BeginFormAntiForgeryPost(Url.Action("Recover", "Account")))
{
    <div class="row recover">
        @if (Model.RecoverEmailSent)
        {
            <p class="msg"> @T("An email containing a link that will allow you to change your password has been sent to you. If you do not receive an email in the next ten minutes, please email us.")</p>
        }
        <h4>@T("Request a Password Reset")</h4>
        <div class="col-sm-3 lookupNumber">
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email" })
        </div>
        <div class="col-sm-2">
            <button class="tb-button tb-btn-recover" type="submit">@T("Request")</button>
        </div>
    </div>
}