@model Teeyoot.Account.ViewModels.ResetPasswordViewModel
@{
    Style.Include("Login.css");
}

@if (Model.ResetPasswordIssueOccurred)
{
    @Model.ResetPasswordValidationSummary
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("ResetPassword", "Account", new { area = "Teeyoot.Account" })))
{
    <h4 class="recover-title">@T("Create a new password")</h4>
    <fieldset>
        @Html.HiddenFor(model => model.Nonce)
        <div class="password input-paswd">
            <h4>@T("New Password")</h4>
            @Html.PasswordFor(model => model.Password)
        </div>
        <div class="password input-paswd">
            <h4>@T("Confirm new password")</h4>
            @Html.PasswordFor(model => model.ConfirmPassword)
        </div>
        <button class="button-login btn-recover" type="submit">@T("Change Password") >></button>
    </fieldset>
}