@model Teeyoot.Account.ViewModels.ResetPasswordViewModel

@using (Html.BeginFormAntiForgeryPost(Url.Action("ResetPassword", "Account")))
{
    <h4>@T("Create a new password")</h4>
    <fieldset>
        <div class="password">
            <label>@T("New Password")</label>
            @Html.TextBoxFor(model => model.Password)
        </div>
        <div class="password">
            <label>@T("Confirm new password")</label>
            @Html.TextBoxFor(model => model.ConfirmPassword)
        </div>
        <button class="button-login" type="submit">@T("Change Password") >></button>
    </fieldset>
}