@model Teeyoot.Account.ViewModels.ResetPasswordViewModel

@if (Model.ResetPasswordIssueOccurred)
{
    @Model.ResetPasswordValidationSummary
}

@using (Html.BeginFormAntiForgeryPost(Url.Action("ResetPassword", "Account", new {area = "Teeyoot.Account"})))
{
    <h4>@T("Create a new password")</h4>
    <fieldset>
        @Html.HiddenFor(model => model.Nonce)
        <div class="password">
            <label>@T("New Password")</label>
            @Html.PasswordFor(model => model.Password)
        </div>
        <div class="password">
            <label>@T("Confirm new password")</label>
            @Html.PasswordFor(model => model.ConfirmPassword)
        </div>
        <button class="button-login" type="submit">@T("Change Password") >></button>
    </fieldset>
}