@using Teeyoot.Module.Common.ExtentionMethods
@model  Teeyoot.Module.ViewModels.AdminOrderViewModel
@{
    Style.Include("AdminOrders.css");
    Style.Include("jquery.dataTables.css");
    Script.Require("jQuery");
    Script.Include("jquery.dataTables.min.js");
    
}
@using (Script.Foot())
{
    <script type="text/javascript">
        $(document).ready(function () {


            $('.go').click(function (event) {
                event.preventDefault();
                /* Запрос на сервак */
                var orderId = this.value;
                function getes(request, response) {
                    var result = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "GET",
                        url: "@(Url.Action("GetBuyerInfirmation", "Home"))",
                        data: { "orderId": orderId },
                        success: function (data) {
                            $("#firstName").html(data.firstName);
                            $("#lastName").html(data.lastName);
                            $("#streetAdress").html(data.streetAdress);
                            $("#city").html(data.city);
                            $("#country").html(data.country);
                            $("#phoneNumber").html(data.phoneNumber);
                        }, error: function (data, status, resp) {
                            alert('Status: ' + data.status + '. Error message: ' + data.statusText);
                        }
                    });
                };
                /* End Запрос на сервак */
                console.log(getes())
                $('#overlay').fadeIn(400,
                    function () {
                        $('#modal_form')
                            .css('display', 'block')
                            .animate({ opacity: 1, top: '50%' }, 200);
                    });
            });




            $('.ordNumber').click(function (event) {
                event.preventDefault();
                /* Запрос на сервак */
                var orderId = this.innerHTML;
                function getesOrder(request, response) {
                    var result = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "GET",
                        url: "@(Url.Action("GetOrderInfirmation", "Home"))",
                        data: { "publicId": orderId },
                        success: function (data) {
                            var modal = document.getElementById("modalOrderTable");
                            var trs = modal.querySelectorAll("tr");
                            if (trs.length > 1) {
                                for (var i = 1; i < trs.length; i++) {
                                    trs[i].parentNode.removeChild(trs[i]);
                                }

                            }

                            data.products.forEach(function (item, i, arr) {

                                var tr = document.createElement("tr");
                                var tdName = document.createElement("td")
                                var tdColor = document.createElement("td")
                                var tdSize = document.createElement("td");
                                var tdCount = document.createElement("td");
                                var tdPrice = document.createElement("td");

                                var pName = document.createElement("p");
                                pName.innerHTML = item.Name;

                                var divColor = document.createElement("div");
                                divColor.style.height = "18px";
                                divColor.style.width = "18px";
                                divColor.style.backgroundColor = item.Color;
                                divColor.style.border = "solid 1px";

                                var pSize = document.createElement("p");
                                pSize.innerHTML = item.Size;
                                var pCount = document.createElement("p");
                                pCount.innerHTML = item.Count;
                                var pPrice = document.createElement("p");
                                pPrice.innerHTML = item.Currency + " " + item.Price;



                                tdName.appendChild(pName);
                                tdColor.appendChild(divColor);
                                tdSize.appendChild(pSize);
                                tdCount.appendChild(pCount);
                                tdPrice.appendChild(pPrice);

                                tr.appendChild(tdName);
                                tr.appendChild(tdColor);
                                tr.appendChild(tdSize);
                                tr.appendChild(tdCount);
                                tr.appendChild(tdPrice);

                                modal.appendChild(tr);
                            });
                            var totalPrice = document.getElementById("totalPrice");
                            totalPrice.innerHTML = "Total price : ";
                            totalPrice.innerHTML = totalPrice.innerHTML + data.products[0].Currency + " " + data.totalPrice.toFixed(2);

                            //$("#firstName").html(data.firstName);
                            //$("#lastName").html(data.lastName);
                            //$("#streetAdress").html(data.streetAdress);
                            //$("#city").html(data.city);
                            //$("#country").html(data.country);
                            //$("#phoneNumber").html(data.phoneNumber);

                        }, error: function (data, status, resp) {
                            alert('Status: ' + data.status + '. Error message: ' + data.statusText);
                        }
                    });
                };
                /* End Запрос на сервак */
                console.log(getesOrder())
                $('#overlay_order').fadeIn(400,
                    function () {
                        $('#modal_form_order')
                            .css('display', 'block')
                            .animate({ opacity: 1, top: '50%' }, 200);
                    });
            });


















            /* Зaкрытие мoдaльнoгo oкнa, тут делaем тo же сaмoе нo в oбрaтнoм пoрядке */
            $('#modal_close, #overlay').click(function () {
                $('#modal_form')
                    .animate({ opacity: 0, top: '45%' }, 200,
                        function () { // пoсле aнимaции
                            $(this).css('display', 'none');
                            $('#overlay').fadeOut(400);
                        }
                    );
            });



            /* Зaкрытие мoдaльнoгo oкнa, тут делaем тo же сaмoе нo в oбрaтнoм пoрядке */
            $('#modal_close_order, #overlay_order').click(function () {
                $('#modal_form_order')
                    .animate({ opacity: 0, top: '45%' }, 200,
                        function () { // пoсле aнимaции
                            $(this).css('display', 'none');
                            $('#overlay_order').fadeOut(400);
                        }
                    );
            });
        });

    </script>
}
@*<div style="margin-bottom:15px;">
    <fieldset class="bulk-actions">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <span>
                @Html.LabelFor(m => m.SearchString, T("Campaign name")):
                @Html.TextBoxFor(m => m.SearchString)
            </span>

            <button type="submit">@T("Apply")</button>
            <a href="@Url.Action("Index")">@T("By Default")</a>
        }


    </fieldset>
</div>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}
@{
    <fieldset>
        <label>
            Order Status
            <select>
                <option>@T("All")</option>
                @foreach (var orderStatus in Model.OrderStatuses)
                {
                    <option value="@orderStatus.Id">@orderStatus.Name</option>
                }
            </select>
        </label>
    </fieldset>
    <fieldset>
        <table class="items" id="order-table">
            <thead>
            <tr class="admin-categories">
                <th class="publicId">
                    <h3>@T("Order ID")</h3>
                </th>
                <th class="publicId">
                    <h3>@T("Order Number")</h3>
                </th>
                <th class="publicId">
                    <h3>@T("Order Date")</h3>
                </th>
                <th class="buyer">
                    <h3>@T("Buyer")</h3>
                </th>
                <th class="campaign">
                    <h3>@T("Campaign ID")</h3>
                </th>
                <th class="campaign">
                    <h3>@T("Campaign")</h3>
                </th>
                <th class="seller">
                    <h3>@T("Seller")</h3>
                </th>
                <th class="profit">
                    <h3>@T("Profit")</h3>
                </th>
                <th class="status">
                    <h3>@T("Status")</h3>
                </th>
                <th class="payout">
                    <h3>@T("Payment Status")</h3>
                </th>
            </tr>
            </thead>

            <tbody>
            @foreach (var item in Model.DynamicOrders)
            {
                <tr class="admin-categories-tr">
                    <td>
                        @item.Id
                    </td>
                    <td class="publicId">
                        <a class="ordNumber"> @item.PublicId</a>
                    </td>
                    <td>
                        @item.CreateDate
                    </td>
                    <td class="buyer">
                        @item.EmailBuyer
                        <button class="go" type="submit" value="@item.Id">
                            @T("inf")
                        </button>
                    </td>
                    <td>
                        @item.CampaignId
                    </td>
                    <td class="campaign">
                        @item.CampaignName
                    </td>
                    <td class="seller">
                        @item.UserNameSeller
                    </td>
                    <td class="profit">
                        @T("RM ")
                        @item.Profit
                    </td>
                    <td class="status">
                        @using (Html.BeginForm("ApplyStatus", "Home", FormMethod.Get))
                        {
                            <input type="hidden" value="@item.Id" name="orderId"/>

                            <select name="orderStatus">
                                @foreach (Teeyoot.Module.Common.Enums.OrderStatus s in Enum.GetValues(typeof (Teeyoot.Module.Common.Enums.OrderStatus)))
                                {
                                    if (s.ToString() == item.Status)
                                    {
                                        <option selected value="@s">
                                            @s.ToString().SplitCamelCase()
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@s">
                                            @s.ToString().SplitCamelCase()
                                        </option>
                                    }
                                }
                            </select>
                            <button class="apply" type="submit">
                                @T("Apply")
                            </button>
                        }
                    </td>
                    <td class="payout">
                        @if (item.Payout)
                        {
                            @T("Paid")
                        }
                        else
                        {
                            @T("Not paid | ")
                            <a href="@Url.Action("EditStatusPayout", new {publicId = item.PublicId, profit = item.Profit, sellerId = item.SellerId})" class="paid">@T("Paid")</a>
                        }
                    </td>
                </tr>


            }
            </tbody>
        </table>

    </fieldset>
    @*@Display(Model.Pager)*@
}
<fieldset>
    <div id="modal_form" style="">
        @Html.Partial("ModalBuyer")
    </div>
    <div id="overlay"></div>
</fieldset>


<fieldset>
    <div id="modal_form_order" style="">
        @Html.Partial("ModalOrder")
    </div>
    <div id="overlay_order"></div>
</fieldset>

@using (Script.Foot())
{
    <script>
        $(document).ready(function () {
            //var campaignTable = $('#order-table').dataTable({ "aaSorting": [[1, 'desc']] });
            var campaignTable = $('#order-table').dataTable({
                "aLengthMenu": [[5, 10, 25, 50, 100, 500, 1000, -1], [5, 10, 25, 50, 100, 500, 1000, "All"]],
                iDisplayLength: 10,
                aaSorting: [[1, 'desc']],
                bSortable: true,
                aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [1], "bSortable": true, "sType": "date-eu" },
                { "aTargets": [2], "bSortable": false },
                { "aTargets": [3], "bSortable": true },
                { "aTargets": [4], "bSortable": true },
                { "aTargets": [5], "bSortable": true },
                { "aTargets": [6], "bSortable": true },
                { "aTargets": [7], "bSortable": false }
                ]
            });
        });

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "date-eu-pre": function (date) {
                date = date.replace(" ", "");

                if (!date) {
                    return 0;
                }

                var year;
                var eu_date = date.split(/[\.\-\/]/);

                /*year (optional)*/
                if (eu_date[2]) {
                    year = eu_date[2];
                }
                else {
                    year = 0;
                }

                /*month*/
                var month = eu_date[1];
                if (month.length == 1) {
                    month = 0 + month;
                }

                /*day*/
                var day = eu_date[0];
                if (day.length == 1) {
                    day = 0 + day;
                }

                return (year + month + day) * 1;
            },

            "date-eu-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "date-eu-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });     
    </script>
}