
<h1>@T("Order information")</h1>
<table class="items" id="modalOrderTable">
    <thead>
        <tr>
            <th class="note1">
                <h3 class="val">@T("Name")</h3>
            </th>
            <th class="val">
                <h3 class="val">@T("Color")</h3>
            </th>
            <th>
                <h3 class="val">@T("Size")</h3>
            </th>
            <th>
                <h3 class="val">@T("Count")</h3>
            </th>
            <th>
                <h3 class="val">@T("Price")</h3>
            </th>

        </tr>
    </thead>
   
</table>

<h2 id="totalPrice"></h2>





