<h1>@T("Buyer information")</h1>
<table class="bord">
    <tr>
        <td class="note1">
            <p class="val">@T("First Name: ")</p>
        </td>
        <td>
            <p class="val" id="firstName"></p>
        </td>

    </tr>
    <tr>
        <td class="note1">
            <p class="val">@T("Last Name: ")</p>
        </td>
        <td>
            <p class="val" id="lastName"></p>
        </td>
    </tr>
    <tr>
        <td class="note">
            <p class="val">@T("Street Adress: ")</p>
        </td>
        <td>
            <p class="val" id="streetAdress"></p>
        </td>
    </tr>

    <tr>
        <td class="note">
            <p class="val">@T("City: ")</p>
        </td>
        <td>
            <p class="val" id="city"></p>
        </td>
    </tr>
    <tr>
        <td class="note">
            <p class="val">@T("Postal code: ")</p>
        </td>
        <td>
            <p class="val" id="postalCode"></p>
        </td>
    </tr>
    <tr>
        <td class="note">
            <p class="val">@T("State: ")</p>
        </td>
        <td>
            <p class="val" id="state"></p>
        </td>
    </tr>

    <tr>
        <td class="note">
            <p class="val">@T("Country: ")</p>
        </td>
        <td>
            <p class="val" id="country"></p>
        </td>
    </tr>

    <tr>
        <td class="note">
            <p class="val">@T("Phone Number: ")</p>
        </td>
        <td>
            <p class="val" id="phoneNumber"></p>
        </td>
    </tr>
    


</table>



