@model  Teeyoot.Dashboard.ViewModels.PayoutsViewModel
@{
    Style.Include("AdminPayout.css");
    //Style.Include("bootstrap.min.css");
}

@using (Script.Foot())
{
    
    
    
    
    <script type="text/javascript">




        $(document).ready(function () {
            $('.go').click(function (event) {
                event.preventDefault();
                /* Запрос на сервак */

                var inf = this.value.split(',');
                 function getes(request, response) {
                    var result = new Array();
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "GET",
                        url: "@(Url.Action("GetPayoutInfirmation", "Tranzaction"))",
                        data: { "userId": inf[0], "tranzId": inf[1] },
                        success: function (data) {
                            $("#userName").html(data.userName);
                            $("#email").html(data.email);
                            $("#accNumber").html(data.accountNumber);
                            $("#bankName").html(data.bankName);
                            $("#contNumber").html(data.contactNumber);
                            $("#mesAdmin").html(data.mesAdmin);
                            $("#accHoldName").html(data.accountHolderName);
                    }, error: function (data, status, resp) {
                        alert('Status: ' + data.status + '. Error message: ' + data.statusText);
                    }});
            };


                /* End Запрос на сервак */
                console.log(getes())
                $('#overlay').fadeIn(400,
                    function () {
                        $('#modal_form')
                            .css('display', 'block')
                            .animate({ opacity: 1, top: '50%' }, 200);
                    });
            });
            /* Зaкрытие мoдaльнoгo oкнa, тут делaем тo же сaмoе нo в oбрaтнoм пoрядке */
            $('#modal_close, #overlay').click(function () {
                $('#modal_form')
                    .animate({ opacity: 0, top: '45%' }, 200,
                        function () { // пoсле aнимaции
                            $(this).css('display', 'none');
                            $('#overlay').fadeOut(400);
                        }
                    );
            });
        });



        </script>
    }




@{

    <div>
        @using (Html.BeginForm("Index", "Tranzaction", FormMethod.Get))
        {
            <fieldset class="bulk-actions">
                @T("Filter:")
                @Html.DropDownListFor(model => model.filter, new SelectList(
                  new List<Object>{
                       new { value = 0 , text = "All"  },
                       new { value = 1 , text = "Pending"  },
                       new { value = 2 , text = "Completed" },
                    },
                  "value",
                  "text",
                   0))


                <button type="submit">@T("Apply")</button>
            </fieldset>
        }
    </div>

    <fieldset>
        <table class="items">
            <thead>
                <tr class="admin-categories">
                    <th class="date">
                        <h3>@T("DATE")</h3>
                    </th>
                    <th class="event">
                        <h3>@T("EVENT")</h3>
                    </th>
                    <th class="amount">
                        <h3>@T("AMOUNT")</h3>
                    </th>
                    <th class="status">
                        <h3>@T("STATUS")</h3>
                    </th>
                    <th class="userId">
                        <h3>@T("USER ID")</h3>
                    </th>
                    <th class="inf">
                        <h3></h3>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.Transacts)
                {
                    <tr class="admin-categories-tr">
                        <td class="date">
                            @item.Date
                        </td>
                        <td class="event">
                            @item.Event
                        </td>
                        <td class="amount">
                            @if (@item.IsPlus)
                            {
                                @T("+ ")@item.Amount

                            }
                            else
                            {
                                @T("- ")@item.Amount

                            }
                        </td>
                        <td class="status">
                            @item.Status
                            @if (@item.Status == "pending")
                            {
                                @T(" | ")
                                <a href="@Url.Action("EditStatus", new { id=item.Id})" title="@T(" Completed")">@T("Completed")</a>
                            }

                        </td>
                        <td class="userId">
                            @item.UserId
                        </td>
                        <td class="inf">
                            <button class="go" type="submit" value="@item.UserId,@item.Id">@T("inf")
                            </button>
                        </td>
                    </tr>


                }
            </tbody>
        </table>

    </fieldset>
    @Display(Model.Pager)

}



<fieldset>
    <div id="modal_form" style="">
        @Html.Partial("PaymentUserInformation")
    </div>
    <div id="overlay"></div> 
</fieldset>