<h1>@T("User information")</h1>
<table class="bord">
    <tr>
        <td class="note1">
            <p class="val">@T("UserName: ")</p>
        </td>
        <td>
            <p class="val" id="userName"></p>
        </td>

    </tr>
    <tr>
        <td class="note1">
            <p class="val">@T("Email: ")</p>
        </td>
        <td>
            <p class="val" id="email"></p>
        </td>
    </tr>
    </table>
        <h1 style="margin-top:20px">@T("Payout information")</h1>
<table>
    <tr>
        <td class="note">
            <p class="val">@T("Account number: ")</p>
        </td>
        <td>
            <p class="val" id="accNumber"></p>
        </td>
    </tr>

    <tr>
        <td class="note">
            <p class="val">@T("Bank name: ")</p>
        </td>
        <td>
            <p class="val" id="bankName"></p>
        </td>
    </tr>

    <tr>
        <td class="note">
            <p class="val">@T("Contact number: ")</p>
        </td>
        <td>
            <p class="val" id="contNumber"></p>
        </td>
    </tr>

    <tr>
        <td class="note">
            <p class="val">@T("Account holder name: ")</p>
        </td>
        <td>
            <p class="val" id="accHoldName"></p>
        </td>
    </tr>

    <tr>
        <td class="note">
            <p class="val">@T("Message admin: ")</p>
        </td>
        <td>
            <p class="val" id="mesAdmin"></p>
        </td>
    </tr>




</table>


