@model  List<Teeyoot.Module.ViewModels.CampaignRelRequestViewModel>
@{
    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Include("bootstrap.min.js");
    Style.Include("Message.css");
    Style.Include("jqueryui.css");
    Script.Include("jquery.dataTables.min.js");
    Style.Include("jquery.dataTables.css");
    Layout.Title = T("Relaunch Campaigns Requests").ToString();
}

@using (Script.Foot())
{
    <script>
        function showRequesters(id) {
            var modalId = "#" + id;
            $(modalId).modal('show');
        }

        $(document).ready(function () {
            var campaignTable = $('#request-table').dataTable({
                "aLengthMenu": [[5, 10, 25, 50, 100, 500, 1000, -1], [5, 10, 25, 50, 100, 500, 1000, "All"]],
                iDisplayLength: 10,
                aaSorting: [[1, 'desc']],
                bSortable: true,
                aoColumnDefs: [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": [1], "bSortable": true },
                { "aTargets": [2], "bSortable": true },
                { "aTargets": [3], "bSortable": true },
                { "aTargets": [4], "bSortable": false }

                ]
            });
        });
    </script>
}

@{
    var i = 1;
    <fieldset>
        <table id="request-table" class="items">
            <thead>
                <tr class="admin-categories">
                    <th class="date">
                        <h3>@T("Campaign Id")</h3>
                    </th>
                    <th class="date">
                        <h3>@T("Campaign Title")</h3>
                    </th>
                    <th class="userId">
                        <h3>@T("Seller")</h3>
                    </th>
                    <th class="subject">
                        <h3>@T("Requests count")</h3>
                    </th>
                    <th class="sender">
                        <h3>@T("Info")</h3>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="admin-categories-tr">
                        <td class="date">
                            @item.CampaignId
                        </td>
                        <td class="date">
                            <a href="~/@item.CampaignAlias">@item.CampaignTitle</a>
                        </td>
                        <td class="userId">
                            @item.Seller.Email
                        </td>
                        <td class="subject">
                            @item.CntRequests
                        </td>
                        <td class="inf">
                            <a class="button" onclick="showRequesters(@item.CampaignId)" title="@T("Requesters")">@T("Requesters")</a>
                        </td>

                    </tr>
                    <div id=@item.CampaignId class="bootstrap-wysihtml5-insert-image-modal modal fade modWindow in" style="display: none; ">
                        <div style="margin-left:8%; min-height: 246px;" class="admin-categories">
                            <h1> Requesters emails:</h1>
                            <div class="div-table">
                                <div class="div-table-header">
                                    <div class="div-table-num" style="margin-left:1%">Num</div>
                                    <div class="div-table-col" style="margin-left:3%">Email</div>
                                </div>
                                @foreach (var request in item.Requests)
                                {
                                    <div class="div-table-row">
                                        <div class="div-table-num" style="margin-left:4%">@i </div>
                                        <div class="div-table-col">@request.Email</div>                                        
                                    </div>
                                    i++;
                                }
                            </div>
                        </div>
                        <div class="modal-buttons" style="margin-top:10px;margin-bottom:10px; ">
                            <a data-dismiss="modal" class="send-button" style="margin-left: 20%">CLOSE</a>
                        </div>

                    </div>
                }
            </tbody>
        </table>

    </fieldset>

}

