@model  List<Teeyoot.Module.Models.PromotionRecord>
@{
    Script.Require("jQuery");
    Script.Require("jQueryUI");
    Script.Include("bootstrap.min.js");
    Style.Include("Message.css");
    Style.Include("jqueryui.css");
    Script.Include("jquery.dataTables.min.js");
    Style.Include("jquery.dataTables.css");
    Layout.Title = T("Promotions").ToString();
}

@using (Script.Foot())
{
    <script>
        function showRequesters(id) {
            var modalId = "#"+id; 
            $(modalId).modal('show');
        }

        function addAntiForgeryToken(data) {
            data.__RequestVerificationToken = "@Html.AntiForgeryTokenValueOrchard()";
            return data;
        };


    function changeState(id)
    {

        var args = {};
        var elId = "switch_" + id;
        args.switchState = document.getElementById(elId).checked;
        args.id = id;

        $.ajax({

            async: false,
            cache: false,
            type: "POST",
            url: "@Url.Action("ChangeState", "AdminPromotions")",
            data: addAntiForgeryToken({"id" : args.id, "switchState": args.switchState}),
        success: function (msg) {
            // Something afterwards here

        }
    });

    }


        $(document).ready(function () {
                   var campaignTable = $('#promotions-table').dataTable({
                        "aLengthMenu": [[5, 10, 25, 50, 100, 500, 1000, -1], [5, 10, 25, 50, 100, 500, 1000, "All"]],
                        iDisplayLength: 10,
                        aaSorting: [[1, 'desc']],
                        bSortable: true,
                        aoColumnDefs: [
                        { "aTargets": [0], "bSortable": true },
                        { "aTargets": [1], "bSortable": true },
                        { "aTargets": [2], "bSortable": true },          
                        { "aTargets": [3], "bSortable": false },
                        { "aTargets": [4], "bSortable": false },
                        { "aTargets": [5], "bSortable": false },
                        { "aTargets": [6], "bSortable": true },
                        { "aTargets": [7], "bSortable": true },
                        { "aTargets": [8], "bSortable": true },
                        { "aTargets": [9], "bSortable": true },
                        { "aTargets": [10], "bSortable": false }
                        
                        ]
                    });
                });
    </script>
}

@{
    <fieldset>
        <table id="promotions-table" class="items">
            <thead>
                <tr class="admin-categories">
                    <th class="date">
                        <h3>@T("ID")</h3>
                    </th>
                    <th class="userId">
                        <h3>@T("Promotion code")</h3>
                    </th>
                    <th class="subject">
                        <h3>@T("Amount")</h3>
                    </th>
                    <th class="sender">
                        <h3>@T("Campaign Id")</h3>
                    </th>
                    <th class="sender">
                        <h3>@T("Campaign name")</h3>
                    </th>
                    <th class="sender">
                        <h3>@T("Campaigner name")</h3>
                    </th>
                    <th class="sender">
                        <h3>@T("Created on")</h3>
                    </th>
                    <th class="sender">
                        <h3>@T("Expires on")</h3>
                    </th>
                    <th class="sender">
                        <h3>@T("Redeemed")</h3>
                    </th>
                    <th class="sender">
                        <h3>@T("Status")</h3>
                    </th>
                    <th class="sender">
                        <h3>@T("URL")</h3>
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="admin-categories-tr">
                        <td class="date">
                            @item.Id
                        </td>
                        <td class="userId">
                            @item.PromoId
                        </td>
                        <td class="subject">
                            @if (item.AmountType == "%") { 
                                @item.AmountSize.ToString("F", System.Globalization.CultureInfo.InvariantCulture)@T(" ")@item.AmountType
                            }
                            else
                            {
                                @item.AmountType@T(" ")@item.AmountSize.ToString("F", System.Globalization.CultureInfo.InvariantCulture)

                            }
                        </td>
                        <td class="inf">
                           
                        </td>
                        <td class="inf"></td>
                        <td class="inf"></td>
                        <td class="inf">
                            @if (item.Created != null)
                            {
                                @item.Created;
                            }
                            else
                            {
                                 @T("-")
                            }
                        </td>
                        <td class="inf">
                            @if (item.Expiration.Year == DateTime.MaxValue.Year)
                            {
                            @T("Never")
                            }
                            else
                            {
                            @item.Expiration.ToString("dd/MM/yyyy");
                            }
                        </td>
                        <td class="inf">
                            @item.Redeemed
                        </td>
                        <td id="status">
                            @if (item.Expiration < DateTime.UtcNow)
                            {
                                <div class="list_item__cell list_item__status">
                                    <label class="switch__label">
                                        <input id="switch_@item.Id" checked="@item.Status" class="switch__input promotion__status__checkbox" name="active" type="checkbox" onclick="changeState(@item.Id)" />
                                        <div class="switch__el" data-off="Off" data-on="On"></div>
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div class="list_item__cell list_item__status">
                                    <label class="switch__label">

                                        <input id="switch_@item.Id" checked="@item.Status" class="switch__input promotion__status__checkbox" name="active" type="checkbox" onclick="changeState(@item.Id)" />
                                        <div class="switch__el" data-off="Off" data-on="On"></div>
                                    </label>
                                </div>
                            }
                            @*@if (item.Status)
                            {
                                @T("ON | ")
                                <button onclick="changeState(@item.Id, false)" class="paid">@T("OFF")</button>
                            }
                            else
                            {
                                <button onclick="changeState(@item.Id, true)" class="paid">@T("ON")</button>
                                @T("| OFF")
                            }*@
                        </td>
                        <td class="inf">

                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>

    </fieldset>

}

